<section class="job_holder">
  <!--job_holder-->
  <div class="title">
    <!--title-->
    <h2>Jobs</h2>
    <div>
      <a class="mr-4 text_blue">Showing 210 records</a>
      <select class="custom-select form-control">
        <option selected>Jan</option>
        <option>Feb</option>
      </select>
    </div>
  </div>
  <!--title-->

  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>Ongoing Jobs</ng-template>
      <ng-template ngbTabContent class="px-0">
        <div class="table_row">
          <!--table_row-->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-left">BRAND NAME</th>
                  <th>CONTENT DUE DATE</th>
                  <th>LAUNCH DATE</th>
                  <th>COMPANY</th>
                  <th>JOB STATUS</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of jobsArr; let i=index">
                  <td class="text-left"><a routerLink="../job-details"><strong>ABCRX</strong></a></td>
                  <td>02nd Mar 2019</td>
                  <td>22nd Apr 2022</td>
                  <td>AJ INFOTECH</td>
                  <td>
                    <div ngbDropdown [placement]="(i+1) === jobsArr.length ? 'top' : 'bottom'">
                      <a class="more" ngbDropdownToggle><i _ngcontent-c6="" aria-hidden="true"
                          class="fa fa-check"></i><span class="mr-3">{{item.statusText}}</span></a>
                      <div ngbDropdownMenu class="p-2">
                        <ul class="list-group">
                          <li class="list-group-item border-0 p-1 text-gray cursor-pointer text-uppercase" (click)="statusMode('In Progress', i)">In Progress</li>
                          <li class="list-group-item border-0 p-1 text-gray cursor-pointer text-uppercase" (click)="statusMode('Content submitted', i)">Content submitted</li>
                          <li class="list-group-item border-0 p-1 text-gray cursor-pointer text-uppercase" (click)="statusMode('Content Approved', i)">Content Approved</li>
                          <li class="list-group-item border-0 p-1 text-gray cursor-pointer text-uppercase" (click)="statusMode('Published', i)">Published</li>
                          <li class="list-group-item border-0 p-1 text-gray cursor-pointer text-uppercase" (click)="statusMode('Paid', i)">Paid</li>
                        </ul>
                      </div>
                    </div>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--table_row-->
      </ng-template>
    </ngb-tab>

    <ngb-tab>
      <ng-template ngbTabTitle>Past Jobs</ng-template>
      <ng-template ngbTabContent class="px-0">
        <div class="table_row">
          <!--table_row-->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-left">BRAND NAME</th>
                  <th>CONTENT DUE DATE</th>
                  <th>LAUNCH DATE</th>
                  <th>COMPANY</th>
                  <th>JOB STATUS</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let item of [0,1,2,3,4,5]; let i=index">
                  <td class="text-left"><strong>ABCRX</strong></td>
                  <td>02nd Mar 2019</td>
                  <td>22nd Apr 2022</td>
                  <td>AJ INFOTECH</td>
                  <td>
                    <a class="text-success">
                      <i _ngcontent-c6="" aria-hidden="true" class="fa fa-check"></i>
                      PAID
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--table_row-->
      </ng-template>
    </ngb-tab>
  </ngb-tabset>


</section>
<!--job_holder-->