<section class="message_holder influencers_message"><!--message_holder-->
  <div class="title"><!--title-->
    <h2>Current Messages</h2>
  </div><!--title-->

  <div class="table_row"><!--table_row-->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Campaign Name</th>
            <th>Brand Owner</th>
            <th>Influencer Name</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of [1,2,3,4,5,6]">
            <td>
                Sillicon Smart
            </td>
            <td>
              <strong  routerLink="../messages-details">ABCRX</strong>
            </td>
            <td>
              <a class="d-flex align-items-center">
                  <img src="assets/front_end/images/testimonial_img.jpg" alt="">
                  <strong>Harold Williams</strong>
                </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div><!--table_row-->
</section><!--message_holder-->
