<section class="resource_holder">
  <!--resource_holder-->
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="title">
          <!--title-->
          <h2>Case Studies</h2>
        </div>
        <!--title-->


        <div class="resource_top resource_bottom">
          <!--resource_bottom-->
          <ul class="resource_box">
            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Lorem ipsum dolor sit amet, consectetur</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Suspendisse interdum sem laoreet</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Ultimate guide on Controlling the Interface</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Lorem ipsum dolor sit amet, consectetur</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Suspendisse interdum sem laoreet</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Ultimate guide on Controlling the Interface</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>
            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Lorem ipsum dolor sit amet, consectetur</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Suspendisse interdum sem laoreet</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Ultimate guide on Controlling the Interface</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Lorem ipsum dolor sit amet, consectetur</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Suspendisse interdum sem laoreet</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

            <li>
              <figure>
                <img src="assets/front_end/images/resource-pic1.jpg" alt="">
              </figure>
              <h4>Ultimate guide on Controlling the Interface</h4>
              <p>Nullam eu lectus purus. Pellentesque lobortis ullamcorper sapien.</p>
              <a>Download</a>
            </li>

          </ul>
          <!--resource_bottom-->
          <!--back_Resources-->
          <div class="back_blog">
            <a routerLink="/resources"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Back to Resources</a>
          </div>
          <!--back_Resources-->
        </div>
      </div>
    </div>
  </div>
</section>
<!--resource_holder-->