<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <section class="content-header">
                <h1 class="adddrop">Site Settings <small>This section allows you to manage site settings</small></h1>
                <ol class="breadcrumb">
                    <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li>Site Settings List</li>
                </ol>
            </section>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-bordered row-bordered">
                    <thead>
                        <tr>
                            <th>Setting Name</th>
                            <th>Setting Value</th>
                            <th> Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let setting of sitesetting">
                            <td>{{ setting.setting_name }}</td>
                            <td>{{ setting.setting_value }} </td>
                            <td>
                                <a title="Edit" routerLink="/sitesettings-edit/{{ setting.id}}"><i
                                        class="fa fa-pencil-square-o"></i> </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>