<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<section class="content-header">
				<h1 class="adddrop">Influencer List <small>This section allows you show Influencer List</small></h1>
				<ol class="breadcrumb">
					<li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Influencer List</li>
				</ol>
			</section>
			<div class="float-right p-2"><a routerLink="/add-influencer"> <button type="button" class="btn btn-primary">+Add
						Influencer</button> </a></div>
			<div class="table-responsive">
				<table class="table table-striped table-bordered row-bordered" style="width:100%" datatable
					[dtOptions]="dtOptions" [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
					<thead>
						<tr>
							<th> Image</th>
							<th> Platform (Register by) </th>
							<th>Name</th>
							<th>Email</th>
							<th>Company Name</th>
							<th>Contact Number</th>
							<th>Status</th>
							<th>Action</th>
						</tr>
					</thead>
					<tfoot style="display: table-header-group;">
						<tr>
							<th></th>
							<th><input class="form-control" type="text" placeholder="Search Platform" /></th>
							<th><input class="form-control" type="text" placeholder="Search name" /></th>			
							<th><input class="form-control" type="text" placeholder="Search Email" /></th>
							<th><input class="form-control" type="text" placeholder="Search Company name" /></th>
							<th><input class="form-control" type="text" placeholder="Search Contact Number" /></th>
							<th></th>
							<th></th>
						</tr>
					</tfoot>
						<tr *ngFor="let creatorList of creatorData; let i= index;">
							<td class="py-1"><img _ngcontent-c6="" alt="profile image" class="img-sm rounded-circle mb-4 mb-md-0" src="assets/images/faces/{{creatorList.profile_img}}"></td>
							<td>
								<div *ngIf="creatorList.platform_id==1">Facebook</div>
								<div *ngIf="creatorList.platform_id==2">Twitter</div>
								<div *ngIf="creatorList.platform_id==3">Youtube</div>
							</td>
							<td> {{ creatorList.first_name }} {{creatorList.last_name}}</td>
							<td>{{ creatorList.email}} </td>
							<td> {{ creatorList.company_name}}</td>
							<td>{{ creatorList.contact_No}}</td>
						
							<td> <span
									class="btn {{(creatorList.status=='Active')? 'btn-success':'btn-danger'}} btn-xs">{{ creatorList.status}}
								</span>
							</td>
							<td>
								<span style="padding: 4px">
									<a routerLink="/edit-influencer/{{ creatorList.id }}" title="Edit"><i
											class=" fa fa-pencil-square-o"></i> </a>
								</span>
								<span style="padding: 4px">
										<a routerLink="/influencer-details/{{ creatorList.id }}" title="Details"><i
												class=" fa fa-list"></i> </a>
									</span>
								<span style="padding: 4px">
									<i class=" fa fa-trash actionIcons color-theme-2" (click)="deleteCreator(creatorList.id)"
										title="Delete">
									</i>
								</span>
								<span style="padding: 4px">
									<a routerLink="/received-invitation/{{ creatorList.id }}"><i class=" fa fa-envelope"
											title="View Invitation"> </i></a>
								</span>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>