<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
   
      <section class="content-header">
        <h1 class="adddrop">Brand Owner List <small>This section allows show you Brand Owner List</small></h1>
        <ol class="breadcrumb">
            <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Brand Owner List</li>
        </ol>
    </section>

      <div class="float-right p-2"><a routerLink="/add-brand-owner"> <button type="button" class="btn btn-primary">+Add
            Brand Owner</button> </a></div>
            
      <div class="table-responsive">
        <table class="table table-striped" class="table table-striped table-bordered row-bordered" style="width:100%"
          datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
          <thead>
            <tr><th>Company logo</th>
              <th>Name</th>
              <th>Company Name</th>
              <th>Industry</th>
              <th>Company Type</th>
              <th>Country</th>
              <th>Phone Number</th>
              <th>Email</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tfoot style="display: table-header-group;">
            <tr>
              <th></th>
              <th><input class="form-control" type="text" placeholder="Search Name" /></th>
              <th><input class="form-control" type="text" placeholder="Search Company Name" /></th>
              <th><input class="form-control" type="text" placeholder="Search Industry" /></th>
              <th><input class="form-control" type="text" placeholder="Search Company Type" /></th>
              <th><input class="form-control" type="text" placeholder="Search Country" /></th>
              <th><input class="form-control" type="text" placeholder="Search Phone No" /></th>
              <th><input class="form-control" type="text" placeholder="Search Email" /></th>
              <th></th>
              <th></th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let brandOwnerList of brandOwnerData; let i= index;">
              <td> <img _ngcontent-c6="" alt="profile image" class="img-sm rounded-circle mb-4 mb-md-0" src="assets/images/company_logo/{{ brandOwnerList.logo_name}}"></td>
              <td>{{ brandOwnerList.fname}} {{ brandOwnerList.lname}}</td>
              <td> {{ brandOwnerList.comapany_name}}</td>
              <td>{{ brandOwnerList.industry}}</td>
              <td>{{ brandOwnerList.company_type}}</td>
              <td>{{ brandOwnerList.country}}</td>
              <td> {{ brandOwnerList.company_ph_no}} </td>
              <td> {{ brandOwnerList.email}}</td>
              <td> <span class="btn {{(brandOwnerList.status=='Active')? 'btn-success':'btn-danger'}} btn-xs">{{ brandOwnerList.status}}</span></td>
              <td>
                <span style="padding: 4px"><a routerLink="/editbrand-owner/{{ brandOwnerList.id }}" title="Edit"><i
                      class=" fa fa-pencil-square-o"></i> </a></span>
                <span style="padding: 4px"> <i class=" fa fa-trash-o" (click)="deleteBrandOwnder(brandOwnerList.id)"
                    title="Delete"> </i></span>
                    <span style="padding: 4px"> <a routerLink="/jobs/{{ brandOwnerList.id }}"><i class=" fa fa-eye"
                      title="View Jobs"> </i></a></span>
                      <span style="padding: 4px"> <a routerLink="/invitation/{{ brandOwnerList.id }}"><i class=" fa fa-envelope"
                        title="View Invitation"> </i></a></span>
                        <span style="padding: 4px"> <a routerLink="/campaign-list/{{ brandOwnerList.id }}"><i class=" fa fa-list"
                          title="Campaign List"> </i></a></span>
                    
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>