
<div class="col-12 stretch-card">
  <div class="card">
      <div class="card-body">
            <section class="content-header">
                    <h1 class="adddrop">{{action_name}} Faq <small>This section allows {{action_name}} Faq</small></h1>
                    <ol class="breadcrumb">
                        <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a routerLink="/faq">Faq List</a></li>
                        <li class="active">{{action_name}} Faq</li>
                    </ol>
              </section>
          <p class="card-description">
          </p>
      </div>
  </div>
</div>

<div class="col-12 stretch-card">
  <div class="card">
      <div class="card-body">
          <form class="forms-sample" [formGroup]="Form" #FormData="ngForm" (ngSubmit)="onSubmit()">
          <input type="hidden" formControlName="id" [(ngModel)]="id">
      

        <div class="col-sm-12">
                  
          <div class="form-group row">
              <label for="card-title" class="col-sm-2 col-form-label">Question (English) : </label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" id="quesn_en" [(ngModel)]="quesn_en" placeholder="Enter question" formControlName="quesn_en" [ngClass]="{ 'is-invalid': submitted && f.quesn_en.errors }">
                  <div *ngIf="submitted && f.quesn_en.errors" class="invalid-feedback">
                      <div *ngIf="f.quesn_en.errors.required">Please enter question </div>
                  </div>
              </div>
          </div>

          <div class="form-group row">
              <label for="Description" class="col-sm-2 col-form-label">Answer(English) :</label>
              <div class="col-sm-9">
                  <editor [init]="tinyMceSettings" id="ans_en" formControlName="ans_en" [(ngModel)]="ans_en"></editor>
              </div>
          </div>
      </div>


   <div class="form-group row">
              <label for="title_arr" class="col-sm-2 col-form-label">Question(Arabic) :</label>
              <div class="col-sm-9">
                  <input type="text" class="form-control" id="quesn_ar" [(ngModel)]="quesn_ar" placeholder="Enter Question" formControlName="quesn_ar">
              </div>
          </div>
          <div class="form-group row">
              <label for="exampleInputPassword2" class="col-sm-2 col-form-label">Answer(Arabic) : </label>
              <div class="col-sm-9">
                  <editor [init]="tinyMceSettings" id="ans_ar" formControlName="ans_ar" [(ngModel)]="ans_ar" ></editor>
              </div>
          </div>
          <div class="form-group row">
              <label for="status" class="col-sm-2 col-form-label">Status :</label>
              <div class="col-sm-3">
                  <select [(ngModel)]='status' id="status" class="form-control" formControlName="status" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                  <option value="Active" >Active</option>
                  <option value="Inactive">Inactive</option>
                  </select>
                  <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                      <div *ngIf="f.status.errors.required">Please select Your Admin Status</div>
                  </div>
              </div>
          </div>
          <button type="submit" class="btn btn-success mr-3">Submit</button>
          <button class="btn btn-light" type="button" (click) = "cancelForm()">Cancel</button>
          </form>
      </div>
  </div>
</div>

