<section class="dashboard_holder">
    <div class="dashboard_top">
        <!--dashboard_top-->
        <div class="row">
            <div class="col-md-4">
                <div class="dashboard_top_widget">
                    <small>Apr 2019</small>
                    <h3>No of <br>Influencers</h3>
                    <strong>10K</strong>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="dashboard_top_widget">
                    <small>Apr 2019</small>
                    <h3>Total <br>Created Campaigns <span>2.8K</span></h3>
                </div>
            </div> -->
            <div class="col-md-4">
                <div class="dashboard_top_widget">
                    <small>Apr 2019</small>
                    <canvas baseChart height="30" width="100" [data]="pieChartData" [colors]="pieChartDataColors"
                        [labels]="pieChartLabels" [chartType]="pieChartType" [options]="pieChartOptions"
                        [plugins]="pieChartPlugins" [legend]="pieChartLegend">
                    </canvas>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dashboard_top_widget">
                    <small>Apr 2019</small>
                    <canvas #doughnutCanvas baseChart height="30" width="100" [data]="doughnutChartData"
                        [colors]="doughnutDataColors" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                        [options]="doughnutChartOptions" [plugins]="doughnutChartPlugins"
                        [legend]="doughnutChartLegend">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
    <!--dashboard_top-->

    <div class="dashboard_row">
        <!--dashboard_row-->

        <div class="title">
            <!--title-->
            <h3>On-Going Campaigns</h3>
            <ul>
                <li>
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup"
                                placeholder="Campaign Name">
                        </div>
                    </div>
                </li>
                <li>
                    <select class="form-control">
                        <option>Platform</option>
                        <option>Budget</option>
                    </select>
                </li>
                <li>
                    <select class="form-control">
                        <option>Month</option>
                        <option>progress</option>
                    </select>
                </li>
            </ul>
        </div>
        <!--title-->

        <div class="table_row">
            <div class="table-responsive">
                <!--table-responsive-->
                <table class="table">
                    <thead>
                        <tr>
                            <th>CAMPAIGN NAME</th>
                            <th>Influencer Name</th>
                            <th>Platform</th>
                            <th>Post date</th>
                            <th>Completion Date</th>
                            <th>progress</th>
                            <th>Budget</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>ABCRX</strong></td>
                            <td>
                                <a>
                                    <figure><img src="assets/front_end/images/testimonial_img.jpg" alt=""><span>A
                                            Das</span></figure>
                                </a>
                                <a>
                                    <figure><img src="assets/front_end/images/testimonial_img.jpg" alt=""><span>P.k
                                            Roy</span></figure>
                                </a>
                            </td>
                            <td>
                                <a class="social-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a class="social-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </td>
                            <td>2 Mar 2019</td>
                            <td>22 Apr 2022</td>
                            <td>12%</td>
                            <td>$410</td>
                            <td>
                                <a class="more">OnGoing <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </td>
                        </tr>

                        <tr>
                            <td><strong>ABCRX</strong></td>
                            <td>
                                <a>
                                    <figure><img src="assets/front_end/images/testimonial_img.jpg" alt=""><span>J
                                            Smith</span></figure>
                                </a>
                                <a>
                                    <figure><img src="assets/front_end/images/testimonial_img.jpg" alt=""><span>D
                                            Smith</span></figure>
                                </a>
                            </td>
                            <td>
                                <a class="social-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a class="social-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </td>
                            <td>2 Mar 2019</td>
                            <td>22 Apr 2022</td>
                            <td>12%</td>
                            <td>$410</td>
                            <td>
                                <a class="more">OnGoing <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--table-responsive-->
        </div>

    </div>
    <!--dashboard_row-->

    <div class="dashboard_row">
        <!--dashboard_row-->

        <div class="title">
            <!--title-->
            <h3>Published Campaigns</h3>
            <ul>
                <li>
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup"
                                placeholder="Campaign Name">
                        </div>
                    </div>
                </li>
                <li>
                    <select class="form-control">
                        <option>Platform</option>
                        <option>Budget</option>
                    </select>
                </li>
                <li>
                    <select class="form-control">
                        <option>Month</option>
                        <option>progress</option>
                    </select>
                </li>
            </ul>
        </div>
        <!--title-->

        <div class="table_row">
            <div class="table-responsive">
                <!--table-responsive-->
                <table class="table">
                    <thead>
                        <tr>
                            <th>CAMPAIGN NAME</th>
                            <th>Influencer Name</th>
                            <th>Platform</th>
                            <th>Post date</th>
                            <th>Completion Date</th>
                            <th>progress</th>
                            <th>Budget</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><strong>ABCRX</strong></td>
                            <td>
                                <a>
                                    <figure>
                                        <img src="assets/front_end/images/testimonial_img.jpg" alt="">
                                        <span>J Smith</span>
                                    </figure>
                                </a>
                                <a>
                                    <figure>
                                        <img src="assets/front_end/images/testimonial_img.jpg" alt="">
                                        <span>R Root</span>
                                    </figure>
                                </a>
                            </td>
                            <td>
                                <a class="social-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a class="social-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </td>
                            <td>2 Mar 2019</td>
                            <td>22 Apr 2022</td>
                            <td>12%</td>
                            <td>$410</td>
                            <td>
                                <a class="more"><i class="fa fa-check" aria-hidden="true"></i> Published</a>
                            </td>
                        </tr>

                        <tr>
                            <td><strong>ABCRX</strong></td>
                            <td>
                                <a>
                                    <figure>
                                        <img src="assets/front_end/images/testimonial_img.jpg" alt="">
                                        <span>A Smith</span>
                                    </figure>
                                </a>
                                <a>
                                    <figure>
                                        <img src="assets/front_end/images/testimonial_img.jpg" alt="">
                                        <span>W Das</span>
                                    </figure>
                                </a>
                            </td>
                            <td>
                                <a class="social-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a class="social-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            </td>
                            <td>2 Mar 2019</td>
                            <td>22 Apr 2022</td>
                            <td>12%</td>
                            <td>$410</td>
                            <td>
                                <a class="more"><i class="fa fa-check" aria-hidden="true"></i> Published</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--table-responsive-->
        </div>

    </div>
    <!--dashboard_row-->

</section>