<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
      <div class="card-body">
              <section class="content-header">
                      <h1 class="adddrop">Testimonial <small>This section allows to show testimonials</small></h1>
                      <ol class="breadcrumb">
                          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>                          
                          <li>Testimonials</li>                     
                      </ol>
              </section>
          <div class="float-right p-4"><a routerLink="/add-testimonial"> <button type="button" class="btn btn-primary">+Add Testimonial</button> </a></div>
          <div class="table-responsive">
              <table class="table table-striped table-bordered row-bordered" style="width:100%" datatable [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
              <thead>
                  <tr>
                      <th>Author</th>
                      <th >Image</th>
                      <th>Designation</th>                      
                      <th > Testimonial Description</th>                    
                      <th> Status</th>
                      <th> Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor = "let pageList of cmsData">
                      <td > {{ pageList.title}}</td>
                      <td ><img _ngcontent-c7="" alt="profile image" class="img-sm rounded-circle mb-4 mb-md-0" src="assets/images/faces/{{ pageList.profile_img }}"></td>
                      <td>{{pageList.designation}}</td> 
                      <td>{{ pageList.subject}}</td>
                      <td ><span class="btn {{(pageList.status=='Active')? 'btn-success':'btn-danger'}} btn-xs">{{ pageList.status}}</span> </td>
                      <td>  
                          <span style="padding: 4px"><a routerLink="/edit-testimonial/{{ pageList.id }}"  title="Edit"><i class="fa fa-fw fa-edit"></i> </a></span>
                          <span style="padding: 4px"> <a routerLink="#"  title="Delete"><i class=" fa fa-trash-o" (click) = "deleteCms(pageList.id)"  title="delete"> </i> </a></span>
                      </td>
                  </tr>
              </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

