<section class="campManage_holder">
  <!--campManage_holder-->
  <div class="title">
    <!--title-->
    <h2>Create Campaign</h2>
  </div>
  <!--title-->

  <div class="camManage_step">
    <!--camManage_step-->
    <ul>
      <li class="cursor-pointer" [ngClass]="{'active': togglee}" (click)="toggle()">
        <span>step 01</span>
        <strong>Campaign details</strong>
      </li>

      <li class="cursor-pointer" [ngClass]="{'active': togglee2}" (click)="toggle2()">
        <span>step 02</span>
        <strong>Campaign Objectives</strong>
      </li>
      <li class="cursor-pointer" [ngClass]="{'active': togglee3}" (click)="toggle3()">
        <span>step 03</span>
        <strong>Service Required</strong>
      </li>
      <li class="cursor-pointer" [ngClass]="{'active': togglee4}" >
        <span>step 04</span>
        <strong>Add Influencers</strong>
      </li>
    </ul>
  </div>
  <!--camManage_step-->

  <div class="camp_step1" *ngIf="show">
    <!--camp_step1-->
    <form>
      <div class="form-group">
        <label>Campaign Name</label>
        <input type="text" class="form-control" placeholder="Enter Name">
      </div>

      <div class="form-group">
        <label>Start Date</label>

        <div class="input-group">
          <input type="text" class="form-control" placeholder="MM/DD/YY">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Proposals due date</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="MM/DD/YY">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Please select Brand</label>
        <select class="custom-select form-control" id="inlineFormCustomSelect">
          <option selected>Choose...</option>
          <option value="1">select</option>
        </select>
      </div>

      <div class="form-group">
        <label>tentative launch date</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="MM/DD/YY">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-calendar" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group w-100">
        <label>Please select model <i class="fa fa-question-circle-o text-info ml-1" aria-hidden="true"></i></label>

        <div class="form-radio">
          <input id="serviceModel" type="radio" name="radio" value="Service Model">
          <label for="serviceModel"><span><span></span></span>Self- Service Model</label>
        </div>
        <!-- <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
            <label class="form-check-label" for="gridRadios1">Self- Service Model</label>
        </div> -->
        <div class="form-radio">
          <input id="agencyService" type="radio" name="radio" value="Agency Service">
          <label for="agencyService"><span><span></span></span>Agency-Service Model</label>
        </div>
        <!-- <div class="form-check">
            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option1" checked>
            <label class="form-check-label" for="gridRadios2">Agency-Service Model</label>
        </div> -->
      </div>

      <div class="btn_area w-100">
        <button class="btn btn-primary" (click)="toggle()">next</button>
      </div>

    </form>
  </div>
  <!--camp_step1-->

  <div class="camp_step2" *ngIf="show2">
    <!--camp_step2-->
    <h3>Please Choose Your Desired Objective</h3>
    <ul>
      <li>
        <div class="form-radio">
          <input id="contentRepost" type="radio" name="radio" value="Content Repost">
          <label for="contentRepost"><span><span></span></span>
            <strong>Content Repost</strong>
            <p>
              if you want the influencers to repost a ready-made content by the brand.
            </p>
            <div class="check_text">
              <span>tentative launch date</span>
              <div class="col-auto">
                <div class="input-group">
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="MM/DD/YY">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </label>
        </div>
      </li>

      <li>
        <div class="form-radio">
          <input id="createdContent" type="radio" name="radio" value="Created Content">
          <label for="createdContent"><span><span></span></span>
            <strong>Co-Created Content</strong>
            <p>
              If you want the influencers to create content
            </p>
            <div class="check_text">
              <span>tentative launch date</span>
              <div class="col-auto">
                <div class="input-group">
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="MM/DD/YY">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </label>
        </div>
      </li>

      <li>
        <div class="form-radio">
          <input id="attendEvent" type="radio" name="radio" value="Attend Event">
          <label for="attendEvent"><span><span></span></span>
            <strong>Attend Event</strong>
            <p>
              If you want the influencers to attend an event and post about it
            </p>
            <div class="check_text">
              <span>tentative launch date</span>
              <div class="col-auto">
                <div class="input-group">
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="MM/DD/YY">
                  <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                  </div>
                </div>
              </div>
            </div>
          </label>
        </div>
      </li>
    </ul>

    <div class="form-check form-group">
      <input id="checkbox1" type="checkbox" name="checkbox" value="1" checked="checked">
      <label for="checkbox1"><span></span>
        I Read and Agree With Terms and Conditions
      </label>
    </div>

    <div class="btn_area w-100">
      <button class="btn" (click)="back1()">Back</button>
      <button class="btn btn-primary" (click)="toggle2()">next</button>
    </div>

  </div>
  <!--camp_step2-->

  <div class="camp_step3" *ngIf="show3">
    <!--camp_step3-->
    <h3>Details of The Service Required</h3>
    <div class="camp_step1">
      <form>
        <div class="form-group">
          <label>Platform Targeted</label>
          <!-- <select class="custom-select form-control" multiple>
            <option selected>Select</option>
            <option><i class="fa fa-facebook mr-2" aria-hidden="true"></i> Facebook</option>
            <option><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</option>
          </select> -->
          <div ngbDropdown autoClose="outside" class="platFormList" (openChange)='onOpenChange($event)'>
            <button class="btn btn-link" type="button" ngbDropdownToggle>
              <span *ngFor="let key of objectKeys(social)">
                  {{(
                    key === 'fbChecked' && social[key] ? 'Facebook' : 
                    key === 'twChecked' && social[key] ? 'Twitter' : 
                    key === 'uChecked' && social[key] ? 'Youtube' :  
                    key === 'inChecked' && social[key] ? 'Instagram' : ''
                    )}}              
              </span>
              <span *ngIf="
              !social.fbChecked &&
              !social.twChecked &&
              !social.uChecked &&
              !social.inChecked
              ">Select</span>

            </button>
            <div ngbDropdownMenu class="w-100">
              <ul class="socialList p-4 text-gray">
                <li class="d-flex justify-content-between text_blue">
                  <div>
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    <span>Facebook</span>
                  </div>
                  <div class="checkBox">
                    <input type="checkbox" [(ngModel)]="social.fbChecked" name="nameOfChoice" value="1" checked>
                    <label for="checkbox1"><span></span></label>
                  </div>
                </li>
                <li class="d-flex justify-content-between">
                  <div>
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    <span>Twitter</span>
                  </div>

                  <div class="checkBox">
                    <input type="checkbox" [(ngModel)]="social.twChecked" name="nameOfChoice" value="1">
                    <label for="checkbox1"><span></span></label>
                  </div>
                </li>

                <li class="d-flex justify-content-between">
                  <div>
                    <i class="fa fa-youtube" aria-hidden="true"></i>
                    <span>Youtube</span>
                  </div>

                  <div class="checkBox">
                    <input type="checkbox" [(ngModel)]="social.uChecked" name="nameOfChoice" value="1">
                    <label for="checkbox1"><span></span></label>
                  </div>
                </li>

                <li class="d-flex justify-content-between">
                  <div>
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    <span>Instagram</span>
                  </div>

                  <div class="checkBox">
                    <input type="checkbox" [(ngModel)]="social.inChecked" name="nameOfChoice" value="1">
                    <label for="checkbox1"><span></span></label>
                  </div>
                </li>
              </ul>
            </div>

          </div>
        </div>

        <div class="form-group">
          <label>Invitation expiry date</label>
          <div class="input-group">
            <input _ngcontent-c4="" class="form-control" placeholder="MM/DD/YY" type="text">
            <div class="input-group-prepend">
              <div _ngcontent-c4="" class="input-group-text">
                <i _ngcontent-c4="" aria-hidden="true" class="fa fa-calendar"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="form-group w-100">
          <label>Invitation message</label>
          <textarea rows="5" placeholder="Detailed Message" class="form-control"></textarea>
        </div>

        <div class="form-group w-100">
          <label>Campaign details</label>
          <textarea rows="5" placeholder="Detailed Message" class="form-control"></textarea>
        </div>

        <div class="form-group w-100">
          <label>Content concept</label>
          <textarea rows="5" placeholder="Detailed Message" class="form-control"></textarea>
        </div>

        <div class="form-group w-50">
          <label>Product URL</label>
          <input type="text" class="form-control" placeholder="Enter URL">
        </div>

        <div class="custom-file form-group w-50">
          <label>File / Image</label>
          <input type="file" class="custom-file-input" id="validatedCustomFile" placeholder="ddd" required>
          <div class="custom-file-label form-control" for="validatedCustomFile">Attach Image / File</div>
        </div>

        <div class="form-group w-50">
          <label>Budget</label>
          <input type="text" class="form-control" placeholder="Enter Amount">
        </div>

        <div class="form-group w-50">
          <label>Campaign Country</label>
          <select class="custom-select form-control">
            <option selected>Select</option>
            <option>All</option>
          </select>
        </div>

        <div class="btn_area w-100">
          <button class="btn" (click)="back2()">Back</button>
          <button class="btn btn-primary" (click)="toggle3()">next</button>
        </div>
      </form>
    </div>
  </div>
  <!--camp_step3-->

  <div class="camp_step4" *ngIf="show4">
    <!--camp_step4-->
    <h3>Please Select Your Influencers For This Campaign</h3>
    <a [routerLink]="['../../influencer-search']" *ngIf="totalCompareArr.length === 0">Choose Influencers</a>
    <a (click)="goToaddInfluners()" *ngIf="totalCompareArr.length > 0">Choose Influencers</a>
  </div>
  <!--camp_step4-->

  <div class="camp_step5" *ngIf="show5"> 
    <h3>Please Select Your Influencers For This Campaign</h3>
    <ul class="list d-flex justify-content-center">
      <li class="text-center m-2" *ngFor="let item of totalCompareArr">
        <img src="assets/brand-owner/images/infl-search-pic1.jpg" />
        <p class="mb-0 mt-2">John Smith</p>
      </li>
    </ul>
    <a (click)="goToaddInfluners()" class="text-uppercase mt-3" [routerLink]="['../../influencer-search']">Add more influencers</a>
    <div class="text-center mt-5">
        <button class="btn btn-blue text-uppercase mr-3 pr-4 pl-4">Save as draft</button>
        <button class="btn btn-primary text-uppercase pr-4 pl-4">Submit</button>
    </div>
  </div>

</section>
<!--campManage_holder-->