<section class="profile_holder">
    <!--profile_holder-->
    <div class="profile_box">
        <!--profile_box-->
        <div class="company_info clearfix">
            <div class="company_info_right">
                <!--company_info_right-->
                <div class="companyBoxes">
                    
                    <a class="editForm" [ngClass]="status ? 'hide' : ''" (click)="editCompanyInfo()"></a>
                    <a class="editForm active" *ngIf="show"></a>
                    <!-- edit icon -->
                    <div class="customForm">
                        <div class="row">
                            <div class="col-md-3">
                                <!--company_info_left-->
                                <figure>
                                    <img src="assets/brand-owner/images/amg-logo.png" alt="">
                                </figure>
                            </div>
                            <div class="col-md-9">
                                <h3>Company information</h3>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Company Name</label>
                                            <p *ngIf="!show">AGM Solution</p>
                                            <input class="form-control" type="text" value="AGM Solution" *ngIf="show">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Industry</label>
                                            <p *ngIf="!show">XYZ Advertisements</p>
                                            <input class="form-control" type="text" value="XYZ Advertisements" *ngIf="show">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Currency</label>
                                            <p *ngIf="!show">Euro</p>
                                            <select class="form-control customSelect" *ngIf="show">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Country</label>
                                            <p *ngIf="!show">Germany</p>
                                            <select class="form-control customSelect" *ngIf="show">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Company Type</label>
                                            <p *ngIf="!show">Brand</p>
                                            <input class="form-control" type="text" value="Brand" *ngIf="show">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <div class="companyLogo">
                                                <img src="assets/brand-owner/images/company-logo.png" />
                                            </div>
                                            <div class="fileUpload">
                                                <img src="assets/brand-owner/images/link-chain.png" />
                                                <input type="file" class="file" name="file"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="companyBoxes">
                    <h3>Personal Information</h3>
                    <a class="editForm" [ngClass]="status ? 'hide' : ''" (click)="editPersonalInfo()"></a>
                    <a class="editForm active" *ngIf="show"></a>
                    <!-- edit icon -->
                    <div class="profileInfoBox">
                        <div class="profilePicWrap">
                            <figure>
                                <img src="assets/brand-owner/images/profile-info.png" alt="">
                            </figure>
                            <figcaption>
                                <h4>7.5k</h4>
                                <span>followers</span>
                            </figcaption>
                        </div>
                        <div class="customForm">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>First Name</label>
                                        <p *ngIf="!show">Harold</p>
                                        <input class="form-control" type="text" value="Harold" *ngIf="show">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Last Name</label>
                                        <p>Williams</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <p>CEO AGM Solution</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <a class="changePassword">Change password</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <p>Ha.1967@gmail.com</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Phone</label>
                                        <p>(030) 7889 9898</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="companyBoxeswithout">
                    <h3>Brand Information</h3>
                    <a class="addForm"></a>
                    <div class="brandInfoTable table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Brand Name</th>
                                    <th>Industry</th>
                                    <th>Country</th>
                                    <th>Logo</th>
                                    <th>Media</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="compName">ABC Consultency</td>
                                    <td>RXT North</td>
                                    <td>Germany</td>
                                    <td class="logoUplaod">
                                        <figure><img src="assets/brand-owner/images/table-logo-3.png" alt=""></figure>
                                        <span class="btnLink"><img src="assets/brand-owner/images/link-chain-grey.png"
                                                alt=""></span>
                                    </td>
                                    <td>Facebook</td>
                                    <td class="actions">
                                        <a><img src="assets/brand-owner/images/icon-edit.png" alt=""></a>
                                        <a><img src="assets/brand-owner/images/icon-delete.png" alt=""></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="compName">Martyn Restaurant</td>
                                    <td>South 14B</td>
                                    <td>Germany</td>
                                    <td class="logoUplaod">
                                        <figure><img src="assets/brand-owner/images/table-logo-2.png" alt=""></figure>
                                        <span class="btnLink"><img src="assets/brand-owner/images/link-chain-grey.png" alt=""></span>
                                    </td>
                                    <td>Facebook, Twitter</td>
                                    <td class="actions">
                                        <a><img src="assets/brand-owner/images/icon-edit.png" alt=""></a>
                                        <a><img src="assets/brand-owner/images/icon-delete.png" alt=""></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="compName">OMY</td>
                                    <td>LDF Road</td>
                                    <td>Germany</td>
                                    <td class="logoUplaod">
                                        <figure><img src="assets/brand-owner/images/table-logo-1.png" alt=""></figure>
                                        <span class="btnLink"><img src="assets/brand-owner/images/link-chain-grey.png" alt=""></span>
                                    </td>
                                    <td>You Tube</td>
                                    <td class="actions">
                                        <a><img src="assets/brand-owner/images/icon-edit.png" alt=""></a>
                                        <a><img src="assets/brand-owner/images/icon-delete.png" alt=""></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="compName">ABC Consultency</td>
                                    <td>RXT North</td>
                                    <td>Germany</td>
                                    <td class="logoUplaod">
                                        <figure><img src="assets/brand-owner/images/table-logo-3.png" alt=""></figure>
                                        <span class="btnLink"><img src="assets/brand-owner/images/link-chain-grey.png" alt=""></span>
                                    </td>
                                    <td>Facebook</td>
                                    <td class="actions">
                                        <a><img src="assets/brand-owner/images/icon-edit.png" alt=""></a>
                                        <a><img src="assets/brand-owner/images/icon-delete.png" alt=""></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="btnHolder">
                        <button class="btn">Save</button>
                    </div>
                </div>
            </div>
            <!--company_info_right-->
        </div>
        <!--company_info-->
    </div>
    <!--profile_box-->
</section>
<!--profile_holder-->