<section class="login_holder signup_holder"><!--login_holder-->
  <div class="container">
      <h2>Sign Up</h2>
      <div class="signup_choice"><!--signup_choice-->
        <div class="form-radio mr-5">
            <input id="radio1" type="radio" [(ngModel)]="userType" [value]="0" #brand >
            <label for="radio1"><span><span></span></span>Brand</label>
        </div>

        <div class="form-radio">
            <input id="radio2" type="radio" [(ngModel)]="userType" [value]="1" #influencer >
            <label for="radio2"><span><span></span></span>Influencer</label>
        </div>
            
      </div><!--signup_choice-->
      <div class="login_area" *ngIf="influencer.checked"><!--login_area-->
          <div class="login_area_left"><!--login_area_left-->
              <form [formGroup]="influenceRegisterForm" (ngSubmit)="influenceSubmit()">
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Name" formControlName="name"
                      [ngClass]="{ 'is-invalid': submitted && i.name.errors }">
                      <div *ngIf="submitted && i.name.errors" class="invalid-feedback">
                        <div *ngIf="i.name.errors.required">Name is required</div>
                    </div>
                  </div>
                  <div class="form-group">
                      <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Email" formControlName="email"
                      [ngClass]="{ 'is-invalid': submitted && i.email.errors }">
                      <div *ngIf="submitted && i.email.errors" class="invalid-feedback">
                        <div *ngIf="i.email.errors.required">Email is required</div>
                        <div *ngIf="i.email.errors.email">Email must be a valid email address</div>
                    </div>
                  </div>
                  <div class="form-group">
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password"
                      [ngClass]="{ 'is-invalid': submitted && i.password.errors }">
                      <div *ngIf="submitted && i.password.errors" class="invalid-feedback">
                        <div *ngIf="i.password.errors.required">Password is required</div>
                        <div *ngIf="i.password.errors.minlength">Password must be at least 6 characters</div>
                    </div>
                  </div>
                  <div class="form-group">
                      <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Confirm Password" formControlName="confirmPassword"
                      [ngClass]="{ 'is-invalid': submitted && i.confirmPassword.errors }">
                      <div *ngIf="submitted && i.confirmPassword.errors" class="invalid-feedback">
                        <div *ngIf="i.confirmPassword.errors.required">Confirm Password is required</div>
                        <div *ngIf="i.confirmPassword.errors.mustMatch">Passwords must match</div>
                    </div>
                  </div>
                  <div class="form-check form-group">
                        <input id="influnaireAgreeCheckbox" type="checkbox" formControlName="influnaireAgree" value="1">
                        <label for="influnaireAgreeCheckbox"><span></span>
                            I agree to influnaire.com <a href="javascript:;" target="_blank" routerLink="/privacy-policy" routerLinkActive="active">privacy policy</a>
                        </label>
                    </div>
                  <div class="form_bottom">
                      <button type="submit" class="btn btn-primary">Sign Up</button>
                      <span>
                          Already have an account? <a routerLink="/login-influencer">Login</a> here.
                      </span>
                  </div>
              </form>
          </div><!--login_area_left-->

          <div class="login_area_midd"><!--login_area_midd-->
              <span>Or</span>
          </div><!--login_area_midd-->

          <div class="login_area_right"><!--login_area_right-->
              <ul>
                  <li>
                      <a>
                          <i class="fa fa-facebook" aria-hidden="true"></i>
                          Sign Up with Facebook
                      </a>
                  </li>

                  <li>
                      <a>
                          <i class="fa fa-google-plus" aria-hidden="true"></i>
                          Sign Up with Google
                      </a>
                  </li>

                  <li>
                      <a>
                          <i class="fa fa-youtube-play" aria-hidden="true"></i>
                          Sign Up with YouTube
                      </a>
                  </li>
              </ul>
          </div><!--login_area_right-->
      </div><!--login_area-->

      <div class="login_area brand_area" *ngIf="brand.checked"><!--login_area-->
        <form [formGroup]="brandRegForm" (ngSubmit)="brandSubmit()">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Company Name/Brand Name" formControlName="companyName"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.companyName.errors }">
                        <div *ngIf="brandSubmitted && b.companyName.errors" class="invalid-feedback">
                            <div *ngIf="b.companyName.errors.required">Company Name/Brand Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-control" formControlName="countryName"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.countryName.errors }">
                            <option value="">Choose Country</option>
                            <option>India</option>
                            <option>USA</option>
                        </select>
                        <div *ngIf="brandSubmitted && b.countryName.errors" class="invalid-feedback">
                            <div *ngIf="b.countryName.errors.required">Country Name is required</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <select class="form-control" formControlName="industryName"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.industryName.errors }">
                            <option value="">Choose Industry</option>
                            <option>IT</option>
                        </select>
                        <div *ngIf="brandSubmitted && b.industryName.errors" class="invalid-feedback">
                            <div *ngIf="b.industryName.errors.required">Industry Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="tel" placeholder="Phone Number" class="form-control" formControlName="phoneNumber"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.phoneNumber.errors }">
                        <div *ngIf="brandSubmitted && b.phoneNumber.errors" class="invalid-feedback">
                            <div *ngIf="b.phoneNumber.errors.required">Phone Number is required</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- <label>First Name</label> -->
                        <input class="form-control" type="text" placeholder="First Name" formControlName="firstName"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.firstName.errors }">
                        <div *ngIf="brandSubmitted && b.firstName.errors" class="invalid-feedback">
                            <div *ngIf="b.firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- <label>Email</label> -->
                        <input class="form-control" type="email" placeholder="Email" formControlName="email"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.email.errors }">
                        <div *ngIf="brandSubmitted && b.email.errors" class="invalid-feedback">
                            <div *ngIf="b.email.errors.required">Email is required</div>
                            <div *ngIf="b.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- <label>Last Name</label> -->
                        <input class="form-control" type="text" placeholder="Last Name" formControlName="lastName"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.lastName.errors }">
                        <div *ngIf="brandSubmitted && b.lastName.errors" class="invalid-feedback">
                            <div *ngIf="b.lastName.errors.required">Last Name is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="password" class="form-control" id="Password1" placeholder="Password" formControlName="password"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.password.errors }">
                        <div *ngIf="brandSubmitted && b.password.errors" class="invalid-feedback">
                          <div *ngIf="b.password.errors.required">Password is required</div>
                          <div *ngIf="b.password.errors.minlength">Password must be at least 6 characters</div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- <label>Title</label> -->
                        <input class="form-control" type="text" placeholder="Title" formControlName="title"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.title.errors }">
                        <div *ngIf="brandSubmitted && b.title.errors" class="invalid-feedback">
                            <div *ngIf="b.title.errors.required">Title is required</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="password" class="form-control" id="Password2" placeholder="Confirm Password" formControlName="confirmPassword"
                        [ngClass]="{ 'is-invalid': brandSubmitted && b.confirmPassword.errors }">
                        <div *ngIf="brandSubmitted && b.confirmPassword.errors" class="invalid-feedback">
                          <div *ngIf="b.confirmPassword.errors.required">Confirm Password is required</div>
                          <div *ngIf="b.confirmPassword.errors.mustMatch">Passwords must match</div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <div class="form-check">
                        <input id="checkbox1" type="checkbox" formControlName="brandAgree" value="1">
                        <label for="checkbox1"><span></span>
                            I agree to influnaire.com <a href="javascript:;" target="_blank" routerLink="/privacy-policy" routerLinkActive="active">privacy policy</a>
                        </label>
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="form_bottom">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                        <span>
                            Already have an account? <a routerLink="/login" routerLinkActive="active">Login</a> here.
                        </span>
                    </div>
                </div>
            </div>
        </form>
      </div><!--login_area-->
  </div>
</section><!--login_holder--> 
