<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
      <div class="card-body">
     

          <section class="content-header">
                <h1 class="adddrop">Faq List <small>This section allows to show Faq List</small></h1>
                <ol class="breadcrumb">
                        <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Faq List</li>
                </ol>
        </section>

          <div class="float-right p-4"><a routerLink="/add-faq"> <button type="button" class="btn btn-primary">+Add Page</button> </a></div>
          <div class="table-responsive">
              <table class="table table-striped table-bordered row-bordered"  datatable [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
              <thead>
                  <tr>
                      <th>Question</th>
                      <th class="th-sm">Answer</th>
                      <th>Status</th>
                      <th> Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr  *ngFor = "let dataList of faqData">
                      <td> {{ dataList.question}}</td>
                      <td> {{ dataList.answer | strStripHtml}}</td>
                      <td><span class="btn {{(dataList.status=='Active')? 'btn-success':'btn-danger'}} btn-xs">{{ dataList.status}} </span></td>
                      <td>  
                          <span style="padding: 4px"><a routerLink="/edit-faq/{{ dataList.id }}"  title="Edit"><i class="fa fa-fw fa-edit"></i> </a></span>
                          <span style="padding: 4px"> <a routerLink="/faq-list" (click) = "deleteFaq(dataList.id)"  title="Delete"><i class=" fa fa-trash-o"> </i> </a></span>
                      </td>
                  </tr> 
              </tbody>
              </table>
          </div>
      </div>
  </div>
</div>