<section class="noti_holder">
  <!--campaign_holder-->
  <h2>Notification</h2>
  <div class="tableTop d-flex mb-4 mt-4 justify-content-between align-items-center">
    <div class="d-flex">
      <div class="checkBox">
        <input name="nameOfChoice" type="checkbox" [checked]="checkdLength === notificationArr.length" (change)="checkAllCheckbox($event)">
        <label class="mr-3 mb-0" for="checkbox1"><span></span></label>
      </div>
      <div class="d-flex">
        <a class="mr-3">All</a>
        <a href="javascript:void(0)" class="mr-3 text_yellow"><i class="fa fa-undo"></i></a>
        <a href="javascript:void(0)" class="mr-3 text-gray"><i class="fa fa-ellipsis-v"></i></a>
        <a href="javascript:void(0)" *ngIf="checkdLength > 0" (click)="trashNotification()" class="mr-3 text_yellow font-weight-600"><i class="fa fa-trash"></i></a>
      </div>
    </div>
    <div class="d-flex align-items-center">
      <a class="mr-4">1-10 of 210</a>
      <div class="form-group mb-0">
        <select class="form-control w-max-30">
          <option>AWARDS OF JOBS</option>
          <option>10</option>
        </select>
      </div>

    </div>



  </div>
  <div class="table_row">
    <div class="table-responsive">
      <!--table-responsive-->
      <table class="table">
        <tbody>
          <tr *ngFor="let item of filterByRemove; let i=index" [ngClass]="{'checked':item.checked}">
            <td class="text-left p-3">
              <div class="checkBox">
                <input name="nameOfChoice" type="checkbox" [(ngModel)]="item.checked" (change)="checkCheckbox(i)">
                <label class="mr-3 mb-0" for="checkbox1"><span></span></label>
                <strong>Mr L Hardson</strong>
              </div>

            </td>
            <td class="text-left text-gray p-3">
              <p class="mb-0">Maecenas congue nulla in sem sodales gravida ?</p>
            </td>
            <td class="text-right text_blue p-3">Mar 09, 2019</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--table-responsive-->
  </div>
</section>