
.profile_holder{
  .profile_box{
    margin: $zro $zro ($m10 * 2);
    .company_info{
      display: block;
      
      // .company_info_left{
      //   background: $whte;
      //   padding: 55px 50px;
      //   box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      //   width: 19%;
      //   float: left;
      //   margin-right: 15px;
      //   figure{
      //     margin: $zro auto;
      //     width: 110px;
      //   }
      // }
      .company_info_right{
        figure{
          margin: $zro auto;
          width: auto;
        }
        .companyBoxes{
          background: $whte;
          padding: 55px 50px;
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          position: relative;
          width: 100%;
          margin-top: 15px;
          &:first-child{
            margin-top: 0;
          }
          h3{
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            margin-bottom: 22px;
          }
          .editForm{
            background: url("/assets/brand-owner/images/edit-icon.png") no-repeat center center;
            position: absolute;
            top: 20px;
            right: 20px;
            width: 33px;
            height: 33px;
            &.active{
              background: url("/assets/brand-owner/images/edit-icon-active.png") no-repeat center center;
            }
            &.hide{
              display: none;
            }
          }
          .customForm{
            width: 100%;
            label{
              color: #939393;
              font-size: 12px;
              margin-bottom: 6px;
              padding-top: 0;
            }
            .form-control{
              background: #fff url("/assets/brand-owner/images/form-active.png") no-repeat center right 0;
              border: 0;
              border-radius: 0;
              border-bottom: solid 1px #ed8c24;
              color: #ed8c24;
              padding: 0 20px 8px 0;
              font-size: 16px;
              &:focus, &:hover{
                box-shadow: none;
              }
            }
            P{
              color: #373737;
              font-size: 16px;
            }
            .changePassword{
              display: inline-block;
              font-size: 12px;
              color: #c3c3c3;
              font-weight: 700;
              line-height: 30px;
              padding: 0 25px;
              text-transform: uppercase;
              border: 1px solid #c3c3c3;
              border-radius: 24px;
              font-family: 'Open Sans', sans-serif;
              text-decoration: none;
            }
            .companyLogo{
              max-width: 150px;
              height: auto;
              display: inline-block;
              vertical-align: middle;
            }
            .fileUpload{
              position: relative;
              overflow: hidden;
              display: inline-block;
              vertical-align: middle;
              width: 15px;
              height: 15px;
              margin-left: 15px;
              img{
                cursor: pointer;
              }
              .file {
                position: absolute;
                font-size: 50px;
                opacity: 0;
                left: 0;
                top: 0;
                width: 15px;
                height: 15px;
              }
            }
          }
          .profileInfoBox{
            display: $flx;
            
            .profilePicWrap{
              text-align: center;
              min-width: 155px;
              width: 155px;
              figure{
                width: 86px;
                height: 86px;
                border-radius: 50%;
                overflow: hidden;
              }
              figcaption{
                width: 86px;
                margin: 8px auto $zro;
                h4{
                  color: #40a8f2;
                  font-size: 24px;
                  font-weight: 600;
                  margin-bottom: 0;
                }
                span{
                  color: #939393;
                  font-size: 15px;
                  display: block;
                }
              }
            }
          }
        }
        .companyBoxeswithout{
          position: relative;
          width: 100%;
          margin-top: 45px;
          h3{
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            margin-bottom: 22px;
          }
          .addForm{
            background: url("/assets/brand-owner/images/add-icon.png") no-repeat center center;
            position: absolute;
            top: 20px;
            right: 20px;
            width: 33px;
            height: 33px;
          }
          .brandInfoTable{
            th{
              color: #3a3a3a;
              font-size: 14px;
              font-weight: 600;
              padding: 15px 40px;
              vertical-align: middle;
            }
            tr{
              &:first-child{
                &:hover{
                  box-shadow: none;
                }
              }
              &:hover{
                box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
                td{
                  background: $whte;
                  &.actions{
                    opacity: 1;
                  }
                }
              }
              td{
                color: #545454;
                font-size: 14px;
                font-weight: 600;
                padding: 15px 40px;
                font-family: 'Open Sans', sans-serif;
                vertical-align: middle;
                cursor: pointer;
                &.compName{
                  font-size: 16px;
                  font-weight: 700;
                }
                &.logoUplaod{
                  figure{
                    width: 32px;
                    height: 32px;
                    display: inline-block;
                    vertical-align: middle;
                    img{
                      width: 100%;
                      height: 100%;
                    }
                  }
                  .btnLink{
                    display: inline-block;
                    vertical-align: middle;
                    width: 11px;
                    height: 11px;
                    img{
                      height: 100%;
                      width: 100%;
                    }
                  }
                }
                &.actions{
                  opacity: 0;
                  a{
                    margin-left: 12px;
                    display: inline-block;
                    img{
                      width: 17px;
                      height: 17px;
                      border-radius: 0;
                    }
                    &:first-child{
                      margin-left: 0;
                    }
                  }
                }
                &:hover{
                  background: #fff;
                  &.actions{
                    opacity: 1;
                  }
                }
              }
            }
          }

          .btnHolder{
            text-align: right;
            margin-top: 30px;
            .btn{
              background: #ed8c24;
              color: $whte;
              text-transform: uppercase;
              border-radius: 24px;
              line-height: 45px;
              padding: 0 30px;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
