
.policy_holder{
    margin-top: 75px;
    padding: 0 0 90px;
    background: #eee;
    .title{
        text-align: center;
        padding: 50px 0;
        h2{
            color: #3c3c3c;
            font-size: 48px;
            line-height: 40px;
            font-weight: 600;
            text-align: center;
            margin: 0 0 10px;
            text-transform: capitalize;
            font-family: 'Open Sans', sans-serif;
        }
        span{
            display: block;
            font-size: 25px;
            color: #3c3c3c;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
        }
    }
    p{
        line-height: 24px;
    }
}
