<section class="policy_holder">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title"><!--title-->
          <h2>Privacy Policy</h2>
          <span>Effective: February 12, 2019</span>
        </div><!--title-->

        <div class="policy_area"><!--policy_area-->
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
          </p>
          <h3>How We Collect Information</h3>
          <p>
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
          </p>
          <h3>Information You Provide</h3>
          <p>The types of personal information that Wiley collects directly from you or through your use of our websites and services may include:</p>
          <ul>
            <li>Contact details, such as your name, email address, postal address and telephone number;</li>
            <li>Internet Protocol (“IP”) addresses used to connect your computer to the Internet;</li>
            <li>Educational and professional interests;</li>
            <li>Tracking codes such as cookies;</li>
            <li>Usernames and passwords;</li>
            <li>Payment information, such as a credit or debit card number;</li>
            <li>Comments, feedback, posts and other content you provide to Wiley (including through a Wiley website);</li>
            <li>Communication preferences;</li>
            <li>Purchase and search history;</li>
            <li>Location-aware services, the physical location of your device in order to provide you with more relevant content for your location;</li>
            <li>Information about your personal preferences, and interests; and</li>
            <li>Communications with other users of Wiley’s services.</li>
          </ul>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          </p>

          <h3>Information We Receive from Other Sources</h3>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
          </p>

          <h3>Use of Your Information</h3>
          <p>
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
          </p>
          <ul>
            <li>
              To provide you with information about products and services that you request from us;
            </li>
            <li>To send you periodic catalogues from Wiley;</li>
            <li>To provide you with information about other products, events and services we offer that are either (i) similar to those you have already purchased or inquired about, or (ii) entirely new products, events and services;</li>
            <li>For internal business and research purposes to help enhance, evaluate, develop, and create Wiley websites (including usage statistics, such as “page views” on Wiley’s websites and the products therein), products, and services;</li>
            <li>To notify you about changes or updates to our websites, products, or services;</li>
            <li>For any other purpose that we may notify you of from time to time.</li>
          </ul>

          <h3>Security</h3>
          <p>
            We will use appropriate physical, technical and administrative safeguards to protect your data. Access to your personal data will be restricted to only those who need to know that information and required to perform their job function. In addition, we train our employees about the importance of maintaining the confidentiality and security of your information.
          </p>

          <h3>Cookies</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
          </p>

          <h3>Updates to This Privacy Policy</h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
          </p>
        </div><!--policy_area-->
      </div>
    </div>
  </div>
</section>
