<div class="col-12 stretch-card">
    <div class="card">
      <div class="card-body">
          <section class="content-header">
              <h1 class="adddrop">Profile <small>This section allows you to change profile</small></h1>
              <ol class="breadcrumb">
                <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>               
                <li class="active">Profile</li>
              </ol>
            </section>
        <p class="card-description">
        </p>
        <div class="alert alert-success" *ngIf="successMessage">
	          {{successMessage}}
	        </div>
        <form class="forms-sample" [formGroup]="addadminForm" #addadminFormData="ngForm" (ngSubmit)="onSubmit()">
          
          <div class="form-group row">
            <label for="fname" class="col-sm-2 col-form-label">First Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="fname" [(ngModel)]="fname" placeholder="Enter First Name"
                formControlName="fname" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }">
              <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
                <div *ngIf="f.fname.errors.required">Please enter your first name </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="lname" class="col-sm-2 col-form-label">Last Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="lname" [(ngModel)]="lname" placeholder="Enter Last Name"
                formControlName="lname" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }">
              <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
                <div *ngIf="f.lname.errors.required">Please enter your last name </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="email" class="form-control" readonly id="email" [(ngModel)]="email" placeholder="Enter email"
                formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">Please enter your email </div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Profile Image</label>
            <div class="col-sm-6">
              <input type="file" class="form-control" (change)="fileChangeEvent($event)"/> 
                        
            </div>
           
          </div> 
          <div class="form-group row">
              <div class="col-sm-2">
                &nbsp;
              </div>

          <div class="col-sm-4">

            <img src ="assets/images/faces/face1.jpg">  
          </div>
        </div>

            <button type="submit" class="btn btn-success mr-3">Submit</button>            
        </form>
      </div>
    </div>
  </div>