<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">Influencer Transaction Report<small>This section allows show you influencer transaction
            report</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Influencer Transaction Report</li>
        </ol>
      </section>
    </div>
    <div class="card-body">
      <div class="col-lg-12"><span class="btn btn-primary float-right">Export</span></div>
      <div class="table-responsive">
        <table class="table table-striped" class="table table-striped table-bordered row-bordered" style="width:100%"
          datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
          <thead>
            <tr>
              <th>Job Title</th>
              <th>Payment By</th>
              <th>Payment To</th>
              <th>Amount</th>
              <th>Transaction Id</th>
              <th>Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tfoot style="display: table-header-group;">
            <tr>
              <th><input class="form-control" type="text" placeholder="Job Title" /></th>
              <th><input class="form-control" type="text" placeholder="Payment By" /></th>
              <th><input class="form-control" type="text" placeholder="Payment To" /></th>
              <th><input class="form-control" type="text" placeholder="Amount" /></th>
              <th><input class="form-control" type="text" placeholder="Transaction Id" /></th>
              <th><input class="form-control" type="text" placeholder="date" /></th>
              <th></th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let transaction of transactionData; let i= index;">
              <td> {{ transaction.job_title}}</td>
              <td>{{ transaction.payment_by}}</td>
              <td>{{ transaction.payment_to}}</td>
              <td> ${{ transaction.amount}} </td>
              <td> {{ transaction.transaction_id}}</td>
              <td>{{ transaction.created_at}}</td>
              <td> <span
                  class="btn btn-{{ (transaction.status == 'Pending')?'warning':'success' }} btn-xs">{{ transaction.status}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>