
.invitation_holder{
    .title{
        display: $flx;
        margin-bottom: ($m5 * 8);
        justify-content: space-between;
        margin-top: 50px;
        &:first-child{
            margin-top: 0;
        }
        h2{
            margin: $zro;
            color: #3c3c3c;
            font-size: ($m5 * 6);
            font-weight: $smbld;
            font-family: 'Open Sans', sans-serif;
        }
        .form-control{
            width: ($m10 * 20);
            background: transparent;
            border: $zro;
            border-radius: $zro;
            border-bottom: 1px solid #ccc;
        }
    }
    .table_row{
        table{
            tr{
                td{
                    a{
                        display: $blk;
                        color: #40a8f2;
                        font-size: 14px;
                        font-weight: $smbld;
                        font-family: 'Open Sans', sans-serif;
                    }
                    button{
                        border-radius: ($m12 * 2);
                        padding-left: $m12;
                        padding-right: $m12;
                        font-size: ($m10 + 1);
                        font-weight: $bld;
                        text-transform: uppercase;
                        font-family: 'Open Sans', sans-serif;
                    }
                    .btn-danger{
                        margin: $zro $m5;
                        background: #f3262b;
                        border: solid 2px #f3262b;
                    }
                    .btn-warning{
                        background: transparent;
                        border: 2px solid #ed8c24;
                        color: #ed8c24;
                    }
                    .btn-primary{
                        background: #3ea8f2;
                        border: 2px solid #3ea8f2;
                        color: #fff;
                    }
                    .btn-success{
                        background: #19ca9e;
                        border: 2px solid #19ca9e;
                        color: #fff;
                    }
                    .btn-submitted{
                        background: transparent;
                        border: 0;
                        color: #19ca9c;
                        img{
                            width: 13px;
                            height: 11px;
                            margin-top: 4px;
                            margin-right: 5px;
                        }
                    }
                }
                td:nth-child(5){
                    white-space: inherit;
                }
            }
        }
    }
    .modal{
        .successIcon{
            border-radius: 40px;
            background: #28a745;
        }
        .btn-warning{
            border-radius: 25px;
            background: #ed8c24;
        }
        .close{
            position: absolute;
            right: 6px;
            top: 6px;
            z-index: 9;
        }
    }
    .platFormList{
        .btn-link.dropdown-toggle{
          width: 100%;
          background: transparent;
          border-bottom: 1px solid #ccc;
          text-align: left;
          position: relative;
          color: #3c3c3c;
          outline: none!important;
          &:after{
            position: absolute;
            right: 0;
            bottom: 0;
            top: 0;
            margin: auto;
          }
        }
        .w-100.dropdown-menu{
          max-width: 300px;
          li{
            font-size: 16px;
            input{
              position: absolute;
              left: 0;
              width: 100%;
              height: 28px;
            }
            label span{
              width: 18px;
              height: 18px;
              border-radius: 0;
              &::before{
                line-height: 18px;
                width: 18px;
              }
            }
            i{
              font-size: 20px;
              width: 28px;
            }
          }
        }
      }
}

