.invitationDetails{
    .title{
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        justify-content: space-between;
        h2{
            font-family: 'Open Sans', sans-serif;
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 0;
        }
        select{
            background: transparent url("/assets/influencers/images/down-arrow.png") no-repeat top 10px right 0;
            border: 0;
            border-bottom: solid 1px #d9d9d9;
            appearance: none;
            padding-bottom: 7px;
            color: #8c8c8c;
            font-size: 13px;
            font-weight: 600;
            font-family: 'Open Sans', sans-serif;
            min-width: 100px;
            text-transform: uppercase;
        }
    }
    .currentInvitationTable{
        background: #fff;
        padding: 40px;
        .header{
            display: flex;
            justify-content: space-between;
            .txts{
                h2{
                    color: #ed8c24;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 16px;
                    font-weight: 600;
                }
                .names{
                    display: flex;
                    align-items: center;
                    margin-top: 16px;
                    h3{
                        color: #3c3c3c;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 34px;
                        font-weight: 700;
                        text-transform: uppercase;
                    }
                    h4{
                        color: #3c3c3c;
                        font-family: 'Open Sans', sans-serif;
                        font-size: 19px;
                        font-weight: 700;
                        margin-left: 25px;
                        span{
                            font-size: 15px;
                            font-weight: 600;
                            margin-right: 10px;
                        }
                    }
                    figure{
                        width: 56px;
                        height: 56px;
                        border-radius: 50%;
                        overflow: hidden;
                        margin-right: 18px;
                        img{
                            width: 100%;
                        }
                    }
                }
            }
            .rightBtn{
                .submitProposal{
                    color: #ed8c24;
                    border: solid 1px #ee9433;
                    border-radius: 30px;
                    height: 50px;
                    padding: 15px 40px;
                    display: inline-block;
                    line-height: 100%;
                    text-transform: capitalize;
                    &:hover, &:focus{
                        color: #fff;
                        background: #ed8c24;
                    }
                }
            }
        }
        .detailsBody{
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            .boxes{
                margin-top: 30px;
                &:first-child{
                    margin-top: 0;
                }
                h4{
                    color: #3c3c3c;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: 18px;
                }
                p{
                    color: #939393;
                    font-size: 15px;
                    margin-bottom: 0;
                    &.dark{
                        color: #353535;
                    }
                }
                a{
                    color: #1e6dcf;
                    font-size: 15px;
                }
                &.widebox{
                    ul{
                        display: flex;
                        li{
                            padding: 0 40px;
                            border-left: solid 1px #d8d8d8;
                            &:first-child{
                                padding-left: 0;
                                border-left: 0;
                            }
                            &:last-child{
                                padding-right: 0;
                            }
                            p{
                                &.amount{
                                    color: #40a7f2;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
                &.files{
                    ul{
                        display: flex;
                        li{
                            text-align: center;
                            min-width: 70px;
                            img{
                                height: 57px;
                            }
                            span{
                                display: block;
                                margin-top: 20px;
                            }
                        }
                    }
                }
                &.txtarea{
                    margin-top: 80px;
                    textarea{
                        border: 0;
                        border-bottom: solid 1px #d9d9d9;
                        padding-bottom: 7px;
                        padding-left: 0;
                        color: #8c8c8c;
                        font-size: 13px;
                        font-weight: 600;
                        font-family: 'Open Sans', sans-serif;
                        margin-bottom: 30px;
                    }
                    .submitBtn{
                        background: #ed8c24;
                        color: #fff;
                        border: solid 1px #ed8c24;
                        padding: 15px 45px;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 100%;
                        border-radius: 30px;
                        position: relative;
                        cursor: pointer;
                        &:hover, &:focus{
                            color: #ed8c24;
                            background: #fff;
                        }
                    }
                    .fileAttach{
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 20px;
                    }
                }
                &.platform{
                    ul{
                        display: flex;
                        li{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-left: 20px;
                            &:first-child{
                                margin-left: 0;
                            }
                            figure{
                                width: 26px;
                                height: 26px;
                            }
                            span{
                                margin-left: 6px;
                                font-size: 16px;
                            }
                            &.facebook{
                                color: #1e6dcf;
                            }
                            &.youtube{
                                color: #f25940;
                            }
                        }
                    }
                }
            }
            .bigContent{
                width: 68%;
                padding-right: 6%;
            }
            .sideContent{
                width: 30%;
                border-left: solid 1px #d8d8d8;
                padding-left: 6%;
            }
        }
    }
}