body{
    /* font-family: 'Arsenal', sans-serif; 
        font-family: 'Mukta', sans-serif;
    */
}

body {
    margin: 0; 
    font-family: 'Arsenal', sans-serif;
    font-weight: 400;
    }

ul,li{
    padding: 0;
    margin: 0;
    list-style: none;
}
img{ max-width: 100%; vertical-align: top; }
figure{ margin: 0;}


.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    padding: 26px 0;
}
.header_left a.logo{
    float: left;
}
.header ul{
    float: right;
    display: flex;
}
.header ul li{
 margin-left: 0px;
}
.header ul li a{
    color: #fff;
    font-size: 15px;
    line-height: 34px;
    padding: 0 20px;
    display: block;
    font-weight: 400;
    font-family: 'Mukta', sans-serif;
}
/* .header_right ul li a.active{
    color: black;
} */
.header ul li a:hover{
    background: #ed8c24;
    border-radius: 20px; 
    text-decoration: none;
}

/* .header_right ul{
    display: flex;
    justify-content: right;
} */

.navbar{
    width: 100%;
}
.navbar a.navbar-brand{ margin-right: 60px;}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.header ul li:nth-child(4){
    margin-right: 255px;
}


.banner_holder{
    position: relative;
}
.banner_holder img{
    width: 100%;
}

.banner_text{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner_text h2{
    margin: 0 0 12px;
    font-size: 80px;
    color: #fff;
    font-weight: 700;
    font-style: italic;
    line-height: 94px;
    text-align: center;
    font-family: 'Arsenal', sans-serif;
}
.banner_text span{
    display: block;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    margin: 0 0 44px;
    font-family: 'Arsenal', sans-serif;
}
.banner_text a{
    display: inline-block;
    line-height: 80px;
    padding: 0 50px;
    color: #fff;
    font-size: 28px;
    background: #ed8c24;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 1px 2px 0px #000;
}

.banner_bottom{
    padding: 56px 0;
    border-bottom: 1px solid #d0d0d0;
}
.banner_bottom_box strong{
    display: block;
    font-size: 50px;
    color: #3187e7;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 8px;
    font-family: 'Open Sans', sans-serif;
}
.banner_bottom_box span{
    display: block;
    font-size: 17px;
    color: #1e1e1e;
    font-style: italic;
    font-family: 'Arsenal', sans-serif;
}


.home_market_holder{
    /* padding: 74px 0 0; */
    background: #eee;
    
}
.marketing_area{
    text-align: center;
    padding: 74px 0 68px;
    background: url('/assets/front_end/images/marketing-bg.png') no-repeat center 133px;
    background-size: cover;
}
.home_market_holder h2{
    margin: 0 0 25px;
    font-size: 48px;
    color: #3c3c3c;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.marketing_area h3{
    margin: 0 0 70px;
    color: #757575;
    font-weight: 400;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.marketing_area ul{
    display: inline-block;
    width: 100%;
}
.marketing_area ul li{
    position: relative;
    float: left;
    width: 33.333%;
}
.marketing_area ul li .round{
    width: 238px;
    height: 238px;
    margin: 0 auto;
    border-radius: 50%;
    padding-top: 62px;
    background: #3086e7;
    position: relative;
    z-index: 2;
}
.marketing_area ul li .round strong{
    display: block;
    color: #fff;
    font-size: 23px;
    font-style: italic;
    margin: 16px 0 0;
    font-weight: 700;
    font-family: 'Arsenal', sans-serif; 
}
.marketing_area ul li .round span{
    display: inline-block;
    border-radius: 20px;
    color: #3c3c3c;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 35px;
    background: #fff;
    box-shadow: 1px 1px 3px 0 #000;
    padding: 0 26px;
    position: absolute;
    top: 0;
    left: -10px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.marketing_area ul li:first-child{
    margin: 140px 0 0;
}
.marketing_area ul li:first-child .round{
    background: #e5860a;
}
.marketing_area ul li:last-child{
    margin: 140px 0 0;
}
.marketing_area ul li:nth-child(2):after{
    content: "";
    border-bottom: 2px dotted #666;
    position: absolute;
    width: 100%;
    border-radius: 50%;
    height: 117px;
    left: 206px;
    transform: rotate(200deg);
    top: 126px;
}
.marketing_area ul li:nth-child(2):before{
    content: "";
    border-bottom: 2px dotted #666;
    position: absolute;
    width: 100%;
    border-radius: 50%;
    height: 117px;
    right: 206px;
    transform: rotate(-200deg);
    top: 126px;
}
/* .home_market_holder .marketing_area ul li:first-child:after{
    content: "";
    position: absolute;
} */

.home_discover{
    padding-bottom: 77px;
    position: relative;
}
.home_discover:after{
    content: "";
    position: absolute;
    border-left: 2px dotted rgba(0,0,0,0.4);
    width: 0;
    height: 70px;
    left: 50%;
    bottom: 0px;
}
.home_discover:last-child:after{
    display: none;
}
.home_discover h2{
    margin: 0;
    padding: 0 0 75px;
    position: relative;
}
.home_discover h2:after{
    content: "";
    position: absolute;
    border-left: 2px dotted rgba(0,0,0,0.4);
    width: 0;
    height: 70px;
    left: 50%;
    top: 45px;
}

.home_discover .widget_box{
    background: #fff;
    box-shadow: 0 0 4px 0 #ccc;
}

.home_discover .widget_box .widget_box_img img{
    width: 100%;
}
.home_discover .widget_box_text{
    padding-top: 70px;
}
.home_discover .widget_box_text h3{
    margin: 0 0 16px;
    font-size: 23px;
    line-break: 20px;
    color: #33a0f3;
    font-weight: 700;
    font-style: italic;
    font-family: 'Arsenal', sans-serif;
}
.home_discover .widget_box_text strong{
    display: block;
    font-size: 17px;
    font-weight: 600;
    color: #3c3c3c;
    margin: 0 0 15px;
    font-family: 'Open Sans', sans-serif;
}
.home_discover .widget_box_text p{
    font-size: 16px;
    color: #757575;
    font-weight: 400;
    line-height: 27px;
    margin: 0 0 15px;
    font-family: 'Open Sans', sans-serif;
}


.home_discover:nth-child(even) .row{
    margin-left: 0; 
}
.home_discover:nth-child(odd) .row{
    margin-right: 0; 
}


.blue_brand{
    background: #2f78db url(/assets/front_end/images/blue-img.png) no-repeat center 0;
    padding: 65px 0;
}
.blue_brand .blue_brand_left h2{
    margin: 0 0 18px;
    font-size: 48px;
    line-height: 40px;
    color: #fff;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.blue_brand .blue_brand_left span{
    display: block;
    color: #fff;
    font-size: 30px;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Arsenal', sans-serif;
}
.blue_brand .blue_brand_right{
    text-align: right;
}
.blue_brand .blue_brand_right a{
    display: inline-block;
    color: #fff;
    line-height: 80px;
    padding: 0 64px;
    font-size: 28px;
    background: #ed8c24;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 1px 2px 0px #000;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}


.testi_holder{
    padding: 88px 0 152px;
    background: #f3f3f3;
}
.testi_holder h2{
    margin: 0 0 35px;
    font-size: 26px;
    color: #3c3c3c;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.testi_holder .testi_box{
    background: #fff;
    padding: 50px 44px;
    box-shadow: 0 0 5px 0 #c5bebe;
    border-radius: 3px;
    position: relative;
    width: 90%;
}
.testi_holder .testi_box:before,
.testi_holder .testi_box:after{
    top: 100%;
	left: 70px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.testi_holder .testi_box:after{
    border-color: rgba(136, 183, 213, 0);
	border-top-color: #fff;
	border-width: 30px;
	margin-left: -30px;
}
.testi_holder .testi_box:before{
    border-color: rgba(194, 225, 245, 0);
	border-top-color: #ccc;
	border-width: 31px;
	margin-left: -31px;
}


.testi_holder .testi_box span{
    display: block;
    font-size: 13px;
    color: #2f78db;
    font-weight: 700;
    margin: 0 0 8px;
    font-family: 'Open Sans', sans-serif;
}
.testi_holder .testi_box p{
    margin: 0;
    font-size: 18px;
    color: #545454;
    font-weight: 400;
    font-style: italic;
    line-height: 29px;
    font-family: 'Arsenal', sans-serif; 
}

.testi_holder .test_box_bottom{
    margin: 36px 0 0;
}
.testi_holder .test_box_bottom .test_box_profile{
    display: inline-block;
    width: 100%;
    margin: 0 0 13px;
}
.testi_holder .test_box_bottom .test_box_profile figure{
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 12px;
}
.testi_holder .test_box_bottom .test_box_profile strong{
    display: block;
    font-size: 17px;
    line-height: 15px;
    color: #1f1f1f;
    margin: 0 0 6px;
    font-weight: 700;
    font-family: 'Arsenal', sans-serif; 
}
.testi_holder .test_box_bottom .test_box_profile span{
    display: block;
    font-size: 15px;
    color: #797979;
    font-weight: 400;
    font-family: 'Arsenal', sans-serif; 
}
.testi_holder a.btn{
    color: #fff;
    line-height: 32px;
    border-radius: 30px;
    padding: 0 24px;
    line-height: 34px;
    font-size: 15px;
    background: #ed8c24;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Mukta', sans-serif;
}

.testi_right ul{
    margin-left: -2%;
    margin-right: -2%;
    padding-bottom: 30px;
    display: inline-block;
}
.testi_right ul li{
    float: left;
    width: 46%;
    margin: 0 2% 15px;
    border-bottom: 1px solid #ccc;
    padding: 0 0 15px;
}
.testi_right ul li span{
    display: block;
    font-size: 13px;
    color: #33a0f3;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.testi_right ul li strong{
    display: block;
    font-size: 17px;
    color: #3c3c3c;
    line-height: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.testi_right ul li a{
    font-size: 13px;
    color: #616161;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.brands_holder{
    position: absolute;
    top: -60px;
    width: 100%;
    left: 0;
}
.brands_holder .brands_area{
    background: #fff;
    display: flex;
    border-radius: 20px;
}
.brands_holder .brands_area strong{
    display: block;
    color: #fff;
    font-size: 22px;
    background: #2f78db;
    padding: 0 50px 0 95px;
    line-height: 120px;
    position: relative;
    border-radius: 18px 0 0 18px; 
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.brands_holder .brands_area strong:before,
.brands_holder .brands_area strong:after{
    left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.brands_holder .brands_area strong:after{
    border-color: rgba(136, 183, 213, 0);
	border-left-color: #2f78db;
	border-width: 60px;
	margin-top: -60px;
}
/* .brands_holder .brands_area strong:before{
    border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 36px;
	margin-top: -36px;
} */




.brands_holder .brands_area ul{
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0 70px;
}
.brands_holder .brands_area ul li{
    width: 25%;
}








.footer_holder{
    padding: 117px 0 52px;
    background: #303030;
    position: relative;
}
.footer_nav ul{
    padding: 0 35px 0 0;
    display: flex;
    justify-content: space-between;
}
.footer_nav ul li a{
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.footer_nav span{
    display: block;
    font-size: 11px;
    color: #9a9a9a;
    margin: 12px 0 0;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.footer_social strong{
    display: block;
    font-size: 18px;
    color: #fff;
    margin: 0 0 8px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.footer_social ul{
    display: flex;
}
.footer_social ul li{
    margin: 0 3px 0 0;
}
.footer_social ul li a{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #848484;
    line-height: 19px;
    font-size: 12px;
    color: #303030;
    display: block;
    text-align: center;
    cursor: pointer;
}

.footer_sub .form{
    display: flex;
    background: none;
    border-bottom: 1px solid #848484;
}
.footer_sub .form .input_type{
    background: none;
    border: 0;
    font-size: 15px;
    color: #797979;
    width: 70%;
    font-weight: 400;
    font-family: 'Mukta', sans-serif;
}
.footer_sub .form button{
    color: #fff;
    background: #ed8c24;
    border: 0;
    padding: 0 24px;
    line-height: 34px;
    font-size: 15px;
    border-radius: 50px;
    font-weight: 400;
    font-family: 'Mukta', sans-serif;
}



/*-------------Responsive------------------*/

@media screen and (max-width:1199px){

    .header ul li:nth-child(4){
        margin-right: 60px;
    }

}

@media screen and (max-width:991px){

    .banner_text h2{ font-size: 50px; line-height: 60px; }
    .banner_text span{ font-size: 24px; margin: 0 0 24px;}
    .banner_text a{ font-size: 24px; }
    .banner_bottom_box strong{ font-size: 35px; }
    .marketing_area h3{ font-size: 22px;}
    .marketing_area ul li:nth-child(2):before{ right: 146px; top: 123px;}
    .marketing_area ul li:nth-child(2):after{ left: 145px; top: 123px; }
    .marketing_area ul li .round{ width: 220px; height: 220px;}
    .home_market_holder h2{ font-size: 35px;}
    .home_discover .widget_box_text{ padding-top: 30px;}

    .header ul{ float: none;}
    .navbar-collapse{ background: #666; padding: 10px;}


    
}

@media screen and (max-width:767px){

    .container{ max-width: 100%; }
    .banner_text h2{ font-size: 40px; line-height: 48px;}
    .banner_text span{ font-size: 22px; margin: 0 0 15px;}
    .banner_text a{ font-size: 22px; line-height: 60px; }

    .banner_bottom{ padding: 25px 0;}
    .banner_bottom_box strong{ font-size: 28px;}
    .banner_bottom_box{ margin: 0 0 12px; text-align: center;}
    .banner_bottom_box:nth-child(3),
    .banner_bottom_box:nth-child(4){ margin: 0; }
    .marketing_area{ padding: 30px 0; background: none;}
    .marketing_area h3{ font-size: 20px;}
    .marketing_area ul li{width: 100%; padding: 0; margin: 0; float: none;}
    .marketing_area ul li:first-child{ margin: 0 0 20px;}
    .marketing_area ul li:last-child{ margin-top: 20px;}
    .marketing_area ul li:nth-child(2):after{ display: none;}
    .marketing_area ul li:nth-child(2):before{ width: 83%; right: 61px; height: 2px; transform: rotate(-90deg);}
    .home_market_holder{ padding: 20px 0 0;}
    .home_discover h2{ padding: 0 0 40px; font-size: 32px;}
    .home_discover:nth-child(even) .row{ margin-left: -15px; }
    .home_discover:nth-child(odd) .row{ margin-right: -15px; }
    .home_discover .widget_box{ padding: 15px; position: relative;}
    .home_discover:nth-child(2){ display: flex; flex-direction: column;}
    .home_discover:nth-child(2) .widget_box_text{ order: 2;}
    .home_discover .widget_box_text p{ font-size: 14px; line-height: 23px;}
    .home_discover .widget_box_text h3{ font-size: 20px;}
    .home_discover .widget_box_text strong{ font-size: 16px;}

    .blue_brand{ background: #2f78db; text-align: center; padding: 40px 0;}
    .blue_brand .blue_brand_left span{ font-size: 22px;}
    .blue_brand .blue_brand_left h2{ font-size: 32px;}
    .blue_brand .blue_brand_right{ margin: 20px 0 0; text-align: center;}
    .blue_brand .blue_brand_right a{ line-height: 55px; font-size: 22px;}
    .testi_holder{ padding: 40px 0 105px;}
    .testi_holder h2{ margin: 0 0 16px; font-size: 22px;}
    .testi_holder .testi_left{ margin: 0 0 30px;}
    .testi_right ul{ padding-bottom: 8px;}
    .brands_holder .brands_area strong{ font-size: 18px; padding: 0 15px 0 20px; font-size: 18px; line-height: 98px;}
    .brands_holder .brands_area strong:after{ border-width: 49px; margin-top: -49px;}
    .brands_holder .brands_area ul{ padding: 0 10px 0 54px;}
    .testi_right ul li strong{ font-size: 15px; }
    .footer_holder{ padding: 70px 0 20px;}
    .footer_sub .form .input_type{ width: 100%;}
    .footer_holder .footer_social{ margin: 10px 0;}
    .testi_holder .testi_box p{ font-size: 16px; line-height: 26px;}
    .testi_holder .testi_box{ padding: 35px 40px;}
    .brands_holder{ top: -50px;}




}

@media screen and (max-width:575px){

    .banner_text h2{  font-size: 35px; line-height: 40px;}
    .banner_text span{ font-size: 19px; margin: 0 0 10px; text-align: center;}
    .banner_text a{ font-size: 18px; line-height: 50px;}
    .banner_bottom_box{ width: 50%;}
    .marketing_area h3{ font-size: 16px;}
    .marketing_area ul li:nth-child(2):before{ right: 46px;}
    .brands_holder .brands_area{ flex-direction: column;}
    .brands_holder .brands_area strong:before, 
    .brands_holder .brands_area strong:after{ display: none;}
    .brands_holder .brands_area strong{ line-height: 60px; border-radius: 10px 10px 0 0;}
    .brands_holder .brands_area ul{ padding: 20px 0;}
    .brands_holder .brands_area{ border-radius: 10px;}
    .brands_holder{ top: -74px;}



}

@media screen and (max-width:479px){

    .banner_text{ padding: 0 15px;}
    .banner_text h2{ font-size: 24px; line-height: 26px; margin: 0 0 5px;}
    .banner_text span{ font-size: 16px; line-height: 20px; margin: 0 0 5px;}
    .banner_text a{ font-size: 15px; line-height: 40px; padding: 0 30px;}
    .marketing_area ul li:nth-child(2):before{ right: 29px;}
    .blue_brand .blue_brand_left h2{ font-size: 28px; line-height: 22px;}
    .blue_brand .blue_brand_left span{ font-size: 16px;}
    .blue_brand .blue_brand_right{ margin-top: 10px;}
    .blue_brand .blue_brand_right a{ font-size: 18px;}
    .testi_holder .testi_box{ width: 100%;}
    .testi_right ul li{ float: none; width: 100%; margin: 0 0 10px;}
    .testi_right ul li:nth-child(3),
    .testi_right ul li:nth-child(4){ margin: 0;}
    .testi_right ul{ margin: 0; display: block;}
    .brands_holder .brands_area ul{ flex-wrap: wrap;}
    .brands_holder .brands_area ul li{ width: 50%; margin: 0 0 8px;}
    .brands_holder .brands_area strong{ line-height: 40px;}
    .brands_holder{ top: -90px;}
    .header{ padding: 0;}
    .navbar{ padding-top: 0;}
    .banner_text{ margin-top: 20px;}
    .footer_nav ul{ flex-direction: column; }

}





/* font-family: 'Arsenal', sans-serif; 
    font-family: 'Mukta', sans-serif;
    font-family: 'Open Sans', sans-serif;
*/
