<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <section class="content-header">
        <h1 class="adddrop">Sent Invitation<small>This section allows show all sent invitation</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/brand-owner"> Brand Owner List</a></li>       
          <li class="active">Sent Invitation</li>
        </ol>
      </section>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped" class="table table-striped table-bordered row-bordered" style="width:100%"
          datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
          <thead>
            <tr>
              <th>Influencer Name</th>
              <th>Job Title</th>
              <th>Status</th>
              <th>Invitation Date</th>
              <th>Action</th>
            </tr>
          </thead>

          <!-- <tfoot style="display: table-header-group;">
            <tr>
              <th><input class="form-control" type="text" placeholder="Search Title" /></th>
              <th><input class="form-control" type="text" placeholder="Service Require" /></th>
              <th><input class="form-control" type="text" placeholder="Search Platform" /></th>
              <th><input class="form-control" type="text" placeholder="Search Post Date" /></th>
              <th><input class="form-control" type="text" placeholder="Search Expire Date" /></th>
              <th></th>
             

            </tr>
          </tfoot> -->

          <tbody>
            <tr *ngFor="let brandOwnerList of brandOwnerData; let i= index;">


              <td> {{ brandOwnerList.influencer_name}}</td>
              <td>{{ brandOwnerList.job_title}}</td>            
              <td> <span class="btn btn-{{ (brandOwnerList.invitation_status == 'Pending')?'warning':'success' }} btn-xs">{{brandOwnerList.invitation_status}}</span> </td>
              <td> {{ brandOwnerList.invitation_date}} </td>
             <td> <span style="padding: 4px"> <a routerLink="/response-details/{{ brandOwnerList.id }}"><i class=" fa fa-comments"
                title="View Response"> </i></a></span></td>
            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>