<section class="message_holder">
  <!--message_holder-->
  <div class="title">
    <h2>Current Messages</h2>
  </div>

  <div class="table_row">
    <!--table_row-->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Campaign Name</th>
            <th>Brand Owner</th>
            <th>Influencer Name</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of [1,2,3,4,5]">
            <td>
              <strong>ABCRX</strong>
            </td>
            <td>
              <a>
                <figure>
                  <img src="assets/front_end/images/testimonial_img.jpg" alt="">
                  <span>Harold Williams</span>
                </figure>
                <strong>Harold Williams</strong>
              </a>
            </td>
            <td>
              <a>
                <figure>
                  <img src="assets/front_end/images/testimonial_img.jpg" alt="">
                  <span>20</span>
                </figure>

              </a>
              <a>
                <figure>
                  <img src="assets/front_end/images/testimonial_img.jpg" alt="">
                  <span>17</span>
                </figure>

              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--table_row-->
</section>
<!--message_holder-->