<section class="messageDetails">
  <div class="leftChats">
    <section class="messagePan">
      <section class="p-4">
        <ul class="msgList">
          <li class="send d-flex align-items-center mb-4">
            <div class="leftBox">
              <img src="/assets/influencers/images/profile-info.png" alt="" title="" />
              <div class="ml-3 mr-3 desc">
                  <p class="mb-0 text-blue">20th Nov 2018</p>
                  <p class="mb-0 font-weight-400"> Mr L.Tailor</p>
              </div>

            </div>
            <div class="rightBox bg-white  p-3 ml-4 shadow-1 rounded">
              <p class="mb-0"> Mauris semper nec magna eget porta. Phasellus ut consequat lorem. Sed id malesuada elit. Curabitur sodales pretium arcu, vel commodo nunc facilisis ut</p>
            </div>
          </li>

          <li class="resive justify-content-end p-0 d-flex align-items-center mb-4">
            <div class="leftBox">
              <div class="ml-3 mr-3 desc">
                  <p class="mb-0 text-blue">20th Nov 2018</p>
                  <p class="mb-0 font-weight-400"> Mr L.Tailor</p>
              </div>

            </div>
            <div class="rightBox bg-blue text-white p-3 ml-4 shadow-1 rounded">
              <p class="mb-0"> Mauris semper nec magna eget porta. Phasellus ut consequat lorem.</p>
            </div>
          </li>

          <li class="send d-flex align-items-center mb-4">
            <div class="leftBox">
              <img src="/assets/influencers/images/profile-info.png" alt="" title="" />
              <div class="ml-3 mr-3 desc">
                  <p class="mb-0 text-blue">20th Nov 2018</p>
                  <p class="mb-0 font-weight-400"> Mr L.Tailor</p>
              </div>

            </div>
            <div class="rightBox bg-white  p-3 ml-4 shadow-1 rounded">
              <p class="mb-0"> Mauris semper nec magna eget porta. Phasellus ut consequat lorem. Sed id malesuada elit. Curabitur sodales pretium arcu, vel commodo nunc facilisis ut</p>
            </div>
          </li>

          <li class="resive justify-content-end p-0 d-flex align-items-center mb-4">
            <div class="leftBox">
              <div class="ml-3 mr-3 desc">
                  <p class="mb-0 text-blue">20th Nov 2018</p>
                  <p class="mb-0 font-weight-400"> Mr L.Tailor</p>
              </div>

            </div>
            <div class="rightBox bg-blue text-white p-3 ml-4 shadow-1 rounded">
              <p class="mb-0"> Mauris semper nec magna eget porta. Phasellus ut consequat lorem. Sed id malesuada elit. Curabitur sodales pretium arcu</p>
            </div>
          </li>

          <li class="send d-flex align-items-center mb-4">
            <div class="leftBox">
              <img src="/assets/influencers/images/profile-info.png" alt="" title="" />
              <div class="ml-3 mr-3 desc">
                  <p class="mb-0 text-blue">20th Nov 2018</p>
                  <p class="mb-0 font-weight-400"> Mr L.Tailor</p>
              </div>

            </div>
            <div class="rightBox bg-white  p-3 ml-4 shadow-1 rounded">
              <p class="mb-0"> Mauris semper nec magna eget porta. Phasellus ut consequat lorem. Sed id malesuada elit. Curabitur sodales pretium arcu, vel commodo nunc facilisis ut</p>
            </div>
          </li>

          <li class="resive justify-content-end p-0 d-flex align-items-center mb-4">
            <div class="leftBox">
              <div class="ml-3 mr-3 desc">
                  <p class="mb-0 text-blue">20th Nov 2018</p>
                  <p class="mb-0 font-weight-400"> Mr L.Tailor</p>
              </div>

            </div>
            <div class="rightBox bg-blue text-white p-3 ml-4 shadow-1 rounded">
              <p class="mb-0"> Mauris semper nec magna eget porta. Phasellus ut consequat lorem. Sed id malesuada elit. Curabitur sodales pretium arcu</p>
            </div>
          </li>

          <li class="resive justify-content-end p-0 d-flex align-items-center mb-4">
            <div class="leftBox">
              <div class="ml-3 mr-3 desc">
                  <p class="mb-0 text-blue">20th Nov 2018</p>
                  <p class="mb-0 font-weight-400"> Mr L.Tailor</p>
              </div>

            </div>
            <div class="rightBox bg-blue text-white p-3 ml-4 shadow-1 rounded">
              <p class="mb-0"> Mauris semper nec magna eget porta. Phasellus ut consequat lorem. Sed id malesuada elit. Curabitur sodales pretium arcu</p>
            </div>
          </li>

        </ul>
      </section>
  </section>
  </div>
  <div class="rightChatsThreads">
    <div class="topSearch">
      <input type="search" class="form-control" placeholder="Enter Name or Email Address"/>
    </div>
    <div class="threads">
      <ul>
        <li>
          <figure>
            <img src="../../../assets/influencers/images/chat-1.png"/>
            <span class="status online"></span>
          </figure>
          <div class="chatDesc">
            <h3>Jasmin M <span class="number">03</span></h3>
            <h4>Artist</h4>
          </div>
        </li>
        <li>
          <figure>
            <img src="../../../assets/influencers/images/chat-2.png"/>
            <span class="status idle"></span>
          </figure>
          <div class="chatDesc">
            <h3>Jasmin M <span class="number">03</span></h3>
            <h4>Artist</h4>
          </div>
        </li>
        <li class="offline">
          <figure>
            <img src="../../../assets/influencers/images/chat-3.png"/>
            <span class="status"></span>
          </figure>
          <div class="chatDesc">
            <h3>Jasmin M</h3>
            <h4>Artist</h4>
          </div>
        </li>
        <li>
          <figure>
            <img src="../../../assets/influencers/images/chat-1.png"/>
            <span class="status idle"></span>
          </figure>
          <div class="chatDesc">
            <h3>Jasmin M</h3>
            <h4>foody</h4>
          </div>
        </li>
        <li class="active">
          <figure>
            <img src="../../../assets/influencers/images/chat-2.png"/>
            <span class="status online"></span>
          </figure>
          <div class="chatDesc">
            <h3>Jasmin M</h3>
            <h4>blogger</h4>
          </div>
        </li>
        <li class="offline">
          <figure>
            <img src="../../../assets/influencers/images/chat-4.png"/>
            <span class="status"></span>
          </figure>
          <div class="chatDesc">
            <h3>Jasmin M</h3>
            <h4>Artist</h4>
          </div>
        </li>
        <li>
          <figure>
            <img src="../../../assets/influencers/images/chat-2.png"/>
            <span class="status idle"></span>
          </figure>
          <div class="chatDesc">
            <h3>Jasmin M <span class="number">03</span></h3>
            <h4>Artist</h4>
          </div>
        </li>
        <li>
          <figure>
            <img src="../../../assets/influencers/images/chat-2.png"/>
            <span class="status idle"></span>
          </figure>
          <div class="chatDesc">
            <h3>Jasmin M <span class="number">03</span></h3>
            <h4>Artist</h4>
          </div>
        </li>
        <li>
          <figure>
            <img src="../../../assets/influencers/images/chat-2.png"/>
            <span class="status idle"></span>
          </figure>
          <div class="chatDesc">
            <h3>Jasmin M <span class="number">03</span></h3>
            <h4>Artist</h4>
          </div>
        </li>
        <li>
          <figure>
            <img src="../../../assets/influencers/images/chat-2.png"/>
            <span class="status online"></span>
          </figure>
          <div class="chatDesc">
            <h3>Jasmin M <span class="number">03</span></h3>
            <h4>Artist</h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
