<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">Add Admin Role Type<small>This section allows you to add admin role type</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/admin-role">Admin Role Type List</a></li>
          <li>Admin Role Type Add</li>
        </ol>
      </section>
    </div>
  </div>
</div>
<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <form class="forms-sample" [formGroup]="addadminForm" #addadminFormData="ngForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="id" [(ngModel)]="id">
        <div class="form-group row">
          <label for="fname" class="col-sm-2 col-form-label">Role Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="role_name" [(ngModel)]="role_name" placeholder="Enter Role Name"
              formControlName="role_name" [ngClass]="{ 'is-invalid': submitted && f.role_name.errors }">
            <div *ngIf="submitted && f.role_name.errors" class="invalid-feedback">
              <div *ngIf="f.role_name.errors.required">Please enter role name </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="status" class="col-sm-2 col-form-label">Status</label>
          <div class="col-sm-3">
            <select [(ngModel)]='status' id="status" class="form-control" formControlName="status"
              [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
            </select>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
              <div *ngIf="f.status.errors.required">Please select status</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-success mr-3">Submit</button>
            <button class="btn btn-light" type="button" (click)="Cancel()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>