<header class="header fixed-header" id="header" >
  <div class="container">
    <div class="row">

      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" routerLink="/">
          <img class="normal_logo" src="assets/front_end/images/logo.png" alt="logo">
          <img class="white_logo" src="assets/front_end/images/white_logo.png" alt="logo">
        </a>
        <button class="navbar-toggler" id="mobileNav" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          
            <ul class="navbar-nav">
                <li class="nav-item">
                  <a routerLink="/influencer" routerLinkActive="active">Influencers</a>
                </li>
                <li class="nav-item"> 
                  <a routerLink="/blog" routerLinkActive="active" [class.active]="routeIsActive('/blog-details')">Blog</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/pricing" routerLinkActive="active">Pricing</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/resources" routerLinkActive="active">Resources</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/login" routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item">
                  <a routerLink="/signup" routerLinkActive="active">Sign up</a>
                </li>
                
                <li class="nav-item">
                  <a href="http://111.93.177.60/site/influnaire-arbic/">عربي</a>
                </li>
                <!-- <li class="nav-item">
                  <div class="btn-group">
                    <button type="button" (click)="toggle()" class="btn btn-default dropdown-toggle"  >
                      <img id="country_dropdown_toogle" src="assets/front_end/images/flag1.png">
                      English
                      <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    
                    <ul class="dropdown-menu" id="collapseExample4654" *ngIf="show_dialog">
                      
                      <li>
                        <a href="#"  ><img src="assets/front_end/images/flag1.png">English</a>
                      </li>
                      <li>
                        <a href="#"  ><img src="assets/front_end/images/flag2.png">Arabic</a>
                      </li>
                      
                    </ul>
                  </div>

                </li> -->
                
              </ul>
        </div>
      </nav>
    </div>
  </div>
</header>