<div class="col-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <section class="content-header">
                    <h1 class="adddrop"> {{ actionName }}Testimonial<small>This section allows to
                            {{ actionName }} Testimonial</small></h1>
                    <ol class="breadcrumb">
                        <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li><a routerLink="/cms">Pages List</a></li>
                        <li> {{ actionName }} Testimonial</li>
                    </ol>
                </section>
            </div>
        </div>
    </div>
    <div class="col-12 stretch-card">
    <div class="card">
        <div class="card-body">
            
            <form class="forms-sample" [formGroup]="Form" #FormData="ngForm" (ngSubmit)="onSubmit()">
                <input type="hidden" formControlName="id" [(ngModel)]="id">
                <div class="col-sm-12">
                    <div class="form-group row">
                        <label for="card-title" class="col-sm-2 col-form-label">Author: </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="author_name" [(ngModel)]="author_name"
                                placeholder="Enter Author Name" formControlName="author_name"
                                [ngClass]="{ 'is-invalid': submitted && f.author_name.errors }">
                            <div *ngIf="submitted && f.author_name.errors" class="invalid-feedback">
                                <div *ngIf="f.author_name.errors.required">Please enter Author name </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="card-title" class="col-sm-2 col-form-label">Image : </label>
                        <div class="col-sm-9">
                            <input type="file" class="form-control" formControlName="author_img"
                                [ngClass]="{ 'is-invalid': submitted && f.author_img.errors }">
                            <div *ngIf="submitted && f.author_img.errors" class="invalid-feedback">
                                <div *ngIf="f.author_img.errors.required">Please upload company logo </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="card-title" class="col-sm-2 col-form-label">Designation:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="designation" [(ngModel)]="designation"
                                placeholder="Enter designation" formControlName="designation"
                                [ngClass]="{ 'is-invalid': submitted && f.designation.errors }">
                            <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                                <div *ngIf="f.designation.errors.required">Please enter designation </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="Description" class="col-sm-2 col-form-label">Description:</label>
                        <div class="col-sm-9">
                            <editor [init]="tinyMceSettings" id="description" formControlName="description"
                                [(ngModel)]="description"
                                [ngClass]="{ 'is-invalid': submitted && f.description.errors }"></editor>
                            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                                <div *ngIf="f.description.errors.required">Please enter from name </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="status" class="col-sm-2 col-form-label">Status :</label>
                    <div class="col-sm-3">
                        <select [(ngModel)]='status' id="status" class="form-control" formControlName="status"
                            [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
                            <option value="Active">Active</option>
                            <option value="Inactive">Inactive</option>
                        </select>
                        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                            <div *ngIf="f.status.errors.required">Please select Your Admin Status</div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success mr-3">Submit</button>
                <button class="btn btn-light" type="button" (click)="cancelForm()">Cancel</button>
            </form>
        </div>
    </div>
</div>