<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">Admin Menu Role Permission <small>This section allows you to manage admin role
            permission</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/admin-role">Admin Role Type List</a></li>
          <li>Admin Menu Role Permission List</li>
        </ol>
      </section>
    </div>
    <div class="card-body">
      <div class="table-responsive admin_permission_table">
        <table class="table table-striped table-bordered row-bordered">
          <thead>
            <tr>
              <th>Menu Name</th>
              <th>View</th>
              <th>Add</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let menu of menuPermissionData">
              <td>{{ menu.menu_name }}</td>
              <td><input type="checkbox" [checked]="menu.permission_view"
                  (click)="permission(menu.menu_id,'view',$event)" class="form-control"></td>
              <td><input type="checkbox" [checked]="menu.permission_add" (click)="permission(menu.menu_id,'add',$event)"
                  class="form-control"></td>
              <td><input type="checkbox" [checked]="menu.permission_edit"
                  (click)="permission(menu.menu_id,'edit',$event)" class="form-control"></td>
              <td><input type="checkbox" [checked]="menu.permission_delete"
                  (click)="permission(menu.menu_id,'delete',$event)" class="form-control"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>