<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">Received Invitation<small>This section allows show all received invitation</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/influencer"> Influencer</a></li>
          <li class="active">Received Invitation</li>
        </ol>
      </section>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped" class="table table-striped table-bordered row-bordered" style="width:100%"
          datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
          <thead>
            <tr>
              <th>Brand Owner Name</th>
              <th>Job Title</th>
              <th>Status</th>
              <th>Invitation Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let invitation of invitationData; let i= index;">
              <td> {{ invitation.influencer_name}}</td>
              <td>{{ invitation.job_title}}</td>
              <td> <span
                  class="btn btn-{{ (invitation.invitation_status == 'Pending')?'warning':'success' }} btn-xs">{{invitation.invitation_status}}</span>
              </td>
              <td> {{ invitation.invitation_date}} </td>
              <td>
                <span style="padding: 4px">
                  <a routerLink="/invitation-details/{{ invitation.id }}"><i class=" fa fa-list"
                      title="Details"> </i></a>
                </span>
                <span style="padding: 4px">
                    <a routerLink="/influencer-response-details/{{ invitation.id }}"><i class=" fa fa-eye"
                        title="Response Details"> </i></a>
                  </span>
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>