<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">


            <section class="content-header">
                <h1 class="adddrop">Admin User List <small>This section allows show you Admin User List</small></h1>
                <ol class="breadcrumb">
                    <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Admin User List</li>
                </ol>
            </section>


            <div class="float-right p-4"><a routerLink="/add-admin"> <button type="button" class="btn btn-primary">+Add
                        Admin User</button> </a></div>
            <div class="table-responsive">
                <table id="example" class="table table-striped table-bordered row-bordered" style="width:100%" datatable
                    [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email</th>
                            <th>Status</th>
                            <th> Action</th>
                        </tr>
                    </thead>
                    <tfoot style="display: table-header-group;">
                        <tr>
                            <th><input class="form-control" type="text" placeholder="Search First name" /></th>
                            <th><input class="form-control" type="text" placeholder="Search Last name" /></th>
                            <th><input class="form-control" type="text" placeholder="Search Email" /></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr *ngFor="let AdminUserData of adminUserData">
                            <td class="py-1"> {{ AdminUserData.first_name}}</td>
                            <td>{{ AdminUserData.last_name}}</td>
                            <td>{{ AdminUserData.email}} </td>
                            <td><span class="btn {{(AdminUserData.status=='Active')? 'btn-success':'btn-danger'}} btn-xs">{{ AdminUserData.status}}</span> </td>
                            <td>
                                <span style="padding: 4px"><a routerLink="/editadmin/{{ AdminUserData.id }}"
                                        title="Edit"><i class="fa fa-fw fa-edit"></i> </a></span>
                                <span *ngIf="AdminUserData.id != adminId">
                                    <span style="padding: 4px"> <a routerLink="#" title="Delete"><i
                                                class=" fa fa-trash-o" (click)="deleteAdmin(AdminUserData.id)"
                                                title="Delete"> </i> </a></span>
                                    <span style="padding: 4px"><a routerLink="/permission/{{ AdminUserData.id }}"
                                            title="Permission"><i class="fa fa-fw fa-key"></i> </a></span>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>