<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">{{action_name}} Influencer <small>This section allows {{action_name}} Influencer</small>
        </h1>
        <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/influencer">Influencer List</a></li>
          <li class="active">{{action_name}} Influencer</li>
        </ol>
      </section>
    </div>
  </div>
</div>
<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <form class="forms-sample" [formGroup]="addcreatorForm" #addcreatorFormData="ngForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="id" [(ngModel)]="id">
        <div class="form-group row">
          <label for="platform" class="col-sm-2 col-form-label">Choose Your Platform</label>
          <div class="col-sm-3">
            <select [(ngModel)]='platform' id="platform" class="form-control" formControlName="platform"
              [ngClass]="{ 'is-invalid': submitted && f.platform.errors }">
              <option value="1">Facebook</option>
              <option value="2">Twitter</option>
              <option value="3">Youtube</option>
            </select>
            <div *ngIf="submitted && f.platform.errors" class="invalid-feedback">
              <div *ngIf="f.platform.errors.required">Please select your platform</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="fname" class="col-sm-2 col-form-label">First Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="fname" [(ngModel)]="fname" placeholder="Enter First Name"
              formControlName="fname" [ngClass]="{ 'is-invalid': submitted && addcreatorForm.controls.fname.errors }">
            <div *ngIf="submitted && addcreatorForm.controls.fname.errors" class="invalid-feedback">
              <div *ngIf="f.fname.errors.required">Please enter your first name </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="lname" class="col-sm-2 col-form-label">Last Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="lname" [(ngModel)]="lname" placeholder="Enter Last Name"
              formControlName="lname" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }">
            <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
              <div *ngIf="f.lname.errors.required">Please enter your last name </div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="email" [(ngModel)]="email" placeholder="Enter email"
              formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Please enter your email </div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Company Name</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="company_name" [(ngModel)]="company_name"
              placeholder="Enter Company Name" formControlName="company_name">
          </div>
        </div>


        <div class="form-group row">
          <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Contact Number</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="contact_no" [(ngModel)]="contact_no"
              placeholder="Enter contact number" formControlName="contact_no"
              [ngClass]="{ 'is-invalid': submitted && f.contact_no.errors }">
            <div *ngIf="submitted && f.contact_no.errors" class="invalid-feedback">
              <div *ngIf="f.contact_no.errors.required">Please enter your contact no </div>
            </div>

          </div>
        </div>



        <div class="form-group row" *ngIf="isPassword">
          <label for="exampleInputPassword2" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="password" placeholder="Password" formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Please enter password</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Image</label>
          <div class="col-sm-9">
            <input type="file" class="form-control" placeholder="Image">
          </div>
        </div>

        <div class="form-group row">
          <label for="status" class="col-sm-2 col-form-label">Status</label>
          <div class="col-sm-3">
            <select [(ngModel)]='status' id="status" class="form-control" formControlName="status"
              [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
            </select>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
              <div *ngIf="f.status.errors.required">Please select status</div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success mr-3">Submit</button>
        <button class="btn btn-light" type="button" (click)="cancelForm()">Cancel</button>
      </form>
    </div>
  </div>
</div>