<section class="invitationDetails">
  <div class="title">
    <h2>Invitation Details</h2>
    <div class="title_right">
      <select>
        <option>January</option>
        <option>February</option>
        <option>March</option>
      </select>
    </div>
  </div>

  <div class="currentInvitationTable">
    <div class="header">
      <div class="txts">
        <h2>ID : 099A72340000</h2>
        <div class="names">
          <figure>
            <img src="./../../../assets/influencers/images/company-logo.png"/>
          </figure>
          <h3>Ajix Convention</h3>
          <h4><span>By</span>Mr L.Tailor</h4>
        </div>
      </div>
      <div class="rightBtn">
        <a class="submitProposal">submit a proposal</a>
      </div>
    </div>
    <div class="detailsBody">
      <div class="bigContent">
        <div class="boxes">
          <h4>Service Required</h4>
          <p>Duis laoreet risus vel erat dignissim, quis euismod augue condimentum. Sed purus lorem, efficitur et
            ornare in, eleifend vitae felis Praesent nisi est, posuere eu justo non, consectetur feugiat odio. Quisque
            id gravida elit. Etiam nisl felis, posuere tristique arcu eget, mattis ornare purus. Duis ac lorem eget
            lorem euismod tempor at eu lacus. Suspendisse eu mi pellentesque, auctor nulla vel, euismod felis. Proin
            bibendum sed libero nec dignissim. Nunc consequat </p>
        </div>
        <div class="boxes">
          <h4>Job Details</h4>
          <p>Duis laoreet risus vel erat dignissim, quis euismod augue condimentum. Sed purus lorem, efficitur et
            ornare in, eleifend vitae felis Praesent nisi est, posuere eu justo non, consectetur feugiat odio. Quisque
            id gravida elit. Etiam nisl felis, posuere tristique arcu eget.</p>
        </div>
        <div class="boxes">
          <h4>Content Concept</h4>
          <p>Duis laoreet risus vel erat dignissim, quis euismod augue condimentum. Sed purus lorem, efficitur et
            ornare in, eleifend vitae felis Praesent nisi est, posuere eu justo non, consectetur feugiat odio.</p>
        </div>
        <div class="boxes">
          <h4>Product URL</h4>
          <a>http://www.laoreet.org/aliquam-feugiat4546o/ame.mp4</a>
        </div>
        <div class="boxes widebox">
          <ul>
            <li>
              <h4>Job Deliverables</h4>
              <p>12th September 2019</p>
            </li>
            <li>
              <h4>Budget For The Job</h4>
              <p class="amount">$3000</p>
            </li>
          </ul>
        </div>
        <div class="boxes files">
          <h4>Image/File</h4>
          <ul>
            <li>
                <img src="./../../../assets/influencers/images/icon-pdf.png"/>
                <span>Attach 1</span>
            </li>
            <li>
                <img src="./../../../assets/influencers/images/icon-pdf.png"/>
                <span>Attach 2</span>
            </li>
            <li>
                <img src="./../../../assets/influencers/images/icon-doc.png"/>
                <span>Attach 3</span>
            </li>
            <li>
                <img src="./../../../assets/influencers/images/icon-img.png"/>
                <span>Attach 4</span>
            </li>
          </ul>
        </div>
        <div class="boxes txtarea">
          <h4>Message</h4>
          <textarea class="form-control" placeholder="Enter message"></textarea>
          <input type="submit" class="submitBtn" value="Send"/>
          <a class="fileAttach"><img src="./../../../assets/influencers/images/icon-attachment.png"/></a>
        </div>
      </div>
      <div class="sideContent">
        <div class="boxes">
          <h4>Campaign Objective</h4>
          <p>Duis laoreet risus vel erat dignissim, quis euismod augue condimentum.</p>
        </div>
        <div class="boxes platform">
          <h4>Platform</h4>
          <ul>
            <li class="facebook">
              <figure><img src="./../../../assets/influencers/images/campaign-fb.png"/></figure>
              <span>Facebook</span>
            </li>
            <li class="youtube">
              <figure><img src="./../../../assets/influencers/images/campaign-utube.png"/></figure>
              <span>Youtube</span>
            </li>
          </ul>
        </div>
        <div class="boxes">
          <h4>Invitation Expiry Date</h4>
          <p class="dark">12 September 2019</p>
        </div>
        <div class="boxes">
          <h4>Proposal Due Date</h4>
          <p class="dark">02 August 2018</p>
        </div>
        <div class="boxes">
          <h4>Tentative Launch Date</h4>
          <p class="dark">07 October 2018</p>
        </div>
        <div class="boxes">
          <h4>Campaign Country</h4>
          <p class="dark">Georgia</p>
        </div>
      </div>
    </div>
  </div>
</section>