<section class="infl_search">
  <!--infl_search-->
  <h2>Search Influencers</h2>
  <div class="search_area">
    <!--search_area-->
    <ul>
      <li>
        <div class="form-group">
          <label>Search By</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-search"></i>
              </div>
            </div>
            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username">
          </div>
        </div>
      </li>

      <li>
        <div class="form-group">
          <label>Gender</label>
          <select class="form-control">
            <option selected>Doesn’t matter</option>
            <option>Male</option>
          </select>
        </div>
      </li>

      <li>
        <div class="form-group">
          <label>Age</label>
          <select class="form-control">
            <option selected>Doesn’t matter</option>
            <option>10</option>
          </select>
        </div>
      </li>

      <li>
        <div class="form-group">
          <label>number of followers</label>
          <select class="form-control">
            <option selected>Doesn’t matter</option>
            <option>01</option>
          </select>
        </div>
      </li>

      <li>
        <div class="form-group">
          <label>Category</label>
          <select class="form-control">
            <option selected>Doesn’t matter</option>
            <option>not Apply</option>
          </select>
        </div>
      </li>

      <li>
        <div class="form-group">
          <label>Country</label>
          <select class="form-control">
            <option selected>Doesn’t matter</option>
            <option>UK</option>
          </select>
        </div>
      </li>

      <li>
        <div class="form-group">
          <label>Nationality</label>
          <select class="form-control">
            <option selected>Doesn’t matter</option>
            <option>UK</option>
          </select>
        </div>
      </li>

      <li>
        <div class="form-group">
          <label>Platform Targeted</label>
          <select class="form-control">
            <option selected>Doesn’t matter</option>
            <option>not Apply</option>
          </select>
        </div>
      </li>
      <li>
        <button class="btn">Clear Filter</button>
      </li>

      <li class="spacer"></li>

      <li>
        <div class="form-group">
          <label>Influencer Category</label>
          <select class="form-control">
            <option selected>Doesn’t matter</option>
            <option>not Apply</option>
          </select>
        </div>

      </li>

      <li>
        <div class="form-group">
          <label>Number of Followers</label>
          <select class="form-control">
            <option selected>Doesn’t matter</option>
            <option>not Apply</option>
          </select>
        </div>
      </li>

      <li>
        <div class="form-group">
          <label>Engagement Rate</label>
          <select class="form-control">
            <option selected>Doesn’t matter</option>
            <option>not Apply</option>
          </select>
        </div>
      </li>
      <li>&nbsp;</li>
    </ul>

  </div>
  <!--search_area-->

  <div class="infl_search_bottom">
    <!--infl_search_bottom-->
    <ul>
      <li *ngFor="let item of compareItems; let i = index" data-toggle="modal" data-target="#influencerDetailsModal">
        <figure>
          <img src="assets/brand-owner/images/infl-search-pic1.jpg" alt="">
          <div class="dd">
            <b>
              <strong>7.5k</strong>
              <span>followers</span>
            </b>
          </div>
        </figure>
        <div class="text">
          <strong class="save">save</strong>
          <div class="text_heading">
            <h3>John Smith</h3>
            <span>Netherland,</span>
            <strong>Blogger</strong>
          </div>
          <div class="text_midd">
            <div class="text_midd_left">
              <span>Nationality</span>
              <strong>English</strong>
            </div>
            <div class="text_midd_right">
              <span>Platform</span>
              <a><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a><i class="fa fa-play" aria-hidden="true"></i></a>
            </div>

          </div>
          <div class="text_midd_last">
            <a (click)="addCampaign(i)" *ngIf="!item.campaign"><i class="fa fa-plus" aria-hidden="true"></i> add to
              campaign</a>
            <a *ngIf="item.campaign"><i class="fa fa-check" aria-hidden="true"></i> added</a>
            <a (click)="addCompare(i)" *ngIf="!item.added"><i class="fa fa-plus" aria-hidden="true"></i> Compare</a>
            <a *ngIf="item.added"><i class="fa fa-check" aria-hidden="true"></i></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!--infl_search_bottom-->
  <!-- no of campaign -->
  <section class="camCount">
    <div class="wrapBox" (click)="openCampaign()">
      <i class="fa fa-angle-up" *ngIf="!expandCampaign"></i>
      <i class="fa fa-angle-down" *ngIf="expandCampaign"></i>
      <p class="text-uppercase mb-0">campaign</p>
      <p class="mb-0"><span>{{totalCampaign}}</span> added</p>
    </div>
    <div class="campaignBox" #expanFixd>
      <ul class="imgList">
        <ng-container *ngFor="let item of compareItems">
          <li *ngIf="item.campaign"><img src="assets/brand-owner/images/infl-search-pic1.jpg" /></li>
        </ng-container>
      </ul>
      <div class="text-center">
          <button class="btn rounded mt-3 pl-4 pr-4" *ngIf="totalCampaign > 0" [routerLink]="['../campaign-management', totalCampaign]">START CAMPAIGN</button>
      </div>
    </div>
  </section>
  <!-- no of campaign end -->
  <!-- compare slide -->
  <section class="compareSlide">
    <div class="compareToggle" (click)="toggleSlide()">
      <i *ngIf="!expandMode" class="fa fa-angle-left"></i>
      <i *ngIf="expandMode" class="fa fa-angle-right"></i>
      <p class="mb-0 transform text-uppercase"><span>({{totalCompare}})</span> Compare Influencers</p>
    </div>
    <div class="compareBox pl-3 pr-3" #expanDiv>
      <ul class="imgList">
        <li *ngFor="let item of compareArr"><img src="assets/brand-owner/images/infl-search-pic1.jpg" /></li>
      </ul>
      <button class="btn rounded mt-3 pl-4 pr-4" *ngIf="compareArr.length > 0" [routerLink]="['../compare',compareArr.length]">Compare</button>
      <p class="mb-0 mt-3">Compare up to {{totalCompare}} Influencers</p>
    </div>
  </section>
  <!-- compare slide end -->
</section>
<!--infl_search-->

<!-- Modal -->
<div class="modal fade faq_popup" id="influencerDetailsModal" tabindex="-1" role="dialog" aria-labelledby="influencerDetailsModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xlg" role="document">
    <div class="modal-content">
      <form>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
      <div class="modal-body">
          <div class="detailsBoxBig">
            <div class="leftImg">
              <img src="../../../assets/brand-owner/images/influencer-details-big.jpg"/>
              <div class="favourite"></div>
            </div>
            <div class="righttxts clearfix">
              <div class="btnHolder">
              <a class="btnSave">Save</a>
            </div>
              <div class="textHeading">
                <h2>John Smith</h2>
                <h3>7.5k <span>followers</span></h3>
                <h4>Netherland, English,<span>Blogger</span></h4>
              </div>
              <div class="shortDesc">
                <label>Short About Me</label>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at lacus hendrerit, tincidunt augue quis,
                  fermentum ex. Vivamus non vulputate lectus, in pellentesque leo. Nam id imperdiet neque. Cras accumsan turpis
                  quis
                  massa interdum venenatis. Sed vitae felis lorem. Ut sodales velit est, gravida consectetur lorem feugiat rhoncus.
                  Integer blandit nulla ut mauris sodales, eget lobortis diam accumsan.</p>
              </div>
              <div class="socialMediatabs">
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" id="facebook-tab" data-toggle="tab" href="#facebook" role="tab" aria-controls="facebook" aria-selected="true">
                          <span class="icon facebookTab"></span>
                          <span class="name">facebook</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="twitter-tab" data-toggle="tab" href="#twitter" role="tab" aria-controls="twitter" aria-selected="false">
                            <span class="icon twitterTab"></span>
                            <span class="name">Twitter</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="youtube-tab" data-toggle="tab" href="#youtube" role="tab" aria-controls="youtube" aria-selected="false">
                            <span class="icon youtubeTab"></span>
                            <span class="name">Youtube</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="insta-tab" data-toggle="tab" href="#insta" role="tab" aria-controls="insta" aria-selected="false">
                          <span class="icon instaTab"></span>
                          <span class="name">Instagram</span>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="snap-tab" data-toggle="tab" href="#snap" role="tab" aria-controls="snap" aria-selected="false">
                          <span class="icon snapTab"></span>
                          <span class="name">Snapchat</span>
                        </a>
                      </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                      <div class="tab-pane fade show active" id="facebook" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Likes Per Post</label>
                              <p>3K</p>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Comments Per Post</label>
                              <p>4K</p>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Impressions Per Post</label>
                              <p>1.5K</p>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Engagement Ratio</label>
                              <p>1:1</p>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Past Jobs Completed</label>
                              <p>456</p>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Followers Gender Distribution</label>
                              <p>60% Male , 40% Female</p>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label>Comment sentiment</label>
                              <p>75%</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-10">
                            <div class="form-group">
                              <label>Followers Age Distribution</label>
                              <ul>
                                <li><span>18 - 25 years :</span>5.6K,</li>
                                <li><span>25 - 35 years :</span>1.4K,</li>
                                <li><span>35 years above :</span>0.5K</li>
                              </ul>
                            </div>
                          </div>
                          <div class="col-md-10">
                            <div class="form-group">
                              <label>Followers Country Distribution</label>
                              <ul>
                                <li><span>Iraq :</span>1K,</li>
                                <li><span>UAE :</span>677,</li>
                                <li><span>Jordon :</span>122,</li>
                                <li><span>Qatar :</span>455</li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="twitter" role="tabpanel" aria-labelledby="twitter-tab">.2</div>
                      <div class="tab-pane fade" id="youtube" role="tabpanel" aria-labelledby="youtube-tab">3.</div>
                      <div class="tab-pane fade" id="insta" role="tabpanel" aria-labelledby="insta-tab">4.</div>
                      <div class="tab-pane fade" id="snap" role="tabpanel" aria-labelledby="snap-tab">5.</div>
                    </div>
              </div>
            </div>
          </div>
          <div class="smallBoxWrap">
          <div class="smallBoxes">
            <h2>Pricing of Ready – Made Content</h2>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Post type</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Blog Post</td>
                    <td>$10</td>
                  </tr>
                  <tr>
                    <td>Blog Post</td>
                    <td>$10</td>
                  </tr>
                  <tr>
                    <td>Blog Post</td>
                    <td>$10</td>
                  </tr>
                  <tr>
                    <td>Blog Post</td>
                    <td>$10</td>
                  </tr>
                  <tr>
                    <td>Blog Post</td>
                    <td>$10</td>
                  </tr>
                  <tr>
                    <td>Blog Post</td>
                    <td>$10</td>
                  </tr>
                  <tr>
                    <td>Blog Post</td>
                    <td>$10</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button>
        <button type="reset" class="btn btn-secondary">reset</button>
      </div>
    </form>
    </div>
  </div>
</div>
