<section class="pricing_holder">
  <div class="container">
    <div class="row">
      <div class="col-12">


        <div class="title">
          <!--title-->
          <h2>Simple, Transparent Pricing</h2>
          <span>Your success is our success! We don’t charge anything for brands and influencers to sign up and use the
            marketplace. We only take a small fee for successful collaboration.</span>
        </div>
        <!--title-->

        <ul class="pricing_area">
          <!--pricing_area-->
          <li>
            <div>
              <div class="heading">
                <h3>Self-Service for Creators</h3>
                <span>We Only Get Paid When You Get Paid</span>
              </div>

              <div class="hegilated">
                <div class="box">
                  <strong>0<sub>%</sub></strong>
                  <span>Sign Up Free</span>
                </div>
                <div class="box">
                  <strong>10<sub>%</sub></strong>
                  <span>Service Fee</span>
                </div>
              </div>

              <div class="text_sec">
                <strong></strong>
                <p>
                  We work hard to bring influencers amazing sponsorships, smart tools, and super fast payment
                  processing
                  so that you can focus on doing what you love. We support you at every step and ensure you’re
                  protected
                  and compensated for successful campaigns. Our small 10% fee is deducted only once your content is
                  approved for publishing and payment is released.

                </p>
                <strong>What Creators Get:</strong> 
                <p>
                  Access to brands, flexibility and control to set your own rates, payment protection, secure workflow,
                  super fast payments, and top notch support team.
                </p>
              </div>
            </div>

            <div class="btn_area">
              <a routerLink="/signup" [queryParams]="{ type: 'influencer' }">Join as influencer</a>
            </div>
          </li>

          <li>
            <div>
              <div class="heading">
                <h3>Self-Service for Brands</h3>
                <span>Pay Only When Campaign Is Approved</span>
              </div>

              <div class="hegilated">
                <div class="box">
                  <strong>0<sub>%</sub></strong>
                  <span>Sign Up Free</span>
                </div>
                <div class="box">
                  <strong>10<sub>%</sub></strong>
                  <span>Service Fee</span>
                </div>
              </div>

              <div class="text_sec">
                <strong></strong>
                <p>
                  Influencer marketing should be affordable for all brands, which is why you control your costs by
                  setting your own budget, and our small 10% fee is only processed once you approve content for
                  publishing. In other words, when you are happy!
                </p>
                <strong>What Brands Get:</strong>
                <p>
                  Access to a huge community of influencers, flexible budgeting, campaigns creation, simple payment
                  options, secure workflow, post campaign reporting, and top notch support team.
                </p>
              </div>
            </div>

            <div class="btn_area">
              <a routerLink="/signup">Join As Brand</a>
            </div>
          </li>

          <li>
            <div>
              <div class="heading">
                <h3>VIP Service for Brands</h3>
              </div>

              <div class="hegilated">
                <div class="box">
                  <strong>30<sub>%</sub></strong>
                </div>
              </div>

              <div class="text_sec">
                <p>
                  Influnaire VIP service is the perfect solution for brands, agencies, and fast growing startups who
                  want to do more with Influencer Marketing and need a full service team. For a small management fee,
                  our team of experts handle everything including, setting strategies and custom packages for content
                  and media, curating custom talent lists, and managing execution, at a time to drive meaningful
                  results.
                </p>
              </div>
            </div>


            <div class="btn_area">
              <a routerLink="/contact-us">Contact Sales</a>
            </div>
          </li>
        </ul>
        <!--pricing_area-->
      </div>
    </div>
  </div>
</section>