
.pricing_holder{
    margin-top: 75px;
    padding-bottom: 150px;
    background: #eee;
    text-align: center;
    background: url(../../../assets/front_end/images/priceing-bg.jpg) #eee no-repeat center 0;
    background-size: 100%;
   .title{
       margin: 0 0 85px;
       padding: 45px 0; 
       h2{
            color: #3c3c3c;
            font-size: 80px;
            font-style: italic;
            font-weight: 700;
            font-family: 'Arsenal', sans-serif;
           margin: 0;
       }
       span{
           display: block;
            font-size: 25px;
            color: #3c3c3c;
            font-weight: 400;
            font-family: 'Open Sans', sans-serif;
       }
   }
   .pricing_area{
       padding: 0;
       margin: 0;
       display: flex;
       li{ 
           list-style: none;
           width: 30%;
           background: #fff;
           text-align: center;
           padding: 30px 15px;
           flex-direction: column;
           justify-content: space-between;
           display: flex;
           .heading{
               margin: 0 0 20px;
               h3{
                   font-size: 20px;
                   color: #333;
                   font-weight: 600;
                    margin: 0 0 15px;
               }
               span{
                   display: block;
                   color: #ccc;
                   font-size: 16px;
               }
           }
           .hegilated{
               display: flex;
               justify-content: center;
               margin: 0 0 20px;
               .box{
                   padding: 15px;
                   background: #dbecfe;
                   strong{
                       color: #333;
                       font-size: 32px;
                   }
                   span{
                       display: block;
                       text-transform: uppercase;
                       font-size: 12px;
                   }
               }
               .box:first-child{
                   background: #ecf4ff;
               }
           }
           .text_sec{
               p{
                   font-size: 12px;
                   font-weight: 400;
                    margin: 0 0 30px;
               }
               strong{
                   display: block;
                   color: #3087e8;
                   font-style: italic;
                   font-size: 16px;
                   margin: 0 0 13px;
               }
           }
           .btn_area{
               a{
                   display: inline-block;
                   line-height: 45px;
                   border: 1px solid #d8d8d8;
                   border-radius: 30px;
                   padding: 0 20px;
                   letter-spacing: 3px;
                   font-weight: bold;
                   text-transform: uppercase;
                   cursor: pointer;
               }
           }
       }
       li:nth-child(2){
           margin-top: -45px;
           margin-bottom: -45px;
           background: #2f86e7;
           border-radius: 5px;
           .heading{
               h3{
                   color: #fff;
               }
               span{
                   color: #fff;
               }
           }
           .hegilated{
               .box{
                background: transparent;
                border: 1px solid #fff;
                border-radius: 4px;
                strong,
                span{
                    color: #fff;
                }
               }
           }
           .text_sec{
               p{
                   color: #fff;
               }
           }
           .btn_area{
               a{
                   background: #ed8c25;
                   border-color: #ed8c25;
                   color: #fff;
               }
           }
       }
   }
}
