<section class="help_holder"><!--help_holder-->
  <div class="title"><!--title-->
    <h2>Popular Topics</h2>
    <div class="title_right">
      <a>talk to us</a>
      <a>visit the help community</a>
    </div>
  </div><!--title-->

  <div class="search_area"><!--search_area-->
    <div class="col-auto">
      <label>Search By</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text"><i class="fa fa-search"></i></div>
        </div>
        <input type="text" class="form-control" placeholder="Topic">
      </div>
    </div>
  </div><!--search_area-->

  <div class="help_accorian"><!--help_accorian-->
    <div class="row">
      <div class="col-md-6">
        <div class="accordionWrapper">
          <div class="accordionItem open">
                <h2 class="accordionItemHeading">
                  <span>Q</span> feugiat tempor mauris, id finibus ?
                </h2>
                <div class="accordionItemContent">
                    <span>A</span>
                  <p>
                    
                    Duis laoreet risus vel erat dignissim, quis euismod augue condimentum. Sed purus lorem, efficitur et ornare in, eleifend vitae felis Praesent nisi est, posuere eu justo non, consectetur feugiat odio. Quisque id gravida elit. Etiam nisl felis, posuere tristique arcu eget, 
                  </p>
                </div>
              </div>
          
              <div class="accordionItem close">
                <h2 class="accordionItemHeading">
                  <span>Q</span> non felis dictum, condimentum risus eu imperdiet justo ?
                </h2>
                <div class="accordionItemContent">
                    <span>A</span>
                  <p>
                    
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  </p>
                  
                </div>
              </div>
          
              <div class="accordionItem close">
                <h2 class="accordionItemHeading">
                  <span>Q</span> congue nulla in sem sodales ?
                </h2>
                <div class="accordionItemContent">
                    <span>A</span>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>

              <div class="accordionItem close">
                <h2 class="accordionItemHeading">
                  <span>Q</span> habitant morbi tristique senectus ?
                </h2>
                <div class="accordionItemContent">
                    <span>A</span>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  </p>
                  
                </div>
              </div>

              <div class="accordionItem close">
                <h2 class="accordionItemHeading">
                  <span>Q</span>
                  Proin eget commodo nisi ?
                </h2>
                <div class="accordionItemContent">
                    <span>A</span>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  </p>
                  
                </div>
              </div>

          </div>
      </div>
      <div class="col-md-6">
        <div class="accordionWrapper">
          <div class="accordionItem close">
                <h2 class="accordionItemHeading">
                  <span>Q</span> Maecenas congue nulla in sem sodales gravida ?
                </h2>
                <div class="accordionItemContent">
                    <span>A</span>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
          
              <div class="accordionItem close">
                <h2 class="accordionItemHeading">
                  <span>Q</span> Aliquam elementum, eros et malesuada elementum, lectus enim faucibus dui, quis tincidunt dui lorem vitae ante ?
                </h2>
                <div class="accordionItemContent">
                    <span>A</span>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>
          
              <div class="accordionItem close">
                <h2 class="accordionItemHeading">
                  <span>Q</span> Pellentesque habitant morbi tristique senectus ?
                </h2>
                <div class="accordionItemContent">
                    <span>A</span>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>

              <div class="accordionItem close">
                <h2 class="accordionItemHeading">
                  <span>Q</span> Suspendisse non felis dictum ?
                </h2>
                <div class="accordionItemContent">
                    <span>A</span>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>

              <div class="accordionItem close">
                <h2 class="accordionItemHeading">
                  <span>Q</span> Lectus enim faucibus dui, quis tincidunt dui lorem vitae ante ?
                </h2>
                <div class="accordionItemContent">
                    <span>A</span>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>

              <div class="accordionItem close">
                <h2 class="accordionItemHeading">
                  <span>Q</span> Suspendisse potenti ?
                </h2>
                <div class="accordionItemContent">
                    <span>A</span>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                  </p>
                </div>
              </div>

          </div>
      </div>
    </div>
    
  </div><!--help_accorian-->

  
</section><!--help_holder-->
