 <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
		<div class="card-body">
			<h4 class="card-title">Admin Permission</h4>
			<div class="table-responsive">
				<table class="table table-striped table-bordered row-bordered">
					<thead>
						<tr>
							<th>Menu Name</th>
							<th>View</th>
							<th>Add</th>
							<th>Edit</th>
							<th>Delete</th>							
						</tr>
					</thead>
					<tbody>
						<tr *ngFor = "let menu of menuPermissionData">
							<td>{{ menu.menu_name }}</td>
							<td><input type="checkbox" [checked] = "menu.permission_view" (click) = "permission(menu.admin_menu_id,'view',$event)" class="form-control col-sm-2"></td>
							<td><input type="checkbox" [checked] = "menu.permission_add" (click) = "permission(menu.admin_menu_id,'add',$event)" class="form-control col-sm-2"></td>
							<td><input type="checkbox" [checked] = "menu.permission_edit" (click) = "permission(menu.admin_menu_id,'edit',$event)" class="form-control col-sm-2"></td>
							<td><input type="checkbox" [checked] = "menu.permission_delete" (click) = "permission(menu.admin_menu_id,'delete',$event)" class="form-control col-sm-2"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

