<section class="menagement_dtls">
  <section class="bg-white border">
    <div class="jobHeading p-4">
      <div class="topSec d-flex justify-content-between align-items-center">
        <p class="text-warning">ID : 099A72340000</p>
        <div class="d-flex align-items-center">
          <p class="mb-0">Campaign Status</p>
          <button class="btn pl-3 pr-3 btn-outline-primary ml-4 btn-sm text-uppercase"><i
              class="fa fa-clock-o mr-1"></i>
            Ready to Publish</button>
        </div>
      </div>

      <div class="btmSec d-flex align-items-center">
        <img src="/assets/influencers/images/amg-logo.png" alt="" title="">
        <h3 class="ml-3">AMG Solution</h3>
        <h6 class="ml-4">By <span class="font-weight-600">Mr L.Tailor</span></h6>
      </div>
    </div>

    <section class="row p-4">
      <section class="col-7 pr-4 border-right">
        <h5>Campaign Details</h5>
        <p class="text-gray mb-5">Nullam non dictum sem. Nunc a pulvinar odio. Vivamus ultricies suscipit eros, vel
          vehicula magna iaculis quis. Integer et dictum neque. Pellentesque habitant morbi tristique senectus et netus
          et malesuada fames ac turpis egestas. Suspendisse efficitur, nisl viverra molestie ultricies, tellus ligula
          semper nisi, ac tincidunt tellus quam eu leo. Proin a dapibus ex. Etiam sem nulla, venenatis quis accumsan
          fringilla, elementum in nunc. Fusce sit amet dictum lorem.</p>


        <section class="d-flex">
          <div class="border-right pr-4">
            <h5>Accepted Budget Of The Job</h5>
            <h6 class="text-warning mb-0">$3000</h6>
          </div>
          <div class="pl-4">
            <h5>Campaign Deliverables</h5>
            <p class="mb-0">On 23rd Jul 2020</p>
          </div>
        </section>

        <section class="mt-5">
          <h5 class="mb-3">Assigned Influencers</h5>
          <ul class="asigndList d-flex">
            <li class="mr-3"><img src="/assets/influencers/images/chat-6.png" alt="avatar">
              <p class="mb-0 font-weight-500 mt-2">John Smith</p>
            </li>
            <li class="mr-3"><img src="/assets/influencers/images/chat-2.png" alt="avatar">
              <p class="mb-0 font-weight-500 mt-2">Ruby</p>
            </li>
            <li class="mr-3"><img src="/assets/influencers/images/chat-3.png" alt="avatar">
              <p class="mb-0 font-weight-500 mt-2">Jasmin M</p>
            </li>
            <li class="mr-3"><img src="/assets/influencers/images/chat-4.png" alt="avatar">
              <p class="mb-0 font-weight-500 mt-2">Amelia G</p>
            </li>
            <li class="mr-3"><img src="/assets/influencers/images/chat-5.png" alt="avatar">
              <p class="mb-0 font-weight-500 mt-2">Amanda C</p>
            </li>
          </ul>
        </section>

      </section>

      <section class="col-5 pl-4">
        <h5>Campaign Objectives</h5>
        <p class="mb-5">Co-Created Content</p>
        <h5>Platform</h5>
        <div class="d-flex align-items-center mb-5">
          <a class="social-icon mr-3 fb"><i class="fa fa-facebook mr-2" aria-hidden="true"></i>Facebook</a>
          <a class="social-icon mr-3 youtube"><i class="fa fa-youtube mr-2" aria-hidden="true"></i>Youtube</a>
        </div>
        <h5>Start Date</h5>
        <p class="mb-5">On 02nd Mar 2019 </p>
        <h5>Tentative Launch Date</h5>
        <p class="mb-5">On 02nd Mar 2019 </p>
      </section>
    </section>

    <section class="table_row pl-4 pr-4 pb-4">
      <h5 class="mb-3">Individual Contribution</h5>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="text-left">Influencer Name</th>
              <th class="text-left">Platform</th>
              <th class="text-left">Post date</th>
              <th class="text-left">Completion Date</th>
              <th class="text-left">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of [0,1,2,3,4]" routerLink="../campaign-management-details">
              <td class="text-left">
                <a class="d-flex align-items-center">
                  <figure><img src="assets/front_end/images/testimonial_img.jpg" alt=""></figure>
                  <span class="ml-2 font-weight-600">A Das,</span>
                  <span class="ml-2 font-weight-600 text-primary">Blogger</span>
                </a>
              </td>
              <td class="text-left">
                <a class="social-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a class="social-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              </td>
              <td class="text-left">2 Mar 2019</td>
              <td class="text-left">22 Apr 2022</td>
              <td class="text-left">
                <a class="more border-0 pl-0">Content Received</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

  </section>

  <section class="messagePan">
    <h5 class="mt-4 mb-4 ml-0">Campaign Progress</h5>
    <section class="d-flex">
      <section class="leftSec col-2 pr-0">
        <ul class="tabList">
          <li class="d-flex align-items-center border-bottom py-3 p-2 cursor-pointer" (click)="selectItem(i)"
            [ngClass]="{'bg-white': item.checked === true}" *ngFor="let item of progressArr; let i = index">
            <img src="/assets/influencers/images/chat-2.png" alt="avatar" />
            <div class="ml-3">
              <p class="mb-0 text-primary">20 Nov 2018</p>
              <p class="mb-0">{{item.name}}</p>
            </div>
          </li>
        </ul>
      </section>
      <section class="rightSec bg-white border p-4 ">
        <section class="pb-5">
          <h5>{{selectedItemObj.name}}</h5>
          <ul class="progressList mt-4 clearfix">
            <li class="top active">
              <i class="fa fa-circle"></i>
              <div class="box">
                <p class="mb-0">Received <br>Details</p>
                <p class="mb-0"><small>09th Mar 2019</small></p>
              </div>
            </li>
            <li class="btm active">
              <i class="fa fa-circle"></i>
              <div class="box">
                <p class="mb-0">Proposal<br>Sent</p>
                <p class="mb-0"><small>09th Mar 2019</small></p>
              </div>
            </li>
            <li class="top active">
              <i class="fa fa-circle"></i>
              <div class="box">
                <p class="mb-0">Content <br>Received</p>
                <p class="mb-0"><small>09th Mar 2019</small></p>
              </div>
            </li>
            <li class="btm active">
              <i class="fa fa-circle"></i>
              <div class="box">
                <p class="mb-0">Content <br>Approved</p>
                <p class="mb-0"><small>09th Mar 2019</small></p>
              </div>
            </li>
            <li class="top">
              <i class="fa fa-circle"></i>
              <div class="box">
                <p class="mb-0">Ready to <br>Publish</p>
                <p class="mb-0"></p>
              </div>
            </li>
            <li class="btm lst">
              <i class="fa fa-circle"></i>
              <div class="box">
                <p class="mb-0">Published</p>
                <p class="mb-0"></p>
              </div>
            </li>
          </ul>
        </section>

        <section class="pb-5">
          <h5>Conversation History</h5>
          <ul class="msgList">
            <li class="send d-flex align-items-center mb-4">
              <div class="leftBox d-flex w-20 justify-content-end">
                <img src="/assets/influencers/images/profile-info.png" alt="" title="" />
                <div class="ml-3 mr-3">
                  <p class="mb-0 text-gray">20th Nov 2018</p>
                  <p class="mb-0 font-weight-600"> Mr L.Tailor</p>
                </div>

              </div>
              <div class="rightBox p-3 ml-4 shadow-1 rounded">
                <p class="mb-0"> Mauris semper nec magna eget porta. Phasellus ut consequat lorem. Sed id malesuada
                  elit.
                  Curabitur sodales pretium arcu, vel commodo nunc facilisis ut</p>
              </div>
            </li>

            <li class="resive justify-content-end p-0 d-flex align-items-center mb-4">
              <div class="leftBox d-flex w-20 justify-content-end">
                <div class="ml-3 mr-3">
                  <p class="mb-0 text-gray">20th Nov 2018</p>
                  <p class="mb-0 font-weight-600"> Mr L.Tailor</p>
                </div>

              </div>
              <div class="rightBox p-3 ml-4 shadow-1 rounded">
                <p class="mb-0"> Mauris semper nec magna eget porta. Phasellus ut consequat lorem.</p>
              </div>
            </li>

            <li class="send d-flex align-items-center mb-4">
              <div class="leftBox d-flex w-20 justify-content-end">
                <img src="/assets/influencers/images/profile-info.png" alt="" title="" />
                <div class="ml-3 mr-3">
                  <p class="mb-0 text-gray">20th Nov 2018</p>
                  <p class="mb-0 font-weight-600"> Mr L.Tailor</p>
                </div>

              </div>
              <div class="rightBox p-3 ml-4 shadow-1 rounded">
                <p class="mb-0"> Mauris semper nec magna eget porta. Phasellus ut consequat lorem. Sed id malesuada
                  elit.
                  Curabitur sodales pretium arcu, vel commodo nunc facilisis ut</p>
              </div>
            </li>

            <li class="resive justify-content-end p-0 d-flex align-items-center mb-4">
              <div class="leftBox d-flex w-20 justify-content-end">
                <div class="ml-3 mr-3">
                  <p class="mb-0 text-gray">20th Nov 2018</p>
                  <p class="mb-0 font-weight-600"> Mr L.Tailor</p>
                </div>

              </div>
              <div class="rightBox p-3 ml-4 shadow-1 rounded">
                <p class="mb-0"> Mauris semper nec magna eget porta.</p>
              </div>
            </li>
          </ul>
          <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-warning text-uppercase text-white pl-4 pr-4 h6">view all messages</button>
          </div>

        </section>

        <section class="pb-5">
          <h5>View All Attachments</h5>
          <ul class="d-flex attachList mt-4">
            <li class="mr-3">
              <img class="mb-2" src="/assets/influencers/images/icon-pdf.png" />
              <p class="mb-0">Attach 1</p>
            </li>
            <li class="mr-3">
              <img class="mb-2" src="/assets/influencers/images/icon-pdf.png" />
              <p class="mb-0">Attach 2</p>
            </li>
            <li class="mr-3">
              <img class="mb-2" src="/assets/influencers/images/icon-doc.png" />
              <p class="mb-0">Attach 3</p>
            </li>
            <li class="mr-3">
              <img class="mb-2" src="/assets/influencers/images/icon-img.png" />
              <p class="mb-0">Attach 4</p>
            </li>
          </ul>
        </section>
      </section>
    </section>
  </section>

</section>