<!-- <div id="wrapper" class="adminBrand_holder">
  <app-header></app-header>
<app-sidebar></app-sidebar>
<div id="page-wrapper" class="gray-bg">
  <router-outlet></router-outlet>
</div>
</div>  -->

<div id="wrapper" class="adminBrand_holder">
    <app-header></app-header>
  <app-sidebar></app-sidebar>

  <div id="page-wrapper" class="gray-bg">

    <router-outlet></router-outlet>

    <!-- <div class="footer">
      <div>
        <strong>Copyright</strong> Andrew &copy; 2017
      </div>
    </div> -->
  </div>
</div>
