
.dashboard_holder{
    .dashboard_top{
        margin-bottom: ($m10 * 6);
        .dashboard_top_widget{
            background: $whte;
            padding: $m12 ($m10 * 2) ($m10 * 2);
            border-radius: $m5;
            display: $flx;
            flex-wrap: wrap;
            align-items: $cntr; 
            min-height: 163px;
            justify-content: space-between;
            small{
                width: $full;
                display: $blk;
                font-size: $m12;
                color: #808080;
                font-weight: $smbld;
                font-family: 'Open Sans', sans-serif;
            }
            h3{
                color: #5a5a5a;
                font-size: ($m10 * 2);
                font-weight: $nrml;
                font-family: 'Open Sans', sans-serif;
                span{
                    display: $blk;
                    font-size: ($m10 * 5);
                    font-weight: $bld;
                    font-style: italic;
                    font-family: 'Arsenal', sans-serif;
                }
            }
            strong{
                display: $blk;
                font-size: ($m10 * 5);
                font-weight: $bld;
                font-style: italic;
                font-family: 'Arsenal', sans-serif;
            }
        }
        .col-md-4:first-child .dashboard_top_widget{
            background: #e8a11f;
            small{
                color: $whte;
            }
            h3{
                color: $whte;
            }
            strong{
                color: $whte;
            }
        }
    }
    .dashboard_row{
        margin-bottom: ($m10 * 4);
        .title{
            display: $flx;
            justify-content: space-between;
            align-items: $cntr;
            margin-bottom: ($m10 * 3);
            h3{
                color: #3c3c3c;
                font-size: ($m12 * 2);
                font-weight: $smbld;
                margin: $zro;
                font-family: 'Open Sans', sans-serif;
            }
            ul{
                display: $flx;
                li{
                    margin-left: ($m10 * 2);
                    border-bottom: 1px solid #666;
                    .form-control{
                        background: transparent;
                        border: $zro;
                        border-radius: inherit;
                    }
                    .input-group-prepend{
                        background: transparent;
                    }
                    .input-group-text{
                        padding: $zro $m5;
                        border: $zro;
                    }
                }
            }
        }
        
    }
    .margin-bottom:last-child{
        margin: $zro;
    }
}

.table_row{
    .table-responsive{
        .table{
            thead{
                th{
                    border: $zro;
                    text-transform: uppercase;
                    color: #3a3a3a;
                    font-size: 14px;
                    font-weight: $bld;
                    text-align: $cntr;
                    font-family: 'Open Sans', sans-serif;
                }
            }
            tbody{
                tr{
                    td{
                        background: $whte;
                        border-bottom: 1px solid #ccc;
                        color: #545454;
                        font-size: 14px;
                        font-weight: $nrml;
                        // border-radius: $m5;
                        text-align: $cntr;
                        font-family: 'Open Sans', sans-serif;
                        figure{
                            width: ($m5 * 6);
                            height: ($m5 * 6);
                            position: $rltv;
                            border-radius: $hlf;
                            margin: $zro 2px;
                            display: $inblk;
                            img{
                                width: $full;
                                height: $full;
                                position: $absl;
                                left: $zro;
                                top: $zro;
                            }
                            span{
                                display: $blk;
                                position: $absl;
                                top: -35px;
                                left: ($m5 * 3);
                                transform: translate(-$hlf, $zro);
                                color: $whte;
                                background: #0f5ac1;
                                font-weight: $bld;
                                width: ($m10 * 10);
                                text-align: $cntr;
                                line-height: ($m10 * 3);
                                font-family: 'Open Sans', sans-serif;
                                display: none;
                                border-radius: $m5;
                            }
                            span:before{
                                position: absolute;
                                left: 50%;
                                bottom: -17px;
                                content: "\f0d7";
                                font-family: 'FontAwesome';
                                vertical-align: bottom;
                                color: #0f5ac1;
                                margin-left: -5px;
                            }
                        }
                        figure:hover span{
                            display: $blk;
                        }
                        a.social-icon{
                            i{
                                width: ($m10 * 3);
                                height: ($m10 * 3);
                                line-height: ($m10 * 3 - 2);
                                margin: $zro 1px;
                                border-radius: $hlf;
                                color: #1e6dcf;
                                border: 2px solid #1e6dcf;
                            }
                            i.fa-instagram{
                                color: #ac2c9a;
                                border: $zro;
                                font-size: ($m5 * 5);
                                vertical-align: middle;
                            }
                        }
                        a.more{
                            display: $inblk;
                            font-size: $m12;
                            color: #ed8c24;
                            font-weight: $bld;
                            line-height: ($m10 * 3);
                            padding: $zro ($m5 * 5);
                            text-transform: uppercase;
                            border: 1px solid #ed8c24;
                            border-radius: ($m12 * 2);
                            font-family: 'Open Sans', sans-serif;
                            i.fa-long-arrow-right{
                                margin-left: ($m5 * 3);
                            }
                            i.fa-check{
                                margin-left: $zro;
                                margin-right: $m10;
                            }
                        }
                    }
                }
            }
        }
    }
}


