.noti_holder{
  .checkBox{
    input{
      height: 18px;
      position: relative;
      top:5px;
    }
    label span{
      width: 18px;
      height: 18px;
      border-radius: 0;
      background: transparent!important;
      vertical-align: middle!important;
      &::before{
        line-height: 18px;
        width: 18px;
        color: #3c3c3c;
      }
    }
  }
  .form-group{
    border-bottom: 1px solid #666;
    label{
        font-size: 14px;
        color: #363535;
        text-transform: uppercase;
        font-weight: $smbld;
        margin-bottom: $m10;
        font-family: 'Open Sans', sans-serif;
    }
    .form-control{
        background: transparent;
        border: $zro;
        outline: $zro;
        color: #909090;
        font-size: 14px;
        font-weight: $nrml;
        font-family: 'Open Sans', sans-serif;
    }
    .w-max-30{
      min-width: 250px;
    }
  }
  tr.checked td{
    background: #ed8c24!important;
    color: #fff!important;
    .checkBox{
      span:before{
        background: #fff;
      }
    }
  }
}





