<section class="login_holder forget_holder">
  <!--login_holder-->
  <div class="container">
    <h2 class="mb-3">Forgot Password</h2>
    <span class="small_heading">Please enter your email address below, and we will email you instructions for setting a new password for your account.</span>
    <div class="login_area">
      <!--login_area-->
      <form [formGroup]="forgetForm" (ngSubmit)="forgetSubmit()">
        <!-- Not remove comented part it should need to change password -->
        <!--  <div class="form-group">
              <input type="password" class="form-control" placeholder="Current Password" formControlName="password"
              [ngClass]="{ 'is-invalid': submitted && i.password.errors }">
              <div *ngIf="submitted && i.password.errors" class="invalid-feedback">
                <div *ngIf="i.password.errors.required">Password is required</div>
                <div *ngIf="i.password.errors.minlength">Password must be at least 6 characters</div>
            </div>
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="New Password" formControlName="newPassword"
              [ngClass]="{ 'is-invalid': submitted && i.newPassword.errors }">
              <div *ngIf="submitted && i.newPassword.errors" class="invalid-feedback">
                <div *ngIf="i.newPassword.errors.required">Password is required</div>
                <div *ngIf="i.newPassword.errors.minlength">Password must be at least 6 characters</div>
            </div>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Retype Password" formControlName="retypePassword"
                [ngClass]="{ 'is-invalid': submitted && i.retypePassword.errors }">
                <div *ngIf="submitted && i.retypePassword.errors" class="invalid-feedback">
                  <div *ngIf="i.retypePassword.errors.required">Password is required</div>
                  <div *ngIf="i.retypePassword.errors.minlength">Passwords must match</div>
              </div>
            </div> -->

        <div class="form-group">
          <input type="text" class="form-control" placeholder="Email Address" formControlName="retypePassword">
        </div>

        <div class="form_bottom">
          <button type="submit" class="btn btn-primary">Submit</button>
          <button type="reset" class="cancel btn btn-secondary ml-3 border" routerLink="/login" routerLinkActive="active"><span class="text-gray">Cancel</span></button>
        </div>
      </form>

    </div>
    <!--login_area-->
  </div>
</section>
<!--login_holder-->