<section class="job_dtls">
  <section class="bg-white border">
    <div class="jobHeading p-4">
      <div class="topSec d-flex justify-content-between align-items-center">
        <p class="text-warning">ID : 099A72340000</p>
        <div class="d-flex align-items-center">
          <p class="mb-0">Job Status</p>
          <button class="btn pl-3 pr-3 btn-outline-primary ml-4 btn-sm"><i class="fa fa-clock-o mr-1"></i>
            Ongoing</button>
        </div>
      </div>

      <div class="btmSec d-flex align-items-center">
        <img src="/assets/influencers/images/amg-logo.png" alt="" title="">
        <h3 class="ml-3">Torento Sector</h3>
        <h6 class="ml-4">By <span class="font-weight-600">Mr L.Tailor</span></h6>
      </div>
    </div>

    <section class="row mt-4 p-4">
      <section class="col-7 pr-4 border-right">
        <h5>Subject</h5>
        <p class="text-gray mb-5">Duis laoreet risus vel erat dignissim, quis euismod augue condimentum. Sed purus
          lorem, efficituret ornare
          in, eleifend vitae felis</p>
        <h5>Service Required</h5>
        <p class="text-gray mb-5">Duis laoreet risus vel erat dignissim, quis euismod augue condimentum. Sed purus
          lorem, efficituret ornare
          in, eleifend vitae felis Praesent nisi est, posuere eu justo non, consectetur feugiat odio. Quisque id gravida
          elit. Etiam nisl felis, posuere tristique arcu eget, mattis ornare purus. Duis ac lorem eget lorem euismod
          tempor at eu lacus. Suspendisse eu mi pellentesque, auctor nulla vel, euismod felis. Proin bibendum sed libero
          nec dignissim. Nunc consequat
          condimentum elementum. In fermentum</p>
        <h5>Job Details</h5>
        <p class="text-gray mb-5">Duis laoreet risus vel erat dignissim, quis euismod augue condimentum. Sed purus
          lorem, efficitur et ornare
          in, eleifend vitae felis Praesent nisi est, posuere eu justo non, consectetur feugiat odio. Quisque id gravida
          elit. Etiam nisl felis, posuere tristique
          arcu eget, mattis ornare purus. Duis ac lorem eget lorem euismod tempor at eu lacus.</p>

        <section class="d-flex">
          <div class="border-right pr-4">
            <h5>Job Deliverables</h5>
            <p>On 23rd October 2019</p>
          </div>
          <div class="pl-4">
            <h5>Accepted Budget Of The Job</h5>
            <p class="h6 text-warning">$3000</p>
          </div>
        </section>

      </section>
      <section class="col-5 pl-4">
        <h5>Required Service</h5>
        <p class="mb-5">Ut tincidunt vitae lectus et mollis</p>
        <h5>Platform</h5>
        <div class="d-flex align-items-center mb-5">
          <a class="social-icon mr-3 fb"><i class="fa fa-facebook mr-2" aria-hidden="true"></i>Facebook</a>
          <a class="social-icon mr-3 youtube"><i class="fa fa-youtube mr-2" aria-hidden="true"></i>Youtube</a>
        </div>
        <h5>Proposal Submit Date</h5>
        <p class="mb-5">On 02nd Mar 2019 </p>
        <h5>Launch Date</h5>
        <p class="mb-5">On 02nd Mar 2019 </p>
        <h5>View All Attachments</h5>
        <ul class="d-flex attachList mt-4">
            <li class="mr-3">
                <img class="mb-2" src="/assets/influencers/images/icon-pdf.png"/>
                <p class="mb-0">Attach 1</p>
            </li>
            <li class="mr-3">
                <img class="mb-2" src="/assets/influencers/images/icon-pdf.png"/>
                <p class="mb-0">Attach 2</p>
            </li>
            <li class="mr-3">
                <img class="mb-2" src="/assets/influencers/images/icon-doc.png"/>
                <p class="mb-0">Attach 3</p>
            </li>
            <li class="mr-3">
                <img class="mb-2" src="/assets/influencers/images/icon-img.png"/>
                <p class="mb-0">Attach 4</p>
            </li>
          </ul>

      </section>
    </section>

    
    <section class="border-top p-4 pb-5 pt-5">
      <h5>Job Progress</h5>
      <ul class="progressList mt-4 clearfix">
        <li class="top active">
          <i class="fa fa-circle"></i>
          <div class="box"><p class="mb-0">Received <br>Details</p><p class="mb-0"><small>09th Mar 2019</small></p></div>
        </li>
        <li class="btm active">
          <i class="fa fa-circle"></i>
          <div class="box"><p class="mb-0">Proposal<br>Sent</p><p class="mb-0"><small>09th Mar 2019</small></p></div>
        </li>
        <li class="top active">
          <i class="fa fa-circle"></i>
          <div class="box"><p class="mb-0">Content <br>Received</p><p class="mb-0"><small>09th Mar 2019</small></p></div>
        </li>
        <li class="btm active">
          <i class="fa fa-circle"></i>
          <div class="box"><p class="mb-0">Content <br>Approved</p><p class="mb-0"><small>09th Mar 2019</small></p></div>
        </li>
        <li class="top">
          <i class="fa fa-circle"></i>
          <div class="box"><p class="mb-0">Ready to <br>Publish</p><p class="mb-0"></p></div>
        </li>
        <li class="btm lst">
          <i class="fa fa-circle"></i>
          <div class="box"><p class="mb-0">Published</p><p class="mb-0"></p></div>
        </li>
      </ul>
    </section>
  </section>
  
  <section class="messagePan">
      <h5 class="m-4 ml-0">Send / Receive Message</h5>
      <section class="bg-white border p-4">
        <ul class="msgList">
          <li class="send d-flex align-items-center mb-4">
            <div class="leftBox d-flex w-20 justify-content-end">
              <img src="/assets/influencers/images/profile-info.png" alt="" title="" />
              <div class="ml-3 mr-3">
                  <p class="mb-0 text-gray">20th Nov 2018</p>
                  <p class="mb-0 font-weight-600"> Mr L.Tailor</p>
              </div>

            </div>
            <div class="rightBox p-3 ml-4 shadow-1 rounded">
              <p class="mb-0"> Mauris semper nec magna eget porta. Phasellus ut consequat lorem. Sed id malesuada elit. Curabitur sodales pretium arcu, vel commodo nunc facilisis ut</p>
            </div>
          </li>

          <li class="resive justify-content-end p-0 d-flex align-items-center mb-4">
            <div class="leftBox d-flex w-20 justify-content-end">
              <div class="ml-3 mr-3">
                  <p class="mb-0 text-gray">20th Nov 2018</p>
                  <p class="mb-0 font-weight-600"> Mr L.Tailor</p>
              </div>

            </div>
            <div class="rightBox p-3 ml-4 shadow-1 rounded">
              <p class="mb-0"> Mauris semper nec magna eget porta. Phasellus ut consequat lorem.</p>
            </div>
          </li>

          <li class="send d-flex align-items-center mb-4">
            <div class="leftBox d-flex w-20 justify-content-end">
              <img src="/assets/influencers/images/profile-info.png" alt="" title="" />
              <div class="ml-3 mr-3">
                  <p class="mb-0 text-gray">20th Nov 2018</p>
                  <p class="mb-0 font-weight-600"> Mr L.Tailor</p>
              </div>

            </div>
            <div class="rightBox p-3 ml-4 shadow-1 rounded">
              <p class="mb-0"> Mauris semper nec magna eget porta. Phasellus ut consequat lorem. Sed id malesuada elit. Curabitur sodales pretium arcu, vel commodo nunc facilisis ut</p>
            </div>
          </li>

          <li class="resive justify-content-end p-0 d-flex align-items-center mb-4">
            <div class="leftBox d-flex w-20 justify-content-end">
              <div class="ml-3 mr-3">
                  <p class="mb-0 text-gray">20th Nov 2018</p>
                  <p class="mb-0 font-weight-600"> Mr L.Tailor</p>
              </div>

            </div>
            <div class="rightBox p-3 ml-4 shadow-1 rounded">
              <p class="mb-0"> Mauris semper nec magna eget porta.</p>
            </div>
          </li>

        </ul>
      </section> 
  </section>
  
</section>