<section class="infl_search infl_saved">
  <!--infl_search-->
  <div class="infl_search_bottom pt-0">
    <!--infl_search_bottom-->
    <h2>Saved Influencers</h2>
    <ul>
      <li *ngFor="let item of compareItems; let i = index">
        <figure>
          <img src="assets/brand-owner/images/infl-search-pic1.jpg" alt="">
          <div class="dd">
            <b>
              <strong>7.5k</strong>
              <span>followers</span>
            </b>
          </div>
        </figure>
        <div class="text">
          <strong class="save">save</strong>
          <div class="text_heading">
            <h3>John Smith</h3>
            <span>Netherland,</span>
            <strong>Blogger</strong>
          </div>
          <div class="text_midd">
            <div class="text_midd_left">
              <span>Nationality</span>
              <strong>English</strong>
            </div>
            <div class="text_midd_right">
              <span>Platform</span>
              <a><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a><i class="fa fa-play" aria-hidden="true"></i></a>
            </div>

          </div>
          <div class="text_midd_last">
            <a (click)="addCampaign(i)" *ngIf="!item.campaign"><i class="fa fa-plus" aria-hidden="true"></i> add to
              campaign</a>
            <a *ngIf="item.campaign"><i class="fa fa-check" aria-hidden="true"></i> added</a>
            <a (click)="addCompare(i)" *ngIf="!item.added"><i class="fa fa-plus" aria-hidden="true"></i> Compare</a>
            <a *ngIf="item.added"><i class="fa fa-check" aria-hidden="true"></i></a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!--infl_search_bottom-->

  <!-- no of campaign -->
  <section class="camCount">
    <div class="wrapBox" (click)="openCampaign()">
      <i class="fa fa-angle-up" *ngIf="!expandCampaign"></i>
      <i class="fa fa-angle-down" *ngIf="expandCampaign"></i>
      <p class="text-uppercase mb-0">campaign</p>
      <p class="mb-0"><span>{{totalCampaign}}</span> added</p>
    </div>
    <div class="campaignBox" #expanFixd>
      <ul class="imgList">
        <ng-container *ngFor="let item of compareItems">
          <li *ngIf="item.campaign"><img src="assets/brand-owner/images/infl-search-pic1.jpg" /></li>
        </ng-container>
      </ul>
      <div class="text-center">
        <button class="btn rounded mt-3 pl-4 pr-4" *ngIf="totalCampaign > 0" [routerLink]="['../campaign-management', totalCampaign]">START CAMPAIGN</button>

      </div>
    </div>
  </section>
  <!-- no of campaign end -->
  <!-- compare slide -->
  <section class="compareSlide">
    <div class="compareToggle" (click)="toggleSlide()">
      <i *ngIf="!expandMode" class="fa fa-angle-left"></i>
      <i *ngIf="expandMode" class="fa fa-angle-right"></i>
      <p class="mb-0 transform text-uppercase"><span>({{totalCompare}})</span> Compare Influencers</p>
    </div>
    <div class="compareBox pl-3 pr-3" #expanDiv>
      <ul class="imgList">
        <li *ngFor="let item of compareArr"><img src="assets/brand-owner/images/infl-search-pic1.jpg" /></li>
      </ul>
      <button class="btn rounded mt-3 pl-4 pr-4" *ngIf="compareArr.length > 0" [routerLink]="['../compare',compareArr.length]">Compare</button>
      <p class="mb-0 mt-3">Compare up to {{totalCompare}} Influencers</p>
    </div>
  </section>
  <!-- compare slide end -->

</section>
<!--infl_search-->