<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
      <div class="card-body">
              <section class="content-header">
                      <h1 class="adddrop">Email Template Management <small>This section allows you to email template management</small></h1>
                      <ol class="breadcrumb">
                          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>                          
                          <li>Email Template Management</li>                     
                      </ol>
              </section>
          <div class="float-right p-4"><a routerLink="/add-email-template"> <button type="button" class="btn btn-primary">+Add Email Template</button> </a></div>
          <div class="table-responsive">
              <table class="table table-striped table-bordered row-bordered" style="width:100%" datatable [dtOptions]="dtOptions"
              [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
              <thead>
                  <tr>
                      <th>Template Name</th>
                      <th> Subject</th>
                      <th> Status</th>
                      <th> Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr  *ngFor = "let pageList of cmsData">
                      <td> {{ pageList.title}}</td>
                      <td> {{ pageList.subject}}</td>
                      <td><span class="btn {{(pageList.status=='Active')? 'btn-success':'btn-danger'}} btn-xs">{{ pageList.status}}</span> </td>
                      <td>  
                          <span style="padding: 4px"><a routerLink="/edit-email-template/{{ pageList.id }}"  title="Edit"><i class="fa fa-fw fa-edit"></i> </a></span>
                          <span style="padding: 4px"> <a routerLink="#"  title="Delete"><i class=" fa fa-trash-o" (click) = "deleteCms(pageList.id)"  title="delete"> </i> </a></span>
                      </td>
                  </tr>
              </tbody>
              </table>
          </div>
      </div>
  </div>
</div>

