@import "../brand-owner";
@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../assets/styles/functions";
@import '../../../assets/styles/variables';


.menagement_dtls{
   .jobHeading{
       .topSec{
           .btn{
               border-radius: 30px;
               color:  $yellow;
               border: 1px solid $yellow;
           }
       }
       .btmSec{
            img{
                width: 50px;
                height: 50px;
                object-fit: cover;
            }
       }     
   }
   .asigndList{
       img{
            width: 90px;
            height: 100px;
            object-fit: fill;
        }
    }
    .tabList{
        img{
            border-radius: $hlf;
            width: 40px;
            height: 40px;
        }
        li.bg-white{
            position: relative;
            box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
            -moz-box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.3);
            &:after{
                position: absolute;
                height: 100%;
                width: 5px;
                right: -4px;
                background: #fff;
                content: '';
            }
        }
    }
   .attachList{
       li img{
           width: 50px;
           height: 55px;
           object-fit: contain;
       }
   }
   .progressList{
       li{
           border-left: 1px dashed #eaeaea;
           max-width: 180px;
           position: relative;
           padding-right: 25px;
           float: left;
           height: 130px;
           i.fa{
               position: absolute;
               font-size: 22px;
               font-size: 10px;
               padding: 7px;
               border-radius: $hlf;
               border: 1px solid #eaeaea;
               color: #eaeaea;
               background: #fff;
           }
           div.box{
                margin-left: 25px;
                border-radius: 5px;
                background: #eaeaea;
                color: #a4a4a4;
                padding: 15px;
                width: 120px;
                p{
                    line-height: 17px;
                }
           }
           &.top{
                border-bottom: 2px solid #eaeaea;
                padding-top: 10px;
                div.box{
                    margin-bottom: 25px;
                }
                i.fa{
                    bottom:-11px;
                    left: -11px; 
                }
           }
           &.btm{
                border-top: 2px solid #eaeaea;
                margin-top: 128px;
                padding-bottom: 10px;
                div.box{
                    margin-top: 25px;
                }
                i.fa{
                    top:-14px;
                    left: -11px; 
                }
                &.lst{
                    border-top: 0;
                    div.box{
                        position: absolute;
                        right: 50px;
                    } 
                }
           }
           &.active{
            border-color: rgba($blue, 0.8);

            i.fa{
                border-color: rgba($blue, 0.8);
                color: rgba($blue, 0.8);
            }
            div.box{
                background: rgba($blue, 0.2);
                color: $blue;
            }
           }
       }
   }
   .msgList{
       li{
           .leftBox img{
               max-width: 50px;
               max-height: 50px;
               object-fit: contain;
           }
           .w-20{
               min-width: 170px;
           }
           &.resive{
               .rightBox{
                background: theme-color(primary);
                color: $white;
                max-width: 40%;
               }     
           }
       }
   }
   .btn-warning{
       border-radius: 18px;
       background: $yellow;
   }
} 