<section class="about_holder"><!--about_holder-->
  <div class="about_box"><!--about_box-->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>About us</h2>
        </div>
        <div class="col-md-6 about_box_left">
          <p>
              <strong>Influnaire is the leading influencer marketing platform in the middle east area.</strong> We connect brands with influencers and
               content creators from across the region, provide them with the necessary tools, strategies, and support they need 
               to succeed. 
          </p>
          <p>
              With influencer marketing on the rise, Brands and influencers are facing huge challenges in the process of finding each,
               communication with each other, and finally track and measure the results in a way that would justify the time and 
               money invested by both parties.
          </p>
          <p>
              Influnaire platform is tailored made to overcome the obstacles and challenges by streamlining the process from beginning
               to end in a way that makes Influencer Marketing a joyful and fruitful activity for both Brands and Influencers.
          </p>
        </div>
        <div class="col-md-6 about_box_right">
          <figure>
            <img src="assets/front_end/images/about-pic1.png" alt="">
          </figure>
        </div>
      </div>
    </div>
  </div><!--about_box-->

  <div class="about_box"><!--about_box-->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Our mission and story</h2>
        </div>
        <div class="col-md-6 about_box_left">
          <p>
              Influnaire began with a vision of the future of media built around the hundreds of thousands of talented influencers 
              and content creators building a presence on YouTube, Instagram, Blogs, SnapChat, and more.
          </p>
          <p>
              We're building the platform to empower these influencers & creators to make a living from sponsorships, endorsements 
              and collaborations with brands, so they can focus on making the content we all love.
          </p>
          <p>
              Our goal is become the premier Influencer marketing platform and community in the middle east and become the partner of
               choice for both influencers and brands.
          </p>
          <p>
              Our philosophy combines strategy, technology, and continuous development to come up with unique solutions powered by a
               shared passion for building the best influencer marketing campaigns in the market.
          </p>
        </div>
        <div class="col-md-6 about_box_right">
          <figure>
            <img src="assets/front_end/images/about-pic2.png" alt="">
          </figure>
        </div>
      </div>
    </div>
  </div><!--about_box-->
  
</section><!--about_holder--> 
