<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">Influencer Details<small>This section allows show influencer details</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/influencer"> Influencer</a></li>
          <li><a routerLink="/received-invitation/1">Received Invitation</a></li>
          <li class="active">Invitation Details</li>
        </ol>
      </section>
    </div>
    <div class="card-body">
        <div class="details_table">
            <ul>
                <li>
                    <img alt="Brand image" class="img-sm rounded-circle mb-4 mb-md-0" src="assets/images/faces/face1.jpg">                
                    
                  </li>
              <li>
                
                <strong>Name</strong>
                <span>Jhon Smith</span>
                
              </li>              
              <li>
                <strong>Country</strong>
                <span>England</span>
              </li>
              <li>
                  <strong>Connect With</strong>
                  <span>
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                      <i class="fa fa-youtube" aria-hidden="true"></i>
                  </span>
                </li>
              <li>
                <strong>Like per post</strong>
                <span>20k</span>
              </li>
              <li>
                <strong>Impression per post</strong>
                <span>45K</span>
              </li>
              <li>
                <strong>Comment per post</strong>
                <span>1.5k</span>
              </li>
              <li>
                <strong>Saves per post</strong>
                <span>500</span>
              </li>
              <li>
                <strong>%Audience</strong>
                <span>60% Male,40% Female</span>
              </li>
              <li>
                <strong>Engagement Ration</strong>
                <span>2:3</span>
              </li>
              
              <li>
                <strong>Send/ Received Message</strong>
                <span>54/13</span>
              </li>  
              <li>
                  <strong>Top Brand</strong>
                  <span>
                    <img alt="Brand image" class="img-sm rounded-circle mb-4 mb-md-0" src="assets/images/company_logo/bmw-300x300.jpg">
                    <img alt="Brand image" class="img-sm rounded-circle mb-4 mb-md-0" src="assets/images/company_logo/corporate-compnany.jpg">
                    <img alt="Brand image" class="img-sm rounded-circle mb-4 mb-md-0" src="assets/images/company_logo/dell_logo_3529.gif">
                  </span>
                </li>            
              <li class="full_width">
                  <strong>Detail of Campaign </strong>
                  <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</span>
                </li>
            </ul>
          </div>
        <a routerLink="/influencer" class="btn btn-primary">Back</a>

      </div>
    </div>
  </div>