
<section class="dashboard_holder">
    <div class="date_filter"><!--date_filter-->
        <select class="form-control">
            <option>Jan</option>
            <option>Feb</option>
        </select> 
    </div><!--date_filter-->

    <div class="deahboard_top"><!--deahboard_top-->
        <ul>
            <li *ngFor="let job of jobStatus">
                <div class="widget_top">
                    <strong>{{job.title}}</strong>
                    <span>{{job.date}}</span>
                </div>
                <div class="widget_midd">
                    <figure>
                        <img src="{{job.images}}" alt="">
                    </figure>
                    <b>
                        <span>{{job.progress}}</span>
                        <span>{{job.approval}}</span>
                        <span>{{job.notStartes}}</span>
                        <span>{{job.published}}</span>
                        <span>{{job.paid}}</span>
                    </b>
                    
                </div>
                <div class="widget_bottom">
                    <a><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                </div>
            </li>
        </ul>
    </div><!--deahboard_top-->

    <div class="dashboard_row"><!--dashboard_row-->
        
        <div class="title"><!--title-->
            <h3>On-Going Campaigns</h3>
            <ul>
                <li>
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Campaign Name">
                        </div>
                    </div>
                </li>
                <li>
                    <select class="form-control">
                        <option>Platform</option>
                        <option>Budget</option>
                    </select>
                </li>
                <li>
                    <select class="form-control">
                        <option>Month</option>
                        <option>progress</option>
                    </select>
                </li>
            </ul>
        </div><!--title-->
        
        <div class="table_row">
        <div class="table-responsive"><!--table-responsive-->
            <table class="table">
                <thead> 
                    <tr>
                        <th>Campaign</th>
                        <th>Brand</th>
                        <th>Service Required</th>
                        <th>Platform</th>
                        <th>Post date</th>
                        <th>Completion date</th>
                        <th>Progress</th>
                        <th>Revenue</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody> 
                    <tr *ngFor="let item of [1,2,3,4]">
                        <td>Sillicon Smart</td>
                        <td><strong>ABCRX</strong></td>
                        <td>
                            <p class="mb-0">Lorem ipsum dolor sit amet</p> 
                        </td>
                        
                        <td>
                            <a  class="social-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a  class="social-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </td>
                        <td>2 Mar 2019</td>
                        <td>22 Apr 2022</td>
                        <td>60%</td>
                        <td>$230K</td>
                        <td>
                            <a class="more"><i class="fa fa-check" aria-hidden="true"></i> In Progress</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!--table-responsive-->
    </div>
               
    </div><!--dashboard_row-->

    <div class="dashboard_row mb-0"><!--dashboard_row-->
        
        <div class="title"><!--title-->
            <h3>Published Campaigns</h3>
            <ul>
                <li>
                    <div class="col-auto">
                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></div>
                            </div>
                            <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Campaign Name">
                        </div>
                    </div>
                </li>
                <li>
                    <select class="form-control">
                        <option>Platform</option>
                        <option>Budget</option>
                    </select>
                </li>
                <li>
                    <select class="form-control">
                        <option>Month</option>
                        <option>progress</option>
                    </select>
                </li>
            </ul>
        </div><!--title-->
        
        <div class="table_row">
        <div class="table-responsive"><!--table-responsive-->
            <table class="table mb-0">
                <thead> 
                    <tr>
                        <th>Campaign</th>
                        <th>Brand</th>
                        <th>Service Required</th>
                        <th>Platform</th>
                        <th>Post date</th>
                        <th>Completion date</th>
                        <th>Progress</th>
                        <th>Revenue</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of [1,2,3,4]">
                        <td>Sillicon Smart</td>
                        <td><strong>ABCRX</strong></td>
                        <td>
                            <p class="mb-0">Lorem ipsum dolor sit amet</p> 
                        </td>
                        
                        <td>
                            <a  class="social-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a  class="social-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </td>
                        <td>2 Mar 2019</td>
                        <td>22 Apr 2022</td>
                        <td>60%</td>
                        <td>$230K</td>
                        <td>
                            <a class="more"><i class="fa fa-check" aria-hidden="true"></i> In Progress</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div><!--table-responsive-->
    </div>
               
    </div><!--dashboard_row-->
 

</section>
