<div class="login_holder_admin">
    <a class="logo"><img src="assets/images/logo.png" alt="logo"></a>
    <div class="login_area">
  <div class="d-flex align-items-center justify-content-center">
      <div class="col-12">
          <h2 class="card-description">
            Login
          </h2>
          <form [formGroup] = "loginForm" #logForm = "ngForm" (ngSubmit)="logForm.valid && onSubmit(logForm)">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label">Email</label>
              <div class="col-sm-9">
                <input type="text" class="form-control"  formControlName="email" placeholder="Enter email">
                <div *ngIf="loginForm.controls['email'].invalid && (loginForm.controls['email'].dirty || loginForm.controls['email'].touched)" class="alert alert-danger col-sm-12 float-left">
                      <div *ngIf="loginForm.controls['email'].errors.required" >
                        Email is required.
                      </div>
                      <div *ngIf="loginForm.controls['email'].errors.pattern" >
                        Please enter valid email.
                      </div>
                </div>
                
              </div>
            
            </div>
            <div class="form-group row">
              <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Password</label>
              <div class="col-sm-9">
                <input type="password" class="form-control" formControlName = "password" placeholder="Password">
                <div *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)" class="alert alert-danger col-sm-12 float-left">
                      <div *ngIf="loginForm.controls['password'].errors.required" >
                        Password is required.
                      </div>
                </div>
              </div>
            </div>
            <div class="row bottom_sec">
              <div class="col-6">
                  <button type="submit" class="btn btn-success mr-2">Submit</button>
              </div>
              <div class="col-6">
                <a>Forgot Password?</a>
              </div>
            </div>
            
          </form>
          <div class="alert alert-danger" *ngIf="serverErrorMessages">
            {{serverErrorMessages}}
          </div>
      </div>
  </div>
  </div>
  </div>
  