  
<footer class="footer_holder">
  <div class="brands_holder"><!--brands_holder-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="brands_area wow zoomIn shadow-1">
            <strong>Brands</strong>
            <ul>
              <li>
                <figure><img src="assets/front_end/images/brand-icon1.png" alt=""></figure>
              </li>
              <li>
                  <figure><img src="assets/front_end/images/brand-icon2.png" alt=""></figure>
              </li>
              <li>
                  <figure><img src="assets/front_end/images/brand-icon3.png" alt=""></figure>
              </li>
              <li>
                  <figure><img src="assets/front_end/images/brand-icon4.png" alt=""></figure>
              </li>
              <li>
                <figure><img src="assets/front_end/images/brand-icon6.png" alt=""></figure>
            </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--brands_holder-->

  <div class="container">
    <div class="row">
      <div class="col-md-7 footer_nav">
        <ul>
          <li><a routerLink="/influencer">Influencers</a></li>
          <li><a routerLink="/blog">Blog</a></li>
          <li><a routerLink="/resources">Resources</a></li>
          <li><a routerLink="/about-us">About us</a></li>
          <li><a routerLink="/contact-us">Contact us</a></li> 
          <li><a routerLink="/privacy-policy">Privacy policy</a></li>
          <li><a routerLink="/sitemap">Sitemap</a></li>
        </ul>
        <span>© Copyright 2019 influnaire All Rights Reserved</span>
      </div>
      <div class="col-md-2 footer_social">
        <strong>follow us on</strong>
        <ul>
          <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3 footer_sub">
        <p class="mb-0 text-white">Enter your email</p>
        <div class="form">
          <input type="text" class="input_type" placeholder="Subscribe to our newsletter">
          <button type="submit">Go</button>
        </div>
      </div>
    </div>
  </div>
</footer>