<section class="campaign_list">
  <!--campaign_holder-->
  <div class="title">
    <!--title-->
    <h2>Campaign Management</h2>
    <div class="d-flex align-items-center">
      <a>1-10 of 210</a>
      <i class="fa fa-ellipsis-v mx-4"></i>
      <button class="btn addCampBtn" [routerLink]="['../campaign-management', 0]">CREATE NEW CAMPAIGN</button>
    </div>

  </div>
  <!--title-->


  <ngb-tabset>
    <ngb-tab>
      <ng-template ngbTabTitle>Ongoing Campaigns</ng-template>
      <ng-template ngbTabContent class="px-0">

        <div class="table_row">
          <div class="table-responsive">
            <!--table-responsive-->
            <table class="table">
              <thead>
                <tr>
                  <th>CAMPAIGN NAME</th>
                  <th>Influencer Name</th>
                  <th>Platform</th>
                  <th>Post date</th>
                  <th>Completion Date</th>
                  <th>progress</th>
                  <th>Budget</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of [0,1,2,3,4]" routerLink="../campaign-management-details">
                  <td><strong>ABCRX</strong></td>
                  <td>
                    <a>
                      <figure><img src="assets/front_end/images/testimonial_img.jpg" alt=""><span>A Das</span></figure>
                    </a>
                    <a>
                      <figure><img src="assets/front_end/images/testimonial_img.jpg" alt=""><span>P.k Roy</span></figure>
                    </a>
                  </td>
                  <td>
                    <a class="social-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a class="social-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </td>
                  <td>2 Mar 2019</td>
                  <td>22 Apr 2022</td>
                  <td>12%</td>
                  <td>$410</td>
                  <td>
                    <a class="more">OnGoing <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--table-responsive-->
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>Past Campaigns</ng-template>
      <ng-template ngbTabContent>
        <div class="table_row">
          <div class="table-responsive">
            <!--table-responsive-->
            <table class="table">
              <thead>
                <tr>
                  <th>CAMPAIGN NAME</th>
                  <th>Influencer Name</th>
                  <th>Platform</th>
                  <th>Post date</th>
                  <th>Completion Date</th>
                  <th>progress</th>
                  <th>Budget</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of [0,1,2]" routerLink="../campaign-details">
                  <td><strong>ABCRX</strong></td>
                  <td>
                    <a>
                      <figure>
                        <img src="assets/front_end/images/testimonial_img.jpg" alt="">
                        <span>J Smith</span>
                      </figure>
                    </a>
                    <a>
                      <figure>
                        <img src="assets/front_end/images/testimonial_img.jpg" alt="">
                        <span>R Root</span>
                      </figure>
                    </a>
                  </td>
                  <td>
                    <a class="social-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a class="social-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </td>
                  <td>2 Mar 2019</td>
                  <td>22 Apr 2022</td>
                  <td>12%</td>
                  <td>$410</td>
                  <td>
                    <a class="more"><i class="fa fa-check" aria-hidden="true"></i> Published</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--table-responsive-->
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</section> 