<section class="banner_holder">
    <!-- <figure><img src="assets/front_end/images/home-banner.jpg" alt="banner"></figure> -->
    <!-- <iframe width="560" height="780" src="https://www.youtube.com/embed/vps-6BuCT2o?autoplay=1&showinfo=0&controls=0&rel=0&loop=1&playlist=vps-6BuCT2o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    <div class="banner_text">
      <!-- <h2>Where strategy meets<br> technology</h2>
      <span>We connect Brands with Influencers</span> -->
      <a>بدء الحملة</a>
    </div>
  </section>
  
  <section class="banner_bottom" data-wow-iteration="2"  ><!--banner_bottom-->
    <div class="container">
      <div class="row">
        <div class="banner_bottom_box col-md-3 col-sm-6">
          <strong class="wow heartBeat" counto [step]="30" [countTo]="100" [countFrom]="0" [duration]="8" (countoChange)="counto1 = $event">{{ counto1 | number : '1.0-0'}}+</strong>
          <span class="wow fadeInUp">المؤثرين</span>
        </div>
  
        <div class="banner_bottom_box col-md-3 col-sm-6">
          <strong class="wow heartBeat" counto [step]="30" [countTo]="500000" [countFrom]="0" [duration]="8" (countoChange)="counto2 = $event">{{ counto2 | number : '1.0-0'}}+</strong>
          <span class="wow fadeInUp">متابعون</span>
        </div>
  
        <div class="banner_bottom_box col-md-3 col-sm-6">
          <strong class="wow heartBeat" counto [step]="10" [countTo]="155" [countFrom]="0" [duration]="8" (countoChange)="counto3 = $event">{{ counto3| number : '1.0-0' }}+</strong>
          <span class="wow fadeInUp">حملات</span>
        </div>
  
        <div class="banner_bottom_box col-md-3 col-sm-6">
          <strong class="wow heartBeat">7X+</strong>
          <span class="wow fadeInUp">العائد على الاستثمار</span>
        </div>
      </div>
    </div>
  </section><!--banner_bottom-->
  
  
  
      <div   class=" marketing_area" data-wow-iteration="2" > <!--marketing_area-->
        <div class="container-fluid">
        <h2 class="wow fadeIn">جعل التسويق المؤثرون سهلة</h2>
        <h3 class="wow fadeInUp">إنشاء حملات التسويق المؤثرة في ثلاث خطوات بسيطة</h3>   
        <ul>
          <li (click)="scroll(step1)">
            <div class="round wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.3s">
              <span class="wow bounceInDown" data-wow-duration="2s" data-wow-delay="0.7s" >خطو 01</span>
              <img class="wow zoomInLeft" data-wow-duration="1.5s" data-wow-delay="0.3s" src="assets/front_end/images/market-img1.png" alt="">
              <strong class="wow bounceInUp" data-wow-duration="1s" data-wow-delay="0.5s">بحث</strong>
            </div>
          </li>
          <li (click)="scroll(step2)">
              <b class="wow fadeIn" data-wow-duration="2s" data-wow-delay="1.8s"></b>
              <div class="round wow fadeInDown" data-wow-duration="2s" data-wow-delay="1.4s">
                <span class="wow bounceInDown" data-wow-duration="2s" data-wow-delay="1.0s" >خطو 02</span>
                <img class="wow zoomInLeft" data-wow-duration="1.5s" data-wow-delay="0.6s" src="assets/front_end/images/market-img2.png" alt="">
                <strong class="wow bounceInUp" data-wow-duration="1s" data-wow-delay="1.4s">إنشاء وإدارة</strong>
              </div>
            </li>
            <li  (click)="scroll(step3)">
                <div class="round wow fadeInRight" data-wow-duration="2s" data-wow-delay="1.6s">
                  <span class="wow bounceInDown" data-wow-duration="2s" data-wow-delay="1.6s">خطو 03</span>
                  <img class="wow zoomInLeft" data-wow-duration="1.5s" data-wow-delay="0.2s" src="assets/front_end/images/market-img3.png" alt="">
                  <strong class="wow bounceInUp" data-wow-duration="1s" data-wow-delay="1.9s">تتبع والقياس</strong>
                </div>
              </li>
        </ul>
      </div>
    </div><!--marketing_area-->
  
    <section class="home_market_holder" data-wow-iteration="2" >
    <div class="container">
    <div class="home_discover" id="EXE_DIV1" #step1><!--home_discover-->
      <h2 class="wow flipInX">بحث</h2>
      <div class="widget_box"><!--widget_box-->
        <div class="row">
          <div class="widget_box_img col-md-6 wow slideInLeft">
            <figure>
              <img src="assets/front_end/images/home-discover.jpg" alt="">
            </figure>
          </div>
  
          <div class="widget_box_text col-md-6 wow slideInRight">
            <h3>يكتشف</h3>
            <strong>تكافح إيجاد المؤثر الصحيح؟</strong>
            <p>
              يساعدك Influnair في العثور على المؤثر المناسب لعلامتك التجارية من سوقها بفضل ميزات البحث المتقدم وميزة التصفية
              pecifically للإجابة عن احتياجاتك. يمكنك البحث في مئات nfluencers من خلال أي كلمة رئيسية أو جمهور
              ديموغرافي أو مقياس.
            </p>
  
            <h3>قارن</h3>
            <strong>اضبط واسترخي ، دعنا نؤدي الرفع الثقيل من أجلك</strong>
            <p>
              باستخدام وظيفة المقارنة ، يمكنك تحديد ومقارنة ما يصل إلى 5 مؤثرات جنبًا إلى جنب للوصول إلى أفضل الخيارات المناسبة
              لعلامتك التجارية. لا تضيع ثانية أخرى تبحث عن المؤثرين مرة أخرى
            </p>
  
            <h3>الاتصال</h3>
            <strong>يتم إجراء التسوق Congratsll</strong>
            <p>وجدت ما تحتاجه؟ كل ما عليك فعله الآن هو إضافته أو حتى جميعهم إلى حملتك وأنت على استعداد للذهاب</p>
          </div>
        </div>
      </div><!--widget_box-->
  
    </div><!--home_discover-->
  
    <div class="home_discover" data-wow-iteration="2" #step2><!--home_discover-->
      <h2 class="wow flipInX">إنشاء وإدارة</h2>
  
      <div class="widget_box"><!--widget_box-->
        <div class="row">
          <div class="widget_box_text col-md-6 wow slideInLeft">
            <h3>خلق</h3>
            <p>
              يبدأ من هنا. بصرف النظر عن أهداف حملاتك ، تم تصميم مدير حملتنا خصيصًا لمساعدتك في إنشاء حملاتك ، وتحديد هدف
              واضح ، وتوفير جميع البيانات الضرورية في مكان واحد وبضع نقرات.
            </p>
  
            <h3>تعاون</h3>
            <p>
              في عالم التسويق اليوم ، والمحتوى هو الملك! سواء أكنت ترغب في مشاركة المحتوى الذي تم إنشاؤه بالفعل أو كنت ترغب
              في أن يصنع المؤثرون محتوى جديدًا تمامًا بالنسبة لك ، يمكنك هنا التعاون معًا كفريق واحد لتحقيق أقصى تأثير من حملتك.
            </p>
  
            <h3>دفع</h3>
            <p>
              تساعدك منصة Influanire على دفع المؤثرين بمجرد الموافقة على كل شيء ، وتكون مستعدًا لإطلاقه. يمكن الدفع مباشرة
              إلى المؤثر من منصتنا باستخدام طرق مختلفة للدفع
            </p>
          </div>
  
          <div class="widget_box_img col-md-6 wow slideInRight">
            <figure>
              <img src="assets/front_end/images/home-manage.jpg" alt="">
            </figure>
          </div>
        </div>
      </div><!--widget_box-->
    </div><!--home_discover-->
  
    <div class="home_discover" data-wow-iteration="2" #step3><!--home_discover-->
      <h2 class="wow flipInX">تتبع والقياس</h2>
      <div class="widget_box"><!--widget_box-->
        <div class="row">
          <div class="widget_box_img col-md-6 wow slideInLeft">
            <figure>
              <img src="assets/front_end/images/track_img.jpg" alt="">
            </figure>
            <!-- <iframe width="560" height="455" src="https://www.youtube.com/embed/uGuWthtPruM?autoplay=0&showinfo=0&controls=0&modestbranding=0&rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
          </div>
  
          <div class="widget_box_text col-md-6 wow slideInRight">
            <h3>تتبع كل شيء على لوحة القيادة واحدة</h3>
            <p>قم بقياس مؤشرات الأداء الرئيسية المهمة: مرات الظهور والنقرات و EMV والمزيد</p>
            <h3>قياس الأداء المؤثر الحقيقي الخاص بك</h3>
            <p>لوحة تحكم جميلة لقياس أدائك استنادًا إلى حساب قيمة الوسائط المكتسبة الشامل والتقارير التلقائية التي يمكنك مشاركتها حول أداء كل حملة.</p>
            <h3>اتخاذ قرارات يحركها البيانات</h3>
            <p>قم بتمييز المنشورات والمؤثرين الأعلى أداءً وكذلك تصدير أي من بياناتك إلى منصات الطرف الثالث.</p>
          </div>
        </div>
      </div><!--widget_box-->
    </div><!--home_discover-->
  
    </div>
  </section>
  
  <section class="blue_brand" data-wow-iteration="2" ><!--blue_brand-->
    <div class="container">
      <div class="row">
        <div class="col-md-6 blue_brand_left wow zoomIn">
          <h2>لا يزال لم تقرر ؟؟</h2>
          <span>جربها اليوم وهي مجانية تماما للانضمام !!</span>
        </div>
  
        <div class="col-md-6 blue_brand_right wow zoomInLeft">
          <a>انضمام كعلامة تجارية</a>
        </div>
      </div>
    </div>
  </section><!--blue_brand-->
  
  <section class="testi_holder" ><!--testi_holder-->
    <div class="container">
      <div class="row">
        <div class="col-md-6 testi_left">
          <h2 class="">الشهادات - التوصيات</h2>
          <div class="testi_box">
            <span>18 أبريل 2019</span>
            <p>
              تمنيت لو كان شيئًا كهذا قبل حوالي ثلاث سنوات ، عندما بدأنا في البداية
            </p>
          </div>
          <div class="test_box_bottom">
            <div class="test_box_profile">
              <figure><img src="assets/front_end/images/testimonial_img.jpg" alt=""></figure>
              <strong>ياسمين عبد الرازق</strong>
              <span>مدير التسويق في CyberWeave</span>
            </div>
            <a class="btn">عرض جميع الشهادات</a>
          </div>
        </div>
        <div class="col-md-6 testi_right">
          <h2 class=" jackInTheBox">الأحدث من المدونة</h2>
          <ul>
            <li>
              <span>5 يناير 2019</span>
              <strong>Maecenas laoreet ، بقطر</strong>
              <a>قراءة المزيد</a>
            </li>
            <li>
              <span>5 يناير 2019</span>
              <strong>Maecenas laoreet ، بقطر</strong>
              <a>قراءة المزيد</a>
            </li>
            <li>
              <span>5 يناير 2019</span>
              <strong>Maecenas laoreet ، بقطر</strong>
              <a>قراءة المزيد</a>
            </li>
            <li>
              <span>5 يناير 2019</span>
              <strong>Maecenas laoreet ، بقطر</strong>
              <a>قراءة المزيد</a>
            </li>
          </ul>
          <a class="btn">عرض جميع بلوق</a>
        </div>
      </div>
    </div>
  </section><!--testi_holder-->



  
