@import "../influencers";
@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../assets/styles/functions";
@import '../../../assets/styles/variables';

.accountHolder{
    .dissable{
        opacity: 0.6;
    }
    .avaterImg img{
        width: 85px;
        height: 85px;
        border-radius: $hlf;
        object-fit: contain;
    }
    .editBtn{
        right: -5px;
        top: -20px;
    }
    select.custom{
        background: transparent url("/assets/brand-owner/images/down-arrow.png") no-repeat center right 0;
        border: 0;
        border-bottom: solid 1px #d9d9d9;
        appearance: none;
        padding-bottom: 7px;
        color: #8c8c8c;
        font-size: 13px;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        min-width: 100px;
    }
}