<section class="accountHolder">
  <section class="row">
    <section class="col bg-white mr-2 mb-2 p-5">
      <div class="row position-relative">
        <a class="editBtn border rounded-hulf p-1 pl-2 pr-2 position-absolute"><i class="fa fa-pencil text-gray"
            aria-hidden="true"></i></a>
        <div class="col-3 text-center">
          <div class="avaterImg mb-4">
            <a href="javascript:void(0)"><img src="/assets/influencers/images/profile-info.png" alt="avatar"
                title="avatar" /></a>
          </div>

          <h5 class="mb-0 text-primary">7.5k</h5>
          <p class="mb-0 text-gray">followers <br> on </p>
          <p class="social-icon font-weight-500 text-primary"><i class="fa fa-facebook border-0 text-primary"
              aria-hidden="true"></i>Facebook</p>
          <h6>Rank #2</h6>
        </div>
        <div class="col">
          <h5>Personal Information</h5>
          <p class="mb-0 text-gray">Name</p>
          <p class="mb-4">John smith</p>

          <p class="mb-0 text-gray">Email</p>
          <p class="mb-4">johns@gmail.com</p>

          <p class="mb-0 text-gray">Phone</p>
          <p class="mb-4">0700-0909-8786</p>

          <p class="mb-2 text-gray">Social Media</p>
          <div class="d-flex align-items-center mb-4">
            <a class="social-icon mr-3"><i class="fa fa-facebook mr-2" aria-hidden="true"></i>Facebook</a>
            <a class="social-icon mr-3"><i class="fa fa-twitter mr-2"></i>Twitter</a>
            <a class="social-icon mr-3"><i class="fa fa-youtube mr-2" aria-hidden="true"></i>Youtube</a>
          </div>
          <p class="mb-2 text-gray">Add Social Media </p>
          <div class="d-flex align-items-center mb-4 dissable">
            <a class="social-icon mr-3"><i class="fa fa-linkedin mr-2"></i>Linkedin</a>
            <a class="social-icon mr-3"><i class="fa fa-snapchat-ghost mr-2"></i>Snapchat</a>
            <a class="social-icon mr-3"><i class="fa fa-instagram mr-2" aria-hidden="true"></i>Instagram</a>
          </div>
          <div class="row">
            <div class="col">
              <p class="text-gray mb-0">Category/Industry</p>
              <p>Commercial</p>
            </div>
            <div class="col">
              <p class="text-gray mb-0">Comment Sentiment</p>
              <p>75%</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="col bg-white mb-2 p-5">
      <div class="row position-relative">
        <a class="editBtn border rounded-hulf p-1 pl-2 pr-2 position-absolute"><i class="fa fa-pencil text-gray"
            aria-hidden="true"></i></a>
        <div class="col">
          <h5>Other Information</h5>
          <p class="mb-0 text-gray">Country</p>
          <p class="mb-4">Germany</p>

          <p class="mb-1 text-gray">Description</p>
          <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur non lorem libero. Donec ut
            odio sed enim
            porta commodo quis ut ex. Cras nec diam lectus. </p>

          <div class="custom-control custom-checkbox mt-2">
            <input type="checkbox" class="custom-control-input" id="customCheck1">
            <label class="custom-control-label text-gray ml-1" for="customCheck1">I do perform/act characters</label>
          </div>

        </div>
      </div>
    </section>
  </section>

  <section class="row">
    <section class="col bg-white mr-2 mb-2 p-5">
      <div class="row position-relative">
        <a class="editBtn border rounded-hulf p-1 pl-2 pr-2 position-absolute"><i class="fa fa-pencil text-gray"
            aria-hidden="true"></i></a>
        <div class="col">
          <h5>Pricing of Ready – Made Content</h5>
          <div class="postBox">

            <div class="d-flex justify-content-between border-bottom mb-3 mt-4">
              <p class="mb-2">Post type</p>
              <p class="mb-2">Price</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2 text-gray">Blog Post</p>
              <p class="mb-2 text-primary">$100</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2 text-gray">Instagram Post</p>
              <p class="mb-2 text-primary">$90</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2 text-gray">Facebook Post</p>
              <p class="mb-2 text-primary">$80</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2 text-gray">Youtube Post</p>
              <p class="mb-2 text-primary">$60</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2 text-gray">Twitter Post</p>
              <p class="mb-2 text-primary">$50</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2 text-gray">Snap Chat Post</p>
              <p class="mb-2 text-primary">$30</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2 text-gray">LinkedIn Post</p>
              <p class="mb-2 text-primary">$40</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="col bg-white mb-2 p-5">
      <div class="row position-relative">
        <a class="editBtn border rounded-hulf p-1 pl-2 pr-2 position-absolute"><i class="fa fa-pencil text-gray"
            aria-hidden="true"></i></a>
        <div class="col">
          <h5>Pricing of Influencer Generated Content</h5>
          <div class="postBox">

            <div class="d-flex justify-content-between border-bottom mb-3 mt-4">
              <p class="mb-2">Post type</p>
              <p class="mb-2">Price</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2 text-gray">Blog Post</p>
              <p class="mb-2 text-primary">$100</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2 text-gray">Instagram Post</p>
              <p class="mb-2 text-primary">$90</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2 text-gray">Facebook Post</p>
              <p class="mb-2 text-primary">$80</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2 text-gray">Youtube Post</p>
              <p class="mb-2 text-primary">$60</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2 text-gray">Twitter Post</p>
              <p class="mb-2 text-primary">$50</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2 text-gray">Snap Chat Post</p>
              <p class="mb-2 text-primary">$30</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2 text-gray">LinkedIn Post</p>
              <p class="mb-2 text-primary">$40</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2 text-gray">Attend Event</p>
              <p class="mb-2 text-primary">$40</p>
            </div>

            <div class="d-flex justify-content-between">
              <p class="mb-2 text-gray">Product Placement</p>
              <p class="mb-2 text-primary">$90</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section class="row">
    <section class="col bg-white mb-2 p-5">
      <h5 class="mb-4">Account Details</h5>
      <div class="row position-relative">
        <div class="col">
          <div class="row">
            <div class="col-6 text-center pl-5 pr-5">
              <div class="graph mb-3">
                <canvas #doughnutCanvas baseChart height="150" [data]="doughnutChartData" [colors]="doughnutDataColors"
                  [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [options]="doughnutChartOptions"
                  [plugins]="doughnutChartPlugins" [legend]="doughnutChartLegend">
                </canvas>
              </div>
              <p class="font-weight-500 border-bottom pb-3">Total Followers</p>
              <p class="social-icon font-weight-500 mb-0"><i class="fa fa-facebook border-0"
                  aria-hidden="true"></i><span class="text_blue">Facebook </span> <span> : 7.5k</span></p>

              <p class="social-icon font-weight-500 mb-0"><i class="fa fa-twitter border-0" aria-hidden="true"></i><span
                  class="text_sky">Twitter </span> <span> : 7.5k</span></p>

              <p class="social-icon font-weight-500 mb-0"><i class="fa fa-youtube border-0" aria-hidden="true"></i><span
                  class="text-danger">Youtube </span> <span> : 7.5k</span></p>

            </div>
            <div class="col-6 text-center pl-5 pr-5">
              <div class="graph mb-3">
                <canvas #doughnutCanvas1 baseChart height="150" [data]="doughnutChartData1"
                  [colors]="doughnutDataColors" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                  [options]="doughnutChartOptions1" [plugins]="doughnutChartPlugins" [legend]="doughnutChartLegend">
                </canvas>
              </div>
              <p class="font-weight-500 border-bottom pb-3">Average Engagement Rate</p>
              <p class="social-icon font-weight-500 mb-0"><i class="fa fa-facebook border-0"
                  aria-hidden="true"></i><span class="text_blue">Facebook </span> <span> : 7.5k</span></p>

              <p class="social-icon font-weight-500 mb-0"><i class="fa fa-twitter border-0" aria-hidden="true"></i><span
                  class="text_sky">Twitter </span> <span> : 7.5k</span></p>

              <p class="social-icon font-weight-500 mb-0"><i class="fa fa-youtube border-0" aria-hidden="true"></i><span
                  class="text-danger">Youtube </span> <span> : 7.5k</span></p>
            </div>
          </div>
        </div>
        <div class="col">
          <p class="text-gray mb-2">Followers Country Distribution</p>
          <p class="mb-4">
            Iraq : <span class="mr-3 font-weight-500">1k,</span>
            UAE : <span class="mr-3 font-weight-500">677,</span>
            Jordon : <span class="mr-3 font-weight-500">122,</span>
            Qatar : <span class="mr-3 font-weight-500"></span>455
          </p>

          <p class="text-gray mb-2">Followers Age Distribution</p>
          <p class="mb-4">
            18 - 25 years : <span class="mr-3 font-weight-500">5.6k,</span>
            25 - 35 years : <span class="mr-3 font-weight-500">1.4k,</span>
            35 years above : <span class="mr-3 font-weight-500">0.5k,</span>
          </p>

          <p class="text-gray mb-2">Followers Gender Distribution</p>
          <p class="font-weight-60 mb-4">60% Male , 40% Female</p>

          <p class="text-gray mb-2">Keywords and hashtags Used</p>
          <p class="font-weight-60 mb-4">Maximus, Porttitor odio, Duis dignissim eros </p>
        </div>
      </div>
    </section>
  </section>

  <section class="row">
    <section class="col bg-white mr-2 mb-2 p-5">
      <div class="row position-relative">
        <div class="col">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="mb-4">Youtube progress</h5>
            <select class="custom">
              <option>Apr 2019</option>
              <option>May 2019</option>
              <option>Jun 2019</option>
            </select>
          </div>

          <div class="graph">
            <canvas baseChart height="100" [datasets]="lineChartData" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
          </div>
        </div>

      </div>
    </section>

    <section class="col bg-white mb-2 p-5">
      <div class="row position-relative">
        <div class="col">
          <div class="d-flex justify-content-between align-items-center">
            <h5 class="mb-4">Instagram progress</h5>
            <select class="custom">
              <option>Apr 2019</option>
              <option>May 2019</option>
              <option>Jun 2019</option>
            </select>
          </div>
          <div class="graph">
            <canvas baseChart height="100" [datasets]="lineChartData1" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors1" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
          </div>
        </div>
      </div>
    </section>
  </section>


</section>