@import '../../admin';

.approved{
    border-radius: 30px;
    padding: 10px 24px;
    line-height: 34px;
    font-size: 15px;
    background: #0FCF9D;
}
.unapproved{
    border-radius: 30px;
    padding: 10px 24px;
    line-height: 34px;
    font-size: 15px;
    background: #f1e9e9;
}
.published{
    border-radius: 30px;
    padding: 10px 24px;
    line-height: 34px;
    font-size: 15px;
    background: #D7A572;
}
.accepted{
    border-radius: 30px;
    padding: 10px 24px;
    line-height: 34px;
    font-size: 15px;
    background: rgb(183, 245, 228);
}
.announced{
    border-radius: 30px;
    padding: 10px 24px;
    line-height: 34px;
    font-size: 15px;
    background: #95C4E5;
}
.redyToLaunch{
    border-radius: 30px;
    padding: 10px 24px;
    line-height: 34px;
    font-size: 15px;
    background: #3EA7F3;
}
.nostatus{
    border-radius: 30px;
    padding: 10px 24px;
    line-height: 34px;
    font-size: 15px;
    background: #b3a2be;
}
