

<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">Campaign List<small>This section allows show  campaign list</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/brand-owner"> Brand Owner List</a></li>       
          <li class="active">Campaign Lis</li>
        </ol>
      </section>
      <div class="float-right p-2"><a routerLink="/add-campaign"> <button type="button" class="btn btn-primary">+Add
        Campaign</button> </a></div>
    </div>
<div *ngIf="sucees_message">
    <div class="alert alert-success" >
        {{sucees_message}}
      </div>
</div>
   

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped" class="table table-striped table-bordered row-bordered" style="width:100%"
          datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
          <thead>
            <tr>
              <th>Campaign Name</th>
              <th>Brand Owner Name</th>
              <th>Campaign Post Date</th>
              <th>Platform</th>
              <th>Campaign Start Date</th>
              <th>Campaign End Date</th>
              <th>Status</th>
              <th>Action</th>
              
            </tr>
          </thead>

          <tfoot style="display: table-header-group;">
            <tr>

              <th><input class="form-control" type="text" placeholder="Search Title" /></th>
              <th  ><input *ngIf ="brand_owner_serach_field" class="form-control" type="text" placeholder="Brand Owner" /></th>
              <th><input class="form-control" type="text" placeholder="Search Post Date" /></th>
              <th><input class="form-control" type="text" placeholder="Search Platform" /></th>
              <th><input class="form-control" type="text" placeholder="Search Post Date" /></th>
              <th><input class="form-control" type="text" placeholder="Search Expire Date" /></th>
              <th></th>
             

            </tr>


          </tfoot>

          <tbody>
            <tr *ngFor="let brandOwnerList of brandOwnerData; let i= index;">


              <td> {{ brandOwnerList.campaign_name}}</td>
              <td> {{ brandOwnerList.company_name}}</td>
              <td>{{ brandOwnerList.industry}}</td>
              <td>{{ brandOwnerList.country}}</td>
              <td> {{ brandOwnerList.company_ph_no}} </td>
              <td> {{ brandOwnerList.email}}</td>
              <td><span class="campaign_status {{                
                (brandOwnerList.status == 'Unapproved')?'unapproved':
                ((brandOwnerList.status == 'Published')? 'published':
                ((brandOwnerList.status == 'Approved')? 'approved':
                ((brandOwnerList.status == 'Accepted')?'accepted':
                ((brandOwnerList.status == 'Ready To Launch')?'redyToLaunch':
                ((brandOwnerList.status == 'Announced')?'announced':'nostatus')))))
              }}">{{ brandOwnerList.status }}</span></td>
              <td> 

                 

                <span style="padding: 4px"> 
                  <a routerLink="/edit-campaign/{{ brandOwnerList.id }}"><i class=" fa fa-fw fa-edit"
                  title="Edit Campaign Details"> </i></a></span>
                  
                  <span style="padding: 4px"> <a routerLink="/campaign-details/{{ brandOwnerList.id }}"><i class=" fa fa-eye"
                title="Campaign Details"> </i></a>
              </span>
              
              <span *ngIf="appove_button">
              <span style="padding: 4px"  *ngIf="brandOwnerList.status == 'Unapproved'"> 
                  <button type="button" class="btn btn-info" title="Click to Approve"  (click)="changeStatus(i)">Approve</button>
                </span>
              </span>
              
              </td>
           
            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>