<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">{{action_name}} Campaign Details<small>This section allows {{action_name}} Campaign Details</small>
        </h1>
        <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/brand-owner">Brand Owner List</a></li>
          <li class="active">{{action_name}} Campaign Details</li>
        </ol>
      </section>
    </div>
  </div>
</div>
<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <form class="forms-sample" [formGroup]="brandOwnerForm" #brandOwnerFormData="ngForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="id" [(ngModel)]="id">

        <div class="form-group row">
            <label for="industry" class="col-sm-2 col-form-label">Brand Owner Name</label>
            <div class="col-sm-3">
              <select [(ngModel)]='brand_owner_name' id="brand_owner_name" class="form-control" formControlName="brand_owner_name"
                [ngClass]="{ 'is-invalid': submitted && f.brand_owner_name.errors }">
                <option value="">-Select Brand Owner-</option>
                <option value="1">Tcs Services Pvt Ltd</option>
                <option value="2">Samsung India Pvt Ltd</option>
                <option value="3">Indusnet Technology Pvt Ltd</option>
                <option value="3"> cognizant Services Pvt Ltd</option>

              </select>
              <div *ngIf="submitted && f.brand_owner_name.errors" class="invalid-feedback">
                <div *ngIf="f.brand_owner_name.errors.required">Please select Platform</div>
              </div>
            </div>
          </div>


        <div class="form-group row">
          <label for="comapany_name" class="col-sm-2 col-form-label">Campaign Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="campaign_name" [(ngModel)]="campaign_details_name"
              placeholder="Enter campaign Name" formControlName="campaign_name"
              [ngClass]="{ 'is-invalid': submitted && f.campaign_name.errors }">
            <div *ngIf="submitted && f.campaign_name.errors" class="invalid-feedback">
              <div *ngIf="f.campaign_name.errors.required">Please enter your campaign Name </div>
            </div>
          </div>
        </div>
      
        <div class="form-group row">
          <label for="comapany_name" class="col-sm-2 col-form-label">Campaign Details</label>
          <div class="col-sm-9">
            <textarea type="text" class="form-control" rows="5" cols="60" id="campaign_details" [(ngModel)]="campaign_details" formControlName="campaign_details"
            [ngClass]="{ 'is-invalid': submitted && f.campaign_details.errors }" ></textarea>
            <div *ngIf="submitted && f.campaign_details.errors" class="invalid-feedback">
              <div *ngIf="f.campaign_details.errors.required">Please enter your Campaign Details </div>
            </div>
          </div>
        </div>



        <div class="form-group row">
          <label for="industry" class="col-sm-2 col-form-label">Platform Targeted At</label>
          <div class="col-sm-3">
            <select [(ngModel)]='social_media' id="social_media" class="form-control" formControlName="social_media"
              [ngClass]="{ 'is-invalid': submitted && f.social_media.errors }">
              <option value="">-Select Platform-</option>
              <option value="1">Facebook</option>
              <option value="2">Twitter</option>
              <option value="3">Instragram</option>
            </select>
            <div *ngIf="submitted && f.social_media.errors" class="invalid-feedback">
              <div *ngIf="f.social_media.errors.required">Please select Platform</div>
            </div>
          </div>
        </div>
     
        <div class="form-group row">
          <label for="comapany_name" class="col-sm-2 col-form-label">Campaign Post Date</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="campaign_post_date" [(ngModel)]="campaign_post_date"
              placeholder="Enter Post Date" formControlName="campaign_post_date"
              [ngClass]="{ 'is-invalid': submitted && f.campaign_post_date.errors }">
            <div *ngIf="submitted && f.campaign_post_date.errors" class="invalid-feedback">
              <div *ngIf="f.campaign_post_date.errors.required">Please enter your post date </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="company_ph_no" class="col-sm-2 col-form-label">Campaign Start Date</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="campaign_start_date" [(ngModel)]="campaign_start_date"
              placeholder="Enter Start Date" formControlName="campaign_start_date"  [ngClass]="{ 'is-invalid': submitted && f.campaign_start_date.errors }"
             >
             <div *ngIf="submitted && f.campaign_post_date.errors" class="invalid-feedback">
              <div *ngIf="f.campaign_post_date.errors.required">Please enter your start Date </div>
            </div>
         
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Campaign End Date</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="campaign_end_date" [(ngModel)]="campaign_end_date" placeholder="Enter End Date"
              formControlName="campaign_end_date"  [ngClass]="{ 'is-invalid': submitted && f.campaign_start_date.errors }" >

              <div *ngIf="submitted && f.campaign_end_date.errors" class="invalid-feedback">
                <div *ngIf="f.campaign_end_date.errors.required">Please enter your end date </div>
              </div>
           
          </div>
        </div>
        <div class="form-group row" >
          <label for="exampleInputPassword2" class="col-sm-2 col-form-label">Total Amount Invested</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="total_investment" placeholder="Total Amount Invested" formControlName="total_investment"
              [ngClass]="{ 'is-invalid': submitted && f.total_investment.errors }">
            <div *ngIf="submitted && f.total_investment.errors" class="invalid-feedback">
              <div *ngIf="f.total_investment.errors.required">Please enter total amount invested</div>
            </div>
          </div>
        </div>
        <div class="form-group row" >
          <label for="exampleInputPassword2" class="col-sm-2 col-form-label">ROI Of The Campaign</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="roi_of_campaign" placeholder="ROI Of The Campaign" formControlName="roi_of_campaign"
              [ngClass]="{ 'is-invalid': submitted && f.roi_of_campaign.errors }">
            <div *ngIf="submitted && f.roi_of_campaign.errors" class="invalid-feedback">
              <div *ngIf="f.roi_of_campaign.errors.required">Please enter ROI Of The Campaign</div>
            </div>
          </div>
        </div>

        <div class="form-group row" >
          <label for="exampleInputPassword2" class="col-sm-2 col-form-label"> Number Of Tags</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="no_of_tag" placeholder="Number Of Tags" formControlName="no_of_tag"
              [ngClass]="{ 'is-invalid': submitted && f.no_of_tag.errors }">
            <div *ngIf="submitted && f.no_of_tag.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Please enter  Number Of Tags</div>
            </div>
          </div>
        </div>


        <div class="form-group row" >
          <label for="exampleInputPassword2" class="col-sm-2 col-form-label"> Number Of Followers</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="num_follwer" placeholder="Number Of Followers" formControlName="num_follwer"
              [ngClass]="{ 'is-invalid': submitted && f.num_follwer.errors }">
            <div *ngIf="submitted && f.num_follwer.errors" class="invalid-feedback">
              <div *ngIf="f.num_follwer.errors.required">Please enter Number Of Followers</div>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="exampleInputPassword2" class="col-sm-2 col-form-label"> Number Of Like & Comments</label>
          <div class="col-sm-9">
            <input type="number" class="form-control" id="no_like_comnt" placeholder=" Number Of Like & Comments" formControlName="no_like_comnt"
              [ngClass]="{ 'is-invalid': submitted && f.no_like_comnt.errors }">
            <div *ngIf="submitted && f.no_like_comnt.errors" class="invalid-feedback">
              <div *ngIf="f.no_like_comnt.errors.required">Please enter Number Of Like & Comments</div>
            </div>
          </div>
        </div>

        <div class="form-group row" >
          <label for="exampleInputPassword2" class="col-sm-2 col-form-label"> Popular Region</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="populer_region" placeholder="Popular Region" formControlName="populer_region"
              [ngClass]="{ 'is-invalid': submitted && f.populer_region.errors }">
            <div *ngIf="submitted && f.populer_region.errors" class="invalid-feedback">
              <div *ngIf="f.populer_region.errors.required">Please enter Popular Region</div>
            </div>
          </div>
        </div>


        <div class="form-group row" >
          <label for="exampleInputPassword2" class="col-sm-2 col-form-label"> Potential Impressions</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="potential_impressions" placeholder="Potential Impressions" formControlName="potential_impressions"
              [ngClass]="{ 'is-invalid': submitted && f.potential_impressions.errors }">
            <div *ngIf="submitted && f.potential_impressions.errors" class="invalid-feedback">
              <div *ngIf="f.potential_impressions.errors.required">Please enter Potential Impressions</div>
            </div>
          </div>
        </div>

        

        <div class="form-group row">
          <label for="status" class="col-sm-2 col-form-label">Status</label>
          <div class="col-sm-3">
            <select [(ngModel)]='status' id="status" class="form-control" formControlName="status"
              [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
            </select>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
              <div *ngIf="f.status.errors.required">Please select status</div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success mr-3">Submit</button>
        <button class="btn btn-light" type="button" (click)="cancelForm()">Cancel</button>
      </form>
    </div>
  </div>
</div>