/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
     margin: 0; 
     font-family: 'Arsenal', sans-serif;
     font-weight: 400;
     }
     body{
        /* font-family: 'Arsenal', sans-serif; 
            font-family: 'Mukta', sans-serif;
        */
    }
    
    ul,li{
        padding: 0;
        margin: 0;
        list-style: none;
    }
    img{ max-width: 100%; vertical-align: top; }
    figure{ margin: 0;}
    
    
    