<header class="header">
  <div class="container">
    <div class="row">

      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand"><img src="assets/front_end/images/logo.png" alt="logo"></a>
        <button class="navbar-toggler" id="mobileNav" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="admin">Admin</a>
                  </li>
                <li class="nav-item">
                  <a routerLink="influencers">influencers</a>
                </li>
                <li class="nav-item">
                  <a routerLink="blog">Blog</a>
                </li>
                <li class="nav-item">
                  <a routerLink="pricing">Pricing</a>
                </li>
                <li class="nav-item">
                  <a routerLink="help">Help</a>
                </li>
                <li class="nav-item">
                  <a routerLink="login">Login</a>
                </li>
                <li class="nav-item">
                  <a routerLink="signup">Sign up</a>
                </li>
                <li class="nav-item">
                  <select id="inputState" class="form-control">
                      <option selected>England</option>
                      <option>India</option>
                    </select>
                </li>
              </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
