<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">{{action_name}} Admin User <small>This section allows {{action_name}} Admin Userr</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/admin-user">Admin User List</a></li>
          <li class="active">{{action_name}} Admin User</li>
        </ol>
      </section>
    </div>
  </div>
</div>
<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <form class="forms-sample" [formGroup]="addadminForm" #addadminFormData="ngForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="id" [(ngModel)]="id">
        <div class="form-group row">
          <label for="admin_role_type" class="col-sm-2 col-form-label">Admin Role Type</label>
          <div class="col-sm-3">
            <select [(ngModel)]='admin_role_type' id="admin_role_type" class="form-control"
              formControlName="admin_role_type" [ngClass]="{ 'is-invalid': submitted && f.admin_role_type.errors }">
              <option value="">--Select Role Type--</option>
              <option *ngFor="let AllRoleData of allRoleData" value="{{AllRoleData.id}}">{{AllRoleData.role_name}}
              </option>
            </select>
            <div *ngIf="submitted && f.admin_role_type.errors" class="invalid-feedback">
              <div *ngIf="f.admin_role_type.errors.required">Please select admin role type</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="fname" class="col-sm-2 col-form-label">First Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="fname" [(ngModel)]="fname" placeholder="Enter First Name"
              formControlName="fname" [ngClass]="{ 'is-invalid': submitted && f.fname.errors }">
            <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
              <div *ngIf="f.fname.errors.required">Please enter your first name </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="lname" class="col-sm-2 col-form-label">Last Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="lname" [(ngModel)]="lname" placeholder="Enter Last Name"
              formControlName="lname" [ngClass]="{ 'is-invalid': submitted && f.lname.errors }">
            <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
              <div *ngIf="f.lname.errors.required">Please enter your last name </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="email" [(ngModel)]="email" placeholder="Enter email"
              formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Please enter your email </div>
              <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              <div *ngIf="f.email.errors.isEmailUnique">Email address already registerd.</div>
            </div>
          </div>
        </div>
        <div class="form-group row" *ngIf="isPassword">
          <label for="exampleInputPassword2" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="password" placeholder="Password" advs-compare="cpassword"
              parent='true' formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Please enter password</div>
            </div>
          </div>
        </div>
        <div class="form-group row" *ngIf="isCon_Password">
          <label for="exampleInputPassword2" class="col-sm-2 col-form-label">Confirm Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="cpassword" placeholder="Confirm Password"
              advs-compare="password" parent='false' formControlName="cpassword"
              [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }">
            <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
              <div *ngIf="f.cpassword.errors.required">Please enter confirm password</div>
              <div *ngIf="f.cpassword.errors.compare && !f.cpassword.errors.required">Confirm password field doesn't
                match</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="status" class="col-sm-2 col-form-label">Status</label>
          <div class="col-sm-3">
            <select [(ngModel)]='status' id="status" class="form-control" formControlName="status"
              [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
              <option value="Active">Active</option>
              <option value="Inactive">Inactive</option>
            </select>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
              <div *ngIf="f.status.errors.required">Please select status</div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success mr-3">Submit</button>
        <button class="btn btn-light" type="button" (click)="cancelForm()">Cancel</button>
      </form>
    </div>
  </div>
</div>