
a{
    cursor: pointer;
}
.fa-pencil-square-o{
    font-size: 18px;
    color: green;
}

.fa-edit{
    font-size: 18px;
    color: green;
}

.fa-trash-o{
    font-size: 18px;
    color: red;
}

.fa-trash{
    font-size: 18px;
    color: red;
}

.fa-eye{
    font-size: 18px;
}
.fa-list{
    font-size: 18px;
}

.fa-fw{

    font-size: 18px;   
}

.fa-envelope{

    font-size: 18px;   
    color:yellowgreen;
}

fa-comments{

    font-size: 18px;   
    //color:yellowgreen;
}



.status_active{
    color: green;
}
.status_inactive{
    color: red;
}

.content-header .adddrop {
    vertical-align: bottom;
}
.content-header > h1 {
    font-weight: 600;
    text-transform: capitalize;
}

.table-responsive table thead{
    background: #eee;
}


.content-header{
    display: flex;
    justify-content: space-between;
    background: #eee;
    margin: -30px -30px 10px;
    padding: 15px 30px;
    border-radius: 5px 5px 0 0;
}
.content-header h1{
    font-size: 1.3rem;
}
.content-header h1 small{
    display: block;
    // margin-top: 8px;
}
.content-header .breadcrumb li{
    margin-left: 19px;
    position: relative;
}
.content-header .breadcrumb li:before{
    content: "\f105";
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    right: -12px;
}
.content-header .breadcrumb li:last-child:before{
    display: none;
}

.details-view{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    border: 2px solid rgb(211, 200, 200);
    padding: 13px;
}
.details-view .row{ 
    margin-bottom : 8px;
    border-bottom: 1px solid rgb(211, 200, 200);
}
.details-view label{
    font-weight: bold;
}
.details-view .button-section{
    
}

//=========for sort icon=====//

table.dataTable thead .sorting::before, 
table.dataTable thead .sorting::after, 
table.dataTable thead .sorting_asc::before, 
table.dataTable thead .sorting_asc::after, 
table.dataTable thead .sorting_desc::before, 
table.dataTable thead .sorting_desc::after, 
table.dataTable thead .sorting_asc_disabled::before, 
table.dataTable thead .sorting_asc_disabled::after, 
table.dataTable thead .sorting_desc_disabled::before, 
table.dataTable thead .sorting_desc_disabled::after{
    bottom: 17px;
    font-size: 16px;
}

.details_table{
    margin: 0 0 20px;
}
.details_table .table td{
    white-space: inherit;
    line-height: normal;
}

.admin_permission_table input.form-control{
    width: 20px;
}

.details_table{
    ul{
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li{
            list-style: none;
            width: 33.333%;
            border-bottom: 1px solid #ccc;
            padding: 8px 0;
            font-size: 14px;
            strong{
                display: block;
                color: #9d9d9d;
                font-weight: 500;
            }
            span{
                display: block;
                color: #333;
                i{
                    border: 2px solid #ccc;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    margin: 0 4px 0 0;
                    text-align: center;
                    line-height: 28px;
                }
                i.fa-facebook{
                    border-color: #3b5998;
                    color: #3b5998;
                }
                i.fa-twitter{
                    border-color: #1bb2e9;
                    color: #1bb2e9;
                }
            }
        }
        li.full_width{
            width: 100%;
        }
    }
}












