<div class="row border-bottom cstm">
  <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">
          <a routerLink="/brand-owner"><img src="assets/brand-owner/images/logo.png" alt=""></a>
          <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>
      </div>
      <ul class="nav navbar-top-links navbar-right">
          <!-- <li>
              <a (click)="logout()">
                  <i class="fa fa-sign-out"></i> Log out
              </a>
          </li> -->
          <li>
              <a routerLink="./profile">
                    <span>Welcome Harold</span>
                    <figure>
                        <img src="assets/front_end/images/testimonial_img.jpg" alt="">
                    </figure>
              </a>
          </li>
          <li>
              <a routerLink="./notifications"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
          </li>
          <li>
              <a routerLink="./influencer-saved"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
          </li>
      </ul>
  </nav>
</div>