
.arbic{
    .home_discover{
        .widget_box_text{
            h3, strong, p{
                text-align: right;
            }
            h3:after{
               left: inherit;
               right: 0; 
            }
        }
    }
    .blue_brand{
        .blue_brand_left{
            text-align: right;
        }
        .blue_brand_right{
            text-align: left !important;
        }
    }
    .testi_holder{
        h2{
            text-align: right;
        }
        .testi_right{
            text-align: right;
            ul{
                display: flex;
                flex-wrap: wrap;
                flex-direction: row-reverse;
            }
        }
        .testi_left{
            text-align: right;
        }
        .test_box_bottom{
            .test_box_profile{
                figure{
                    float: right !important;
                    margin: 0 0 0 12px !important;
                }
            }
        }
        .testi_box:before,
        .testi_box:after{
            right: 70px;
            left: inherit; 
        }
    }
    .brands_holder{ 
        .brands_area{
            strong{
                border-radius: 0 18px 18px 0 !important;
            }
            strong:after{
                border-right-color: #2f78db !important;
                border-left-color: inherit !important;
            }
            strong:after,
            strong:before{
                right: 100%;
                left: inherit !important;
            }
        } 
    }
    .footer_social{
        strong{
            text-align: right;
        }
    }
    .footer_sub{
        .text-white{
            text-align: right;
        }
    }
    .footer_nav{
        ul{
            padding: 0 !important;
        }
        span{
            text-align: right;
        }
    }
}



