
.blogDetail_holder{
    margin-top: ($m5 * 15);
    .blogDetail_top{
        padding: ($m10 * 8) $zro;
        text-align: $cntr;
        background: url("/assets/front_end/images/bg.jpg") no-repeat bottom center;
        background-size: 100% 1200px;
        h2{
            font-style: italic;
            font-weight: $bld;
            color: #3c3c3c;
            font-size: ($m10 * 8);
            margin:  $zro $zro ($m10 * 8);
            font-family: 'Arsenal', sans-serif;
        }
        figure{
            img{
                width: $full;
            }
        }
    }
    .blogDetail_bottom{
        background: #eee;
        .blogDetail_widget{
            padding: $zro $zro ($m5 * 15);  
            .blogDetail_widget_left{
                figure{
                    margin: $zro $zro ($m12 * 2);
                    img{
                        width: $full;
                    }
                }
                strong{
                    display: $blk;
                    color: #3c3c3c;
                    font-size: ($m5 * 3);
                    font-weight: $smbld;
                    margin-bottom: ($m10 - 2);
                    font-weight: $nrml;
                    font-family: 'Open Sans', sans-serif;
                }
                span{
                    display: $blk;
                    color: $blue;
                    font-size: ($m5 * 3);
                    margin:  $zro;
                }
            }
            .blogDetail_widget_right{
                h3{
                    color: #33a0f3;
                    font-size: ($m10 * 3);
                    font-weight: $bld;
                    position: $rltv;
                    padding: $zro $zro ($m10 * 2 - 3);
                    margin:  $zro $zro ($m10 * 2);
                    font-family: 'Arsenal', sans-serif;
                }
                h3:before{
                    content: "";
                    position: $absl;
                    left: $zro;
                    top: $full;
                    width: ($m5 * 11);
                    border-bottom: 2px solid #33a0f3;
                }
                span{
                    display: $blk;
                    color: #969696;
                    font-size: ($m5 * 3);
                    margin-bottom: ($m10 * 2);
                    font-family: 'Open Sans', sans-serif;
                }
                p{
                    color: #3c3c3c;
                    font-size: ($m5 * 3);
                    font-weight: $nrml;
                    line-height: ($m5 * 5);
                    margin: $zro $zro ($m10 * 3);
                    font-family: 'Open Sans', sans-serif;
                }
                h4{
                    color: #3c3c3c;
                    font-size: ($m10 * 2 - 3);
                    font-weight: $bld;
                    position: $rltv;
                    padding-bottom: ($m12);
                    font-family: 'Open Sans', sans-serif;
                }
                h4:before{
                    content: "";
                    position: $absl;
                    left: $zro;
                    top: $full;
                    width: ($m5 * 11);
                    border-bottom: 2px solid #3c3c3c;
                }
            }
        }
        .back_blog{
            border-bottom: 1px solid #ccc;
            margin-bottom: ($m10 * 8);
            display: $flx;
            justify-content: $rht;
            a{
                display: $blk;
                color: $whte;
                font-size: ($m5 * 3);
                font-weight: $smbld;
                background: #ed8c24;
                border-radius: ($m12 * 2);
                line-height: ($m5 * 8);
                padding: $zro ($m5 * 5);
                font-family: 'Open Sans', sans-serif;
                position: $rltv;
                top: ($m10 * 2 - 1);
                i{
                    margin-right: $m5;
                }
            }
        }
        .blogdetails_ebook{
            margin-bottom: ($m10 * 5);
            position: $rltv;
            figure{
                img{
                    width: $full;
                }
            }
            .blogdetails_ebook_text{
                background: rgba(47, 120, 219, 0.9);
                padding: ($m10 * 7);
                position: $absl;
                left: $zro;
                top: $zro;
                text-align: $cntr;
                span{
                    display: $blk;
                    color: $whte;
                    font-size: ($m12 * 2);
                    font-weight: $nrml;
                    margin-bottom: $m5;
                    font-family: 'Open Sans', sans-serif;
                }
                strong{
                    display: $blk;
                    color: $whte;
                    font-size: ($m5 * 11 - 1);
                    line-height: ($m5 * 9);
                    font-weight: $bld;
                    margin-bottom: ($m10 * 3);
                    font-family: 'Open Sans', sans-serif;
                }
                a{
                    display: $inblk;
                    color: $whte;
                    border-radius: ($m12 * 3);
                    background: #ed8c24;
                    line-height: ($m10 * 7);
                    padding: $zro ($m5 * 9);
                    font-size: ($m12 * 2);
                    font-weight: $smbld;
                    font-family: 'Open Sans', sans-serif;
                    box-shadow: 0 0px 2px rgba(0, 0, 0, 0.6);
                }
            }
        }
        .blogdetails_like{
            margin-bottom: ($m10 * 20);
            h3{
                color: #252525;
                font-size: ($m10 * 3 - 4);
                font-weight: $smbld;
                margin: $zro $zro ($m12 * 4);
                font-family: 'Open Sans', sans-serif;
            }
            ul{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 0 -15px;
                li{
                    width: 33.333%;
                    padding: 0 15px;
                    position: relative;
                    margin-bottom: 175px;
                    figure{
                        img{
                            width: $full;
                        }
                    }
                    .blogdetails_like_text{
                        background: #fff;
                        padding: 30px;
                        position: absolute;
                        right: 15px;
                        top: 50%;
                        width: 85%;
                        span{
                            display: block;
                            color: #969696;
                            font-size: 15px;
                            font-weight: 400;
                            margin-bottom: 10px;
                            font-family: 'Open Sans', sans-serif;
                        }
                        h3{
                            color: #33a0f3;
                            font-size: 30px;
                            line-height: 36px;
                            padding-bottom: 18px;
                            margin-bottom: 24px;
                            position: relative;
                            font-weight: 700;
                            font-family: 'Arsenal', sans-serif;
                        }
                        h3:before{
                            content: "";
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 60px;
                            border-bottom: 2px solid #33a0f3;
                        }
                        p{
                            font-size: 15px;
                            color: #3c3c3c;
                            line-height: 25px;
                            margin: 0 0 15px;
                        }
                        a{
                            display: inline-block;
                            border: 2px solid #ed8c24;
                            width: 46px;
                            height: 46px;
                            line-height: 42px;
                            border-radius: 50%;
                            text-align: center;
                            color: #ed8c24;
                            font-size: 18px;
                        }
                    }
                }
            }
        }
    }
}
