

.footer_holder{
    padding: 117px 0 52px;
    background: #303030;
    position: relative;
}
.footer_nav ul{
    padding: 0 35px 0 0;
    display: flex;
    justify-content: space-between;
}
.footer_nav ul li a{
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.footer_nav span{
    display: block;
    font-size: 11px;
    color: #9a9a9a;
    margin: 12px 0 0;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.footer_social strong{
    display: block;
    font-size: 18px;
    color: #fff;
    margin: 0 0 8px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.footer_social ul{
    display: flex;
}
.footer_social ul li{
    margin: 0 3px 0 0;
}
.footer_social ul li a{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #848484;
    line-height: 22px;
    font-size: 12px;
    color: #303030;
    display: block;
    text-align: center;
    cursor: pointer;
}

.footer_sub .form{
    display: flex;
    justify-content: space-between;
    background: none;
    border-bottom: 1px solid #848484;
}
.footer_sub .form .input_type{
    background: none;
    border: 0;
    font-size: 15px;
    color: #797979;
    width: 70%;
    font-weight: 400;
    font-family: 'Mukta', sans-serif;
}
.footer_sub .form button{
    color: #fff;
    background: #ed8c24;
    border: 0;
    padding: 0 24px;
    line-height: 34px;
    font-size: 15px;
    border-radius: 50px;
    font-weight: 400;
    font-family: 'Mukta', sans-serif;
    cursor: pointer;
}

