

.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    padding: 26px 0;
}

.header_left a.logo{
    float: left;
}
.header ul{
    float: right;
    display: flex;
}
.header ul li{
 margin-left: 2px;
}
.header ul li a{
    color: #fff;
    font-size: 15px;
    line-height: 34px;
    padding: 0 20px;
    display: block;
    font-weight: 400;
    font-family: 'Mukta', sans-serif;
}
/* .header_right ul li a.active{
    color: black;
} */
.header ul li a:hover,
.header ul li a.active{
    background: #ed8c24;
    border-radius: 20px; 
    text-decoration: none;
}

/* .header_right ul{
    display: flex;
    justify-content: right;
} */

.navbar{
    width: 100%;
    padding: 0;
    cursor: pointer;
}
.navbar a.navbar-brand{ margin-right: 35px;}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.header ul li:nth-child(4){
    margin-right: 200px;
}

