
.login_holder{
    background-color: $blue;
    background-image: url('/assets/front_end/images/login_bg.png');
    background-repeat: no-repeat;
    background-position: $cntr ($m10 * 15);
    padding: ($m5 * 15) $zro ($m5 * 33);
    margin: ($m5 * 15) $zro $zro;
    h2{
        color: $whte;
        font-size: ($m10 * 6);
        font-weight: $bld;
        font-style: italic;
        text-align: $cntr;
        line-height: ($m5 * 9);
        margin: $zro $zro ($m10 * 5);
        font-family: 'Arsenal', sans-serif; 
    }
    .login_area{
        padding: $zro ($m10 * 5);
        background: $whte;
        border-radius: $m10;
        display: $flx;
        width: ($full - 15%);
        margin: $zro $ato;
        .login_area_left{
            width: 62%;
            padding: ($m10 * 6) ($m10 * 3) ($m10 * 6) $zro;
        }
            form{
                .form-group{
                    margin-bottom: 2rem;
                    
                    .form-control{
                        border: $zro;
                        border-radius: $zro;
                        font-size: 16px;
                        color: #2d2d2d;
                        border-bottom: 2px solid #eee;
                    }
                    ::placeholder{
                        color: #2d2d2d;
                    }
                }
                .forget_link{
                    text-align: $rht;
                    margin: $m10 $zro ($m5 * 5);
                    a{
                        color: #2670d2;
                        font-size: 14px;
                        font-weight: $nrml;
                        font-family: 'Open Sans', sans-serif;
                    }
                }
                .form_bottom{
                    display: $flx;
                    justify-content: space-between;
                    button{
                        width: ($m10 * 17 + $m5);
                        border-radius: ($m10 * 3);
                        border: $zro;
                        background: #ed8c24;
                        font-size: 18px;
                        font-weight: $smbld;
                        height: ($m5 * 9);
                        font-family: 'Open Sans', sans-serif;
                    }
                    span{
                        font-size: 16px;
                        color: #3d3d3d;
                        font-weight: $nrml;
                        align-self: $cntr;
                        font-family: 'Open Sans', sans-serif;
                        a{
                            color: #2979e3;
                        }
                    }
                }
            }
        
        .login_area_midd{
            width: ($m10 * 4);
            position: $rltv;
            text-align: $cntr;
            span{
                background: $whte;
                color: #2d2d2d;
                font-size: ($m5 * 7 + 3);
                font-style: italic;
                font-family: 'Arsenal', sans-serif;
                padding: ($m5 * 4) $zro;
                position: $absl;
                top: $hlf;
                left: $zro;
                transform: translate($zro, -$hlf);
            }
        }
        .login_area_midd::before{
            content: "";
            position: $absl;
            top: $zro;
            left: ($m10 * 2);
            width: 1px;
            height: $full;
            background: #ccc;
        }
        
        .login_area_right{
            width: 34%;
            align-self: $cntr;
            padding: ($m10 * 6) $zro ($m10 * 6) ($m10 * 3);
            ul{
                li{
                    margin:  $zro $zro ($m10 * 2);
                    a{
                        display: $blk;
                        color: $whte;
                        font-size: 14px;
                        border-radius: ($m10 * 3);
                        background: #3c66c4;
                        line-height: ($m10 * 5);
                        padding: $zro ($m5 * 6);
                        i{
                            vertical-align: middle;
                            font-size: ($m10 * 2);
                            margin-right: ($m5 * 3);
                        }
                    }
                    :hover{
                        opacity: 0.8;
                    }
                }
                :nth-child(2) a{
                    background: #4081ed;
                }
                :last-child{
                    margin-bottom: $zro;
                    a{
                        background: #f32731;
                    }
                } 
            }
        }
    }
}  

