
.signup_holder{
    .signup_choice{
        display: $flx;
        justify-content: $cntr;
        margin-bottom: ($m5 * 5); 
        input[type=checkbox]:not(old) + label > span,
        input[type=radio   ]:not(old) + label > span{
            display          : $inblk;
            width            : ($m5 * 5);
            height           : ($m5 * 5);
            margin           : 0.25em 0.5em 0.25em 0.25em;
            border           : 1px solid $whte;
            border-radius    : $hlf;
            background       : transparent;
            vertical-align   : bottom;
        }
        input[type=radio]:not(old):checked +  label > span > span{
            display          : $blk;
            width            : ($m10 + 2);
            height           : ($m10 + 2);
            margin           : 0.250em;
            border           : transparent;
            border-radius    : $hlf;
            background       : #ed8c24;
        }
        input[type=checkbox]:not(old) + label,
        input[type=radio   ]:not(old) + label{
            margin-left  : -2em;
            color: $whte;
            font-size: ($m12 * 2);
            font-weight: $bld;
            font-family: 'Arsenal', sans-serif; 
        }
    }
    form{
        .form-check{
            padding-left: $zro;
            label{
                color: #3d3d3d;
                font-size: 16px;
                a{
                    color: #2979e3;
                }
            }
            input[type=checkbox]:not(old) + label > span,
            input[type=radio   ]:not(old) + label > span{
                display          : $inblk;
                width            : 22px;
                height           : 22px;
                margin           : $zro $m10 $zro $zro;
                border           : 1px solid ccc;
                border-radius    : $zro;
                background       : transparent;
                vertical-align   : bottom;
            }
            input[type=checkbox]:not(old):checked + label > span:before{
                content     : '✓';
                display     : $bld;
                width       : 22px;
                color       : #ed8c24;
                font-size   : 16px;
                line-height : 22px;
                text-align  : $cntr;
                text-shadow : inherit;
                font-weight : bold;
            }
        }
        .form_bottom{
            flex-direction: row-reverse;
        }
    }
    .brand_area{
        padding-top: ($m10 * 5);
        padding-bottom: ($m10 * 5);
        form{
            width: $full;
            .form-check{
                margin-top: $m10;
                input[type="checkbox"]:not(old), 
                input[type="radio"]:not(old){
                    position: absolute;
                }
            }
            
        }
    }
}



