<section class="comparePage">
  <!--infl_search-->
  <h2 class="mb-4">Compare Influencers</h2>
  <section class="compare_items">
    <div class="item_row mx-3">
      <ul class="row_list">
        <li class="image"></li>
        <li class="name">Name</li>
        <li>Country</li>
        <li>Nationality</li>
        <li>Platform</li>
        <li>Likes Per Post</li>
        <li>Followers</li>
        <li>Saves Per Post</li>
        <li>Comments Per Post</li>
        <li>Impression Ratio</li>
        <li>Past Jobs Completed</li>
        <li>%Of Audience</li>
        <li>Audience Country Distribution </li> 
      </ul>
    </div>
    <div class="item_row mx-2 bg-white item-border" *ngFor="let item of totalCompareArr; let i=index">
      <ul class="row_list">
        <li class="image"><img src="assets/brand-owner/images/infl-search-pic1.jpg" /></li>
        <li class="name">
          <h6 class="mb-0">John Smith</h6>
        </li>
        <li>Netherland</li>
        <li>English</li>
        <li>
          <div class="text_midd_right">
            <a><i class="fa fa-facebook"></i></a>
            <a><i class="fa fa-twitter"></i></a>
            <a><i class="fa fa-play"></i></a>
          </div>
        </li>
        <li class="d-flex justify-content-around">
          <span class="text_blue">3k</span>
          <span class="text_orange">789</span>
          <span class="text_yellow">666</span>
          <span class="text_sky">133</span>
        </li>
        <li class="d-flex justify-content-around">
          <span class="text_blue">1k</span>
          <span class="text_orange">289</span>
          <span class="text_yellow">66</span>
          <span class="text_sky">33</span>
        </li>
        <li class="d-flex justify-content-around">
          <span class="text_blue">225</span>
          <span class="text_orange">789</span>
          <span class="text_yellow">452</span>
          <span class="text_sky">16</span>
        </li>
        <li class="d-flex justify-content-around">
          <span class="text_orange">166</span>
          <span class="text_yellow">66</span>
          <span class="text_sky">12</span>
        </li>
        <li class="d-flex justify-content-around">
          <span class="text_blue">1:1</span>
          <span class="text_orange">2:1</span>
          <span class="text_yellow">1:3</span>
          <span class="text_sky">2:3</span>
        </li>
        <li class="d-flex justify-content-around">
          <span class="text_blue">389</span>
          <span class="text_orange">167</span>
          <span class="text_yellow">452</span>
          <span class="text_sky">78</span>
        </li>
        <li>Male - 67%, Female 33%</li>
        <li>Male - 67%, Female 33%</li>
        <li class="bg_grey h-auto">
          <p class="d-flex justify-content-around">
            <span>Iraq</span>
            <span>1k</span>
          </p>
          <p class="d-flex justify-content-around">
            <span>UAE</span>
            <span>677</span>
          </p>
          <p class="d-flex justify-content-around">
            <span>Jordon</span>
            <span>122</span>
          </p>
          <p class="d-flex justify-content-around">
            <span>Qatar</span>
            <span>455</span>
          </p>
        </li>
        <li class="h-auto">
          <button class="btn addCampBtn my-4" (click)="addTocompare(i)" *ngIf="!item.campaign">Add to campaign</button>
          <button class="btn addCampBtn my-4 added" *ngIf="item.campaign"><i class="fa fa-check pr-2">
            </i>Added</button>
        </li>
      </ul>
    </div>
  </section>
  <div class="text-center mt-4">
    <button class="btn btn-download px-4"><i class="fa fa-file-pdf-o pr-2 text-danger"></i> Download as pdf</button>
  </div>
  <!-- no of campaign -->
  <section class="camCount">
    <div class="wrapBox" (click)="openCampaign()">
      <i class="fa fa-angle-up" *ngIf="!expandCampaign"></i>
      <i class="fa fa-angle-down" *ngIf="expandCampaign"></i>
      <p class="text-uppercase mb-0">campaign</p>
      <p class="mb-0"><span>{{totalCompare.length}}</span> added</p>
    </div>
    <div class="campaignBox" #expanFixd>
      <ul class="imgList">
        <ng-container *ngFor="let item of totalCompare">
          <li *ngIf="item.campaign"><img src="assets/brand-owner/images/infl-search-pic1.jpg" /></li>
        </ng-container>
      </ul>
      <div class="text-center">
        <button class="btn rounded mt-3 pl-4 pr-4" [routerLink]="['../../campaign-management', totalCompare.length]">START
          CAMPAIGN</button>
      </div>
    </div>
  </section>
  <!-- no of campaign end -->
</section>