<section class="testimonial_holder"><!--testimonial_holder-->
  <div class="title"><!--title-->
    <h2>Testimonials</h2>
  </div><!--title-->

  <div class="testi_holder"><!--testi_holder-->
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="testi_box">
            <span>Jan 8, 2019, 10:45PM</span>
            <p>
              Nunc facilisis elit fermentum, vestibulum ligula non, aliquam dolor. Aliquam a augue nec metus gravida mattis in a diam. Pellentesque et nibh tellus. 
            </p>
          </div>
          <div class="test_box_bottom">
            <div class="test_box_profile">
              <figure>
                <img src="assets/brand-owner/images/infl-search-pic1.jpg" alt="">
              </figure>
              <strong>M Kennedy</strong>
              <span>Chief Executive of Greenwood</span>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="testi_box">
            <span>Jan 8, 2019, 10:45PM</span>
            <p>
              Nunc facilisis elit fermentum, vestibulum ligula non, aliquam dolor. Aliquam a augue nec metus gravida mattis in a diam. Pellentesque et nibh tellus. 
            </p>
          </div>
          <div class="test_box_bottom">
            <div class="test_box_profile">
              <figure>
                <img src="assets/brand-owner/images/infl-search-pic1.jpg" alt="">
              </figure>
              <strong>M Kennedy</strong>
              <span>Chief Executive of Greenwood</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="testi_box">
            <span>Jan 8, 2019, 10:45PM</span>
            <p>
              Nunc facilisis elit fermentum, vestibulum ligula non, aliquam dolor. Aliquam a augue nec metus gravida mattis in a diam. Pellentesque et nibh tellus. 
            </p>
          </div>
          <div class="test_box_bottom">
            <div class="test_box_profile">
              <figure>
                <img src="assets/brand-owner/images/infl-search-pic1.jpg" alt="">
              </figure>
              <strong>M Kennedy</strong>
              <span>Chief Executive of Greenwood</span>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="testi_box">
            <span>Jan 8, 2019, 10:45PM</span>
            <p>
              Nunc facilisis elit fermentum, vestibulum ligula non, aliquam dolor. Aliquam a augue nec metus gravida mattis in a diam. Pellentesque et nibh tellus. 
            </p>
          </div>
          <div class="test_box_bottom">
            <div class="test_box_profile">
              <figure>
                <img src="assets/brand-owner/images/infl-search-pic1.jpg" alt="">
              </figure>
              <strong>M Kennedy</strong>
              <span>Chief Executive of Greenwood</span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li class="page-item">
                <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link">1</a></li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item">
                <a class="page-link" aria-label="Next">
                  <span aria-hidden="true">
                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  </span>
                  <span class="sr-only">Next</span>
                </a> 
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div><!--testi_holder-->
</section><!--testimonial_holder-->
