@import '../frontend';
@import '../header/header.component';

.banner_holder{
    iframe{
        width: 100%;
    }
}

.banner_bottom{
    text-align: left; 
}

.home_discover{
    .widget_box{
        iframe{
            width: 100%;
            vertical-align: top;
        }
    }
}








