<section class="blogDetail_holder"><!--blogDetail_holder-->
  <div class="blogDetail_top"><!--blogDetail_top-->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Latest Blog</h2>
          <figure>
            <img src="assets/front_end/images/blogdetail-banner.jpg" alt="">
          </figure>
        </div>
      </div>
    </div>
  </div><!--blogDetail_top-->
  <div class="blogDetail_bottom"><!--blogDetail_bottom-->
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="blogDetail_widget"><!--blogDetail_widget-->
            <div class="row">
              <div class="col-2 blogDetail_widget_left">
                <figure>
                  <img src="assets/front_end/images/blogdetails-pic1.jpg" alt="">
                </figure>
                <strong>Cristina Bell</strong>
                <span>Traveller</span>
              </div>
              <div class="col-10 blogDetail_widget_right">
                <h3>Lorem ipsum dolor sit amet,consectetur</h3>
                <span>30 April 2019, <i _ngcontent-c5="" aria-hidden="true" class="fa fa-clock-o"></i> 10:30PM</span>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium mattis leo vitae lobortis. Donec a lacinia 
                  mauris. Suspendisse maximus ex quam, id consectetur nisl vehicula ut. Donec ante felis, commodo non aliquam nec, 
                  pellentesque vitae magna. Quisque sodales, nunc eu efficitur accumsan.
                </p>
                <p>
                  Nunc facilisis elit fermentum, vestibulum ligula non, aliquam dolor. Aliquam a augue nec metus gravida mattis in a diam. 
                  Pellentesque et nibh tellus. Maecenas vel mollis mauris. Suspendisse potenti. Praesent nibh quam, venenatis vitae tincidunt
                   finibus, rhoncus eget tellus. Sed gravida condimentum sollicitudin.
                </p>
                <p>
                  Maecenas tempor quis libero fringilla varius. Mauris vel elementum mi. Vestibulum justo mi, sodales sit amet nisi ac, 
                  dapibus viverra mauris. Donec eu turpis quis lectus efficitur laoreet. Curabitur lacinia feugiat massa accumsan rutrum. 
                  Ut vel felis eu erat vulputate venenatis. In nisl ante, porta ut ante eu, volutpat auctor felis. Sed quis lorem urna. 
                  Vivamus et felis sit amet erat egestas accumsan interdum quis dui. In non nisi elementum, vulputate magna ac, tincidunt 
                  ipsum. Sed nec egestas risus. Cras porttitor ipsum at diam tincidunt, quis sollicitudin mauris faucibus. Orci varius 
                  natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam nulla ante, pulvinar non sem ac, feugiat
                   iaculis erat. Mauris sodales eros at ligula maximus eleifend.
                </p>
                <h4>Sed quis lorem</h4>
                <p>
                  Nunc facilisis elit fermentum, vestibulum ligula non, aliquam dolor. Aliquam a augue nec metus gravida mattis in a diam. 
                  Pellentesque et nibh tellus. Maecenas vel mollis mauris. <b><i>Suspendisse potenti. Praesent nibh quam, venenatis vitae 
                    tincidunt finibus, rhoncus eget tellus.</i></b>
                </p>
                <p>
                    Maecenas tempor quis libero fringilla varius. Mauris vel elementum mi.
                </p>
              </div>
            </div>
          </div><!--blogDetail_widget-->

          <div class="back_blog"><!--back_blog-->
            <a routerLink="/blog"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Back to Blog</a>
          </div><!--back_blog-->

          <div class="blogdetails_ebook"><!--blogdetails_ebook-->
            <figure>
              <img src="assets/front_end/images/blogdetails-pic2.jpg" alt="">
            </figure>
            <div class="blogdetails_ebook_text">
              <span>Want to know more about</span>
              <strong>Influencer?</strong>
              <a>Download eBook</a>
            </div>
          </div><!--blogdetails_ebook-->

          <div class="blogdetails_like"><!--blogdetails_like-->
            <h3>You may also like</h3>
            <ul>
              <li *ngFor="let like of blogDetailsLike">
                <figure>
                  <img src="{{like[0]}}" alt="">
                </figure>
                <div class="blogdetails_like_text">
                  <span>{{like[1]}} <i _ngcontent-c5="" aria-hidden="true" class="fa fa-clock-o"></i> {{like[2]}}</span>
                  <h3>{{like[3]}}</h3>
                  <p>{{like[4]}}</p>
                  <a><i _ngcontent-c5="" aria-hidden="true" class="fa fa-arrow-right"></i></a>
                </div>
              </li>
            </ul>
          </div><!--blogdetails_like-->
        </div>
      </div>
    </div>
  </div><!--blogDetail_bottom-->
</section><!--blogDetail_holder-->
