<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">Site Settings edit<small>This section allows you to edit site settings</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/sitesettings">Site Settings List</a></li>
          <li>Site Settings Edit</li>
        </ol>
      </section>
    </div>
  </div>
</div>

<div class="col-12 stretch-card">
  <div class="card">
    <div class="card-body">
      <form class="forms-sample" [formGroup]="sitesettingForm" #sitesettingFormData="ngForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="id" [(ngModel)]="id">
        <div class="form-group row">
          <label for="setting_name" class="col-sm-2 col-form-label">Setting Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="setting_name" [(ngModel)]="setting_name"
              placeholder="Enter Setting Name" formControlName="setting_name"
              [ngClass]="{ 'is-invalid': submitted && sitesettingForm.controls.setting_name.errors }">
            <div *ngIf="submitted && sitesettingForm.controls.setting_name.errors" class="invalid-feedback">
              <div *ngIf="f.setting_name.errors.required">Please Enter Setting Name </div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="setting_value" class="col-sm-2 col-form-label">Setting Value</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="setting_value" [(ngModel)]="setting_value"
              placeholder="Enter Setting Value" formControlName="setting_value"
              [ngClass]="{ 'is-invalid': submitted && f.setting_value.errors }">
            <div *ngIf="submitted && f.setting_value.errors" class="invalid-feedback">
              <div *ngIf="f.setting_value.errors.required">Please Enter Setting Value </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success mr-3">Submit</button>
        <button class="btn btn-light" type="button" (click)="cancelForm()">Cancel</button>
      </form>
    </div>
  </div>
</div>