  
<footer class="footer_holder">
  <div class="brands_holder"><!--brands_holder-->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="brands_area wow zoomIn shadow-1">
            <strong>Brands</strong>
            <ul>
              <li>
                <figure><img src="assets/front_end/images/brand-icon1.png" alt=""></figure>
              </li>
              <li>
                  <figure><img src="assets/front_end/images/brand-icon2.png" alt=""></figure>
              </li>
              <li>
                  <figure><img src="assets/front_end/images/brand-icon3.png" alt=""></figure>
              </li>
              <li>
                  <figure><img src="assets/front_end/images/brand-icon4.png" alt=""></figure>
              </li>
              <li>
                <figure><img src="assets/front_end/images/brand-icon6.png" alt=""></figure>
            </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--brands_holder-->

  <div class="container">
    <div class="row">
      <div class="col-md-7 footer_nav">
        <ul>
          <li><a >المؤثرين</a></li>
          <li><a >مدونة</a></li>
          <li><a >مصادر</a></li>
          <li><a >معلومات عنا</a></li>
          <li><a >اتصل بنا</a></li> 
          <li><a >سياسة خاصة</a></li>
          <li><a >خريطة الموقع</a></li>
        </ul>
        <span>© حقوق التأليف والنشر 2019 influnaire جميع الحقوق محفوظة</span>
      </div>
      <div class="col-md-2 footer_social">
        <strong>اتبعنا</strong>
        <ul>
          <li><a><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3 footer_sub">
        <p class="mb-0 text-white">أدخل بريدك الالكتروني</p>
        <div class="form">
          <input type="text" class="input_type" placeholder="اشترك في نشرتنا الإخبارية">
          <button type="submit">اذهب</button>
        </div>
      </div>
    </div>
  </div>
</footer>