<section class="invitation_holder">
  <!--invitation_holder-->
  <div class="title">
    <!--title-->
    <h2>Pending Invitations</h2>
    <select class="custom-select form-control">
      <option selected>Jan</option>
      <option>Feb</option>
      <option>Mar</option>
    </select>
  </div>
  <!--title-->

  <div class="table_row">
    <!--table_row-->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Brand Name</th>
            <th>Expiry Date</th>
            <th>Proposals Due date</th>
            <th>Company</th>
            <th>Invitation message</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of [1,2,3,4,5]">
            <td><a routerLink="../invitation-details"><strong>ABCRX</strong></a></td>
            <td>21 May 2019</td>
            <td>02 Mar 2019</td>
            <td><a>AJ infotech</a></td>
            <td>
              <p class="mb-0">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per....</p>
            </td>
            <td>
              <button class="btn btn-success" *ngIf="item != 2" data-toggle="modal" data-target="#acceptModal">
                <i class="fa fa-check" aria-hidden="true"></i> Accept</button>
              <button class="text-success btn-link btn" *ngIf="item == 2">Accepted</button>
              <button class="btn btn-warning" *ngIf="item == 2" data-toggle="modal" data-target="#submitModal">Submit a
                Proposal</button>
              <button class="btn btn-danger" *ngIf="item != 2">
                <i class="fa fa-times" aria-hidden="true"></i> Reject</button>
              <button class="btn btn-primary" *ngIf="item != 2">
                <i class="fa fa-envelope-o" aria-hidden="true"></i> Send a Message</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--table_row-->

  <div class="title">
    <!--title-->
    <h2>Accepted Invitations</h2>
  </div>

  <div class="table_row">
    <!--table_row-->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Brand Name</th>
            <th>Expiry Date</th>
            <th>Proposals Due date</th>
            <th>Company</th>
            <th align="left">Invitation message</th>
            <th align="right">Status</th>
          </tr>
        </thead>
  
        <tbody>
          <tr>
            <td><a routerLink="../invitation-details"><strong>ABCRX</strong></a></td>
            <td>21 May 2019</td>
            <td>02 Mar 2019</td>
            <td><a>AJ infotech</a></td>
            <td align="left">
              <p class="mb-0">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per....</p>
            </td>
            <td align="right">
              <button class="btn btn-warning">Submit a Proposal</button>
            </td>
          </tr>
          <tr>
            <td><a routerLink="../invitation-details"><strong>ABCRX</strong></a></td>
            <td>21 May 2019</td>
            <td>02 Mar 2019</td>
            <td><a>AJ infotech</a></td>
            <td align="left">
              <p class="mb-0">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per....</p>
            </td>
            <td align="right">
              <button class="btn btn-submitted"><img src="./../../../assets/influencers/images/submit-proposal.png"/>Proposal Submitted</button>
            </td>
          </tr>
          <tr>
            <td><a routerLink="../invitation-details"><strong>ABCRX</strong></a></td>
            <td>21 May 2019</td>
            <td>02 Mar 2019</td>
            <td><a>AJ infotech</a></td>
            <td align="left">
              <p class="mb-0">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per....</p>
            </td>
            <td align="right">
              <button class="btn btn-warning">Submit a Proposal</button>
            </td>
          </tr>
          <tr>
            <td><a routerLink="../invitation-details"><strong>ABCRX</strong></a></td>
            <td>21 May 2019</td>
            <td>02 Mar 2019</td>
            <td><a>AJ infotech</a></td>
            <td align="left">
              <p class="mb-0">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per....</p>
            </td>
            <td align="right">
              <button class="btn btn-warning">Submit a Proposal</button>
            </td>
          </tr>
          <tr>
            <td><a routerLink="../invitation-details"><strong>ABCRX</strong></a></td>
            <td>21 May 2019</td>
            <td>02 Mar 2019</td>
            <td><a>AJ infotech</a></td>
            <td align="left">
              <p class="mb-0">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per....</p>
            </td>
            <td align="right">
              <button class="btn btn-submitted"><img src="./../../../assets/influencers/images/submit-proposal.png" />Proposal
                Submitted</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--table_row-->

  <div class="title">
    <!--title-->
    <h2>Rejected Invitations</h2>
  </div>

  <div class="table_row">
    <!--table_row-->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Brand Name</th>
            <th>Expiry Date</th>
            <th align="left">Proposals Due date</th>
            <th>Company</th>
            <th>Invitation message</th>
          </tr>
        </thead>
  
        <tbody>
          <tr>
            <td><a routerLink="../invitation-details"><strong>ABCRX</strong></a></td>
            <td>21 May 2019</td>
            <td>02 Mar 2019</td>
            <td><a>AJ infotech</a></td>
            <td align="left">
              <p class="mb-0">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per....</p>
            </td>
          </tr>
          <tr>
            <td><a routerLink="../invitation-details"><strong>ABCRX</strong></a></td>
            <td>21 May 2019</td>
            <td>02 Mar 2019</td>
            <td><a>AJ infotech</a></td>
            <td align="left">
              <p class="mb-0">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per....</p>
            </td>
          </tr>
          <tr>
            <td><a routerLink="../invitation-details"><strong>ABCRX</strong></a></td>
            <td>21 May 2019</td>
            <td>02 Mar 2019</td>
            <td><a>AJ infotech</a></td>
            <td align="left">
              <p class="mb-0">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per....</p>
            </td>
          </tr>
          <tr>
            <td><a routerLink="../invitation-details"><strong>ABCRX</strong></a></td>
            <td>21 May 2019</td>
            <td>02 Mar 2019</td>
            <td><a>AJ infotech</a></td>
            <td align="left">
              <p class="mb-0">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per....</p>
            </td>
          </tr>
          <tr>
            <td><a routerLink="../invitation-details"><strong>ABCRX</strong></a></td>
            <td>21 May 2019</td>
            <td>02 Mar 2019</td>
            <td><a>AJ infotech</a></td>
            <td align="left">
              <p class="mb-0">Class aptent taciti sociosqu ad litora torquent per conubia nostra, per....</p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--table_row-->

  <!-- accept Modal -->
  <div class="modal fade faq_popup" id="acceptModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <a class="close" data-dismiss="modal" aria-label="Close">
          <i class="fa fa-times"></i>
        </a>
        <div class="modal-body p-5 text-center">
          <i class="fa fa-check text-white successIcon p-2"></i>
          <h4 class="mb-3 mt-1">Request Accepted</h4>
          <p class="text-capetalize">Please Note your proposal due date - <strong>20th may 2019</strong></p>
          <button class="text-uppercase btn btn-warning pl-5 pr-5">Submit a proposal</button>
        </div>
      </div>
    </div>
  </div>

  <!-- submit Modal -->
  <div class="modal fade faq_popup" id="submitModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body p-5">
          <h4 class="mb-3 mt-1">Submit Your Proposal</h4>
          <form>
            <div class="form-group">
              <label class="text-uppercase mb-0 font-weight-600">Subject</label>
              <input type="text" class="form-control pl-0" placeholder="Enter Your Subject">
            </div>
            <div class="form-group">
              <label class="text-uppercase mb-0 font-weight-600">Proposal Brief</label>
              <input type="text" class="form-control pl-0" placeholder="Details about your proposal">
            </div>
            <div class="form-group">
              <label class="text-uppercase mb-0 font-weight-600">Content/idea description</label>
              <input type="text" class="form-control pl-0" placeholder="Description">
            </div>
            <div class="row">
              <div class="col-6 form-group">
                <label class="text-uppercase mb-0 font-weight-600">Delivery Date</label>
                <div class="input-group">
                    <input type="datetime" class="form-control pl-0" (click)="d.toggle()" ngbDatepicker #d="ngbDatepicker" placeholder="yyyy-mm-dd"
                    name="cd" ngbDatepicker #d="ngbDatepicker">
                  <div class="input-group-append mb-2 flex-column-reverse" (click)="d.toggle()">
                      <i class="fa fa-calendar"></i>
                  </div>
                </div>              
              </div>
              <div class="col-6 form-group">
                <label class="text-uppercase mb-0 font-weight-600">Price</label>
                <input type="text" class="form-control pl-0" placeholder="Amount">
              </div>
              <div class="col-6 form-group">
                  <label class="text-uppercase mb-0 font-weight-600">Platforms to use</label>
                  <div ngbDropdown autoClose="outside" class="platFormList" (openChange)='onOpenChange($event)'>
                      <button class="btn btn-link pl-0" type="button" ngbDropdownToggle>
                        <span *ngFor="let key of objectKeys(social)">
                            {{(
                              key === 'fbChecked' && social[key] ? 'Facebook' : 
                              key === 'twChecked' && social[key] ? 'Twitter' : 
                              key === 'uChecked' && social[key] ? 'Youtube' :  
                              key === 'inChecked' && social[key] ? 'Instagram' : ''
                              )}}              
                        </span>
                        <span *ngIf="
                        !social.fbChecked &&
                        !social.twChecked &&
                        !social.uChecked &&
                        !social.inChecked
                        ">Select</span>
          
                      </button>
                      <div ngbDropdownMenu class="w-100">
                        <ul class="socialList p-4 text-gray">
                          <li class="d-flex justify-content-between text_blue">
                            <div>
                              <i class="fa fa-facebook" aria-hidden="true"></i>
                              <span>Facebook</span>
                            </div>
                            <div class="checkBox">
                              <input type="checkbox" [(ngModel)]="social.fbChecked" name="nameOfChoice" value="1" checked>
                              <label for="checkbox1"><span></span></label>
                            </div>
                          </li>
                          <li class="d-flex justify-content-between">
                            <div>
                              <i class="fa fa-twitter" aria-hidden="true"></i>
                              <span>Twitter</span>
                            </div>
          
                            <div class="checkBox">
                              <input type="checkbox" [(ngModel)]="social.twChecked" name="nameOfChoice" value="1">
                              <label for="checkbox1"><span></span></label>
                            </div>
                          </li>
          
                          <li class="d-flex justify-content-between">
                            <div>
                              <i class="fa fa-youtube" aria-hidden="true"></i>
                              <span>Youtube</span>
                            </div>
          
                            <div class="checkBox">
                              <input type="checkbox" [(ngModel)]="social.uChecked" name="nameOfChoice" value="1">
                              <label for="checkbox1"><span></span></label>
                            </div>
                          </li>
          
                          <li class="d-flex justify-content-between">
                            <div>
                              <i class="fa fa-instagram" aria-hidden="true"></i>
                              <span>Instagram</span>
                            </div>
          
                            <div class="checkBox">
                              <input type="checkbox" [(ngModel)]="social.inChecked" name="nameOfChoice" value="1">
                              <label for="checkbox1"><span></span></label>
                            </div>
                          </li>
                        </ul>
                      </div>        
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="text-uppercase mb-0 font-weight-600">Required resources from the brand</label>
                <input type="text" class="form-control pl-0" placeholder="Enter details of all the resources required ">
              </div>
            
          </form>
          <button class="text-uppercase btn btn-warning pl-5 pr-5">Submit</button>
        </div>
      </div>
    </div>
  </div>

</section>
<!--invitation_holder-->