
.about_holder{
    margin-top: ($m5 * 15);
    padding: ($m10 * 11) $zro;
    background: url("/assets/front_end/images/priceing-bg.jpg") #eee no-repeat center 0;
    background-size: 100%;
    
    .about_box{
        margin-bottom: ($m10 * 10);
        h2{
            color: #3c3c3c;
            font-size: ($m12 * 4);
            line-height: ($m5 * 8);
            font-weight: $smbld;
            text-align: $cntr;
            margin: $zro $zro ($m12 * 7);
            font-family: 'Open Sans', sans-serif; 
        }
        figure{
            img{
                width: $full;
            }
        }
        p{
            color: #757575;
            font-size: ($m5 * 3);
            line-height: ($m5 * 5);
            margin: $zro $zro ($m10 * 3);
            font-family: 'Open Sans', sans-serif;
        }
    }
    .about_box:nth-child(even){
        .about_box_left{
            order: 2;
        }
    }
}

