 
 .forget_holder{
    span.small_heading{
        display: $blk;
        color: $whte;
        font-size: ($m12 * 2);
        font-weight: $nrml;
        text-align: $cntr;
        margin: $zro $zro ($m5 * 12);
        font-family: 'Arsenal', sans-serif; 
    }
    .login_area{
        width: ($hlf + 10);
        padding-top: ($m12 * 5);
        padding-bottom: ($m12 * 5);
        form{
            width: $full;
            .form_bottom{
                justify-content: inherit;
                .cancel{
                    background: inherit;
                    color: #40a8f2;
                }
            }
        }
    }
 }

