

.banner_holder{
    position: relative;
    height: 981px;
    background-image: url('/assets/front_end/images/banner.jpg');
    background-size: cover;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.banner_holder img{
    width: 100%;
}

.banner_text{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin-top:60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner_text h2{
    margin: 0 0 12px;
    font-size: 80px;
    color: #fff;
    font-weight: 700;
    font-style: italic;
    line-height: 94px;
    text-align: center;
    font-family: 'Arsenal', sans-serif;
}
.banner_text span{
    display: block;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
    margin: 0 0 44px;
    font-family: 'Arsenal', sans-serif;
}
.banner_text a{
    display: inline-block;
    line-height: 80px;
    padding: 0 50px;
    color: #fff;
    font-size: 28px;
    background: #ed8c24;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 1px 2px 0px #000;
}

.banner_text2{
    max-width: 1295px;
    width: 100%;
    margin-bottom: 150px;
}

.banner_text2 b{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}

.banner_text2 b span{
    margin: 0;
    font-size: 21px;
}
.banner_text2 b h3{
    margin: 0;
    font-size: 55px;
    font-style: italic;
    font-weight: 600;
    color: #fff;
}
.banner_text2 strong{
    display: block;
    color: #fff;
    font-size: 29px;
    font-style: italic;
    font-weight: 600;
}















.banner_bottom{
    padding: 56px 0;
    border-bottom: 1px solid #d0d0d0;
}
.banner_bottom_box strong{
    display: block;
    font-size: 50px;
    color: #3187e7;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 8px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.banner_bottom_box span{
    display: block;
    font-size: 17px;
    color: #1e1e1e;
    font-style: italic;
    text-align: center;
    font-family: 'Arsenal', sans-serif;
}


.home_market_holder{
    padding: 74px 0 0;
    background: #eee;
}
.marketing_area{
    text-align: center;
    padding: 74px 0 68px;
    background: url('/assets/front_end/images/marketing-bg.png') no-repeat center 133px;
    
    background-size: cover;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.home_market_holder h2{
    margin: 0 0 25px;
    font-size: 48px;
    color: #3c3c3c;
    font-weight: 600;
    line-height: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
.marketing_area h3{
    margin: 0 0 70px;
    color: #757575;
    font-weight: 400;
    font-size: 25px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.marketing_area ul{
    display: inline-block;
    width: 100%;
}
.marketing_area ul li{
    position: relative;
    float: left;
    width: 33.333%;
}
.marketing_area ul li .round{
    width: 238px;
    height: 238px;
    margin: 0 auto;
    border-radius: 50%;
    padding-top: 62px;
    background: #3086e7;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.marketing_area ul li .round strong{
    display: block;
    color: #fff;
    font-size: 23px;
    font-style: italic;
    margin: 16px 0 0;
    font-weight: 700;
    font-family: 'Arsenal', sans-serif; 
}
.marketing_area ul li .round span{
    display: inline-block;
    border-radius: 20px;
    color: #3c3c3c;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 35px;
    background: #fff;
    box-shadow: 1px 1px 3px 0 #000;
    padding: 0 26px;
    position: absolute;
    top: 0;
    left: -10px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.marketing_area ul li:first-child{
    margin: 140px 0 0;
}
.marketing_area ul li:first-child .round{
    background: #e5860a;
}
.marketing_area ul li:last-child{
    margin: 140px 0 0;
}
.marketing_area ul li:nth-child(2) b:after{
    content: "";
    border-bottom: 2px dotted #666;
    position: absolute;
    width: 100%;
    border-radius: 50%;
    height: 117px;
    left: 206px;
    transform: rotate(200deg);
    top: 126px;
}
.marketing_area ul li:nth-child(2) b:before{
    content: "";
    border-bottom: 2px dotted #666;
    position: absolute;
    width: 100%;
    border-radius: 50%;
    height: 117px;
    right: 206px;
    transform: rotate(-200deg);
    top: 126px;
}
/* .home_market_holder .marketing_area ul li:first-child:after{
    content: "";
    position: absolute;
} */

.home_discover{
    padding-bottom: 77px;
    position: relative;
}
.home_discover:after{
    content: "";
    position: absolute;
    border-left: 2px dotted rgba(0,0,0,0.4);
    width: 0;
    height: 70px;
    left: 50%;
    bottom: 0px;
}
.home_discover:last-child:after{
    display: none;
}
.home_discover h2{
    margin: 0;
    padding: 0 0 75px;
    position: relative;
}
.home_discover h2:after{
    content: "";
    position: absolute;
    border-left: 2px dotted rgba(0,0,0,0.4);
    width: 0;
    height: 70px;
    left: 50%;
    top: 45px;
}

.home_discover .widget_box{
    background: #fff;
    box-shadow: 0 0 4px 0 #ccc;
}

.home_discover .widget_box .widget_box_img img{
    width: 100%;
}
.home_discover .widget_box_text{
    padding-top: 70px;
}
.home_discover .widget_box_text h3{
    margin: 0 0 16px;
    font-size: 23px;
    line-break: 20px;
    color: #33a0f3;
    font-weight: 700;
    font-style: italic;
    font-family: 'Arsenal', sans-serif;
}
.home_discover .widget_box_text strong{
    display: block;
    font-size: 17px;
    font-weight: 600;
    color: #3c3c3c;
    margin: 0 0 15px;
    font-family: 'Open Sans', sans-serif;
}
.home_discover .widget_box_text p{
    font-size: 16px;
    color: #757575;
    font-weight: 400;
    line-height: 27px;
    margin: 0 0 15px;
    font-family: 'Open Sans', sans-serif;
}


.home_discover:nth-child(even) .row{
    margin-left: 0; 
}
.home_discover:nth-child(odd) .row{
    margin-right: 0; 
}


.blue_brand{
    background: #2f78db url(/assets/front_end/images/blue-img.png) no-repeat center 0;
    padding: 65px 0;

    // background-size: cover;

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-animation: myfirst 5s linear 2s infinite alternate; /* Safari 4.0 - 8.0 */
  animation: myfirst 5s linear 2s infinite alternate;
}

/* Safari 4.0 - 8.0 */
// @-webkit-keyframes myfirst {
//     0%   {background-color:red; opacity: 0;}
//     25%  {background-color:yellow; opacity: 0.25;}
//     50%  {background-color:blue; opacity: 0.50;}
//     75%  {background-color:green; opacity: 0.75;}
//     100% {background-color:red; opacity: 1;}
//   }
  
  /* Standard syntax */
//   @keyframes myfirst {
//     0%   {background-color:red;  opacity: 0;}
//     25%  {background-color:yellow;  opacity: 0.25;}
//     50%  {background-color:blue;  opacity: 0.50;}
//     75%  {background-color:green;  opacity: 0.75;}
//     100% {background-color:red;  opacity: 1;}
//   }



.blue_brand .blue_brand_left h2{
    margin: 0 0 18px;
    font-size: 48px;
    line-height: 40px;
    color: #fff;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.blue_brand .blue_brand_left span{
    display: block;
    color: #fff;
    font-size: 30px;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Arsenal', sans-serif;
}
.blue_brand .blue_brand_right{
    text-align: right;
}
.blue_brand .blue_brand_right a{
    display: inline-block;
    color: #fff;
    line-height: 80px;
    padding: 0 64px;
    font-size: 28px;
    background: #ed8c24;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0px 1px 2px 0px #000;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}


.testi_holder{
    padding: 88px 0 152px;
    background: #f3f3f3;
}
.testi_holder h2{
    margin: 0 0 35px;
    font-size: 26px;
    color: #3c3c3c;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.testi_holder .testi_box{
    background: #fff;
    padding: 50px 44px;
    box-shadow: 0 0 5px 0 #c5bebe;
    border-radius: 3px;
    position: relative;
    width: 90%;
}
.testi_holder .testi_box:before,
.testi_holder .testi_box:after{
    top: 100%;
	left: 70px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.testi_holder .testi_box:after{
    border-color: rgba(136, 183, 213, 0);
	border-top-color: #fff;
	border-width: 30px;
	margin-left: -30px;
}
.testi_holder .testi_box:before{
    border-color: rgba(194, 225, 245, 0);
	border-top-color: #ccc;
	border-width: 31px;
	margin-left: -31px;
}


.testi_holder .testi_box span{
    display: block;
    font-size: 13px;
    color: #2f78db;
    font-weight: 700;
    margin: 0 0 8px;
    font-family: 'Open Sans', sans-serif;
}
.testi_holder .testi_box p{
    margin: 0;
    font-size: 18px;
    color: #545454;
    font-weight: 400;
    font-style: italic;
    line-height: 29px;
    font-family: 'Arsenal', sans-serif; 
}

.testi_holder .test_box_bottom{
    margin: 36px 0 0;
}
.testi_holder .test_box_bottom .test_box_profile{
    display: inline-block;
    width: 100%;
    margin: 0 0 13px;
}
.testi_holder .test_box_bottom .test_box_profile figure{
    float: left;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 12px;
}
.testi_holder .test_box_bottom .test_box_profile figure img{
    border-radius: 50%;
}
.testi_holder .test_box_bottom .test_box_profile strong{
    display: block;
    font-size: 17px;
    line-height: 15px;
    color: #1f1f1f;
    margin: 0 0 6px;
    font-weight: 700;
    font-family: 'Arsenal', sans-serif; 
}
.testi_holder .test_box_bottom .test_box_profile span{
    display: block;
    font-size: 15px;
    color: #797979;
    font-weight: 400;
    font-family: 'Arsenal', sans-serif; 
}
.testi_holder a.btn{
    color: #fff;
    line-height: 32px;
    border-radius: 30px;
    padding: 0 24px;
    line-height: 34px;
    font-size: 15px;
    background: #ed8c24;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Mukta', sans-serif;
}

.testi_right ul{
    margin-left: -2%;
    margin-right: -2%;
    padding-bottom: 30px;
    display: inline-block;
}
.testi_right ul li{
    float: left;
    width: 46%;
    margin: 0 2% 15px;
    border-bottom: 1px solid #ccc;
    padding: 0 0 15px;
}
.testi_right ul li span{
    display: block;
    font-size: 13px;
    color: #33a0f3;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}
.testi_right ul li strong{
    display: block;
    font-size: 17px;
    color: #3c3c3c;
    line-height: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.testi_right ul li a{
    font-size: 13px;
    color: #616161;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.brands_holder{
    position: absolute;
    top: -60px;
    width: 100%;
    left: 0;
}
.brands_holder .brands_area{
    background: #fff;
    display: flex;
    border-radius: 20px;
}
.brands_holder .brands_area strong{
    display: block;
    color: #fff;
    font-size: 22px;
    background: #2f78db;
    padding: 0 50px 0 70px;
    line-height: 120px;
    position: relative;
    border-radius: 18px 0 0 18px; 
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
.brands_holder .brands_area strong:before,
.brands_holder .brands_area strong:after{
    left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.brands_holder .brands_area strong:after{
    border-color: rgba(136, 183, 213, 0);
	border-left-color: #2f78db;
	border-width: 60px;
	margin-top: -60px;
}
/* .brands_holder .brands_area strong:before{
    border-color: rgba(194, 225, 245, 0);
	border-left-color: #c2e1f5;
	border-width: 36px;
	margin-top: -36px;
} */




.brands_holder .brands_area ul{
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0 70px;
}
.brands_holder .brands_area ul li{
    width: 20%;
}


