

/*-------------Responsive------------------*/

@media only screen and (max-width:1360px){
    .banner_text2{max-width: 1195px;}
    .banner_text{ margin-top: 0;}
    .banner_text2{ margin-bottom: 100px;}
    .banner_text span{ font-size: 24px;}
    .banner_text2 b h3{ font-size: 48px;}
    .banner_text2 strong{font-size: 25px;}
}

@media screen and (max-width:1199px){

    .header ul li:nth-child(4){
        margin-right: 60px;
    }

}

@media screen and (max-width:991px){

    .banner_text h2{ font-size: 50px; line-height: 60px; }
    .banner_text span{ font-size: 24px; margin: 0 0 24px;}
    .banner_text a{ font-size: 24px; }
    .banner_bottom_box strong{ font-size: 35px; }
    .marketing_area h3{ font-size: 22px;}
    .marketing_area ul li:nth-child(2):before{ right: 146px; top: 123px;}
    .marketing_area ul li:nth-child(2):after{ left: 145px; top: 123px; }
    .marketing_area ul li .round{ width: 220px; height: 220px;}
    .home_market_holder h2{ font-size: 35px;}
    .home_discover .widget_box_text{ padding-top: 30px;}

    .header ul{ float: none;}
    .navbar-collapse{ background: #666; padding: 10px;}


    
}

@media screen and (max-width:767px){

    .container{ max-width: 100%; }
    .banner_text h2{ font-size: 40px; line-height: 48px;}
    .banner_text span{ font-size: 22px; margin: 0 0 15px;}
    .banner_text a{ font-size: 22px; line-height: 60px; }

    .banner_bottom{ padding: 25px 0;}
    .banner_bottom_box strong{ font-size: 28px;}
    .banner_bottom_box{ margin: 0 0 12px; text-align: center;}
    .banner_bottom_box:nth-child(3),
    .banner_bottom_box:nth-child(4){ margin: 0; }
    .marketing_area{ padding: 30px 0; background: none;}
    .marketing_area h3{ font-size: 20px;}
    .marketing_area ul li{width: 100%; padding: 0; margin: 0; float: none;}
    .marketing_area ul li:first-child{ margin: 0 0 20px;}
    .marketing_area ul li:last-child{ margin-top: 20px;}
    .marketing_area ul li:nth-child(2):after{ display: none;}
    .marketing_area ul li:nth-child(2):before{ width: 83%; right: 61px; height: 2px; transform: rotate(-90deg);}
    .home_market_holder{ padding: 20px 0 0;}
    .home_discover h2{ padding: 0 0 40px; font-size: 32px;}
    .home_discover:nth-child(even) .row{ margin-left: -15px; }
    .home_discover:nth-child(odd) .row{ margin-right: -15px; }
    .home_discover .widget_box{ padding: 15px; position: relative;}
    .home_discover:nth-child(2){ display: flex; flex-direction: column;}
    .home_discover:nth-child(2) .widget_box_text{ order: 2;}
    .home_discover .widget_box_text p{ font-size: 14px; line-height: 23px;}
    .home_discover .widget_box_text h3{ font-size: 20px;}
    .home_discover .widget_box_text strong{ font-size: 16px;}

    .blue_brand{ background: #2f78db; text-align: center; padding: 40px 0;}
    .blue_brand .blue_brand_left span{ font-size: 22px;}
    .blue_brand .blue_brand_left h2{ font-size: 32px;}
    .blue_brand .blue_brand_right{ margin: 20px 0 0; text-align: center;}
    .blue_brand .blue_brand_right a{ line-height: 55px; font-size: 22px;}
    .testi_holder{ padding: 40px 0 105px;}
    .testi_holder h2{ margin: 0 0 16px; font-size: 22px;}
    .testi_holder .testi_left{ margin: 0 0 30px;}
    .testi_right ul{ padding-bottom: 8px;}
    .brands_holder .brands_area strong{ font-size: 18px; padding: 0 15px 0 20px; font-size: 18px; line-height: 98px;}
    .brands_holder .brands_area strong:after{ border-width: 49px; margin-top: -49px;}
    .brands_holder .brands_area ul{ padding: 0 10px 0 54px;}
    .testi_right ul li strong{ font-size: 15px; }
    .footer_holder{ padding: 70px 0 20px;}
    .footer_sub .form .input_type{ width: 100%;}
    .footer_holder .footer_social{ margin: 10px 0;}
    .testi_holder .testi_box p{ font-size: 16px; line-height: 26px;}
    .testi_holder .testi_box{ padding: 35px 40px;}
    .brands_holder{ top: -50px;}




}

@media screen and (max-width:575px){

    .banner_text h2{  font-size: 35px; line-height: 40px;}
    .banner_text span{ font-size: 19px; margin: 0 0 10px; text-align: center;}
    .banner_text a{ font-size: 18px; line-height: 50px;}
    .banner_bottom_box{ width: 50%;}
    .marketing_area h3{ font-size: 16px;}
    .marketing_area ul li:nth-child(2):before{ right: 46px;}
    .brands_holder .brands_area{ flex-direction: column;}
    .brands_holder .brands_area strong:before, 
    .brands_holder .brands_area strong:after{ display: none;}
    .brands_holder .brands_area strong{ line-height: 60px; border-radius: 10px 10px 0 0;}
    .brands_holder .brands_area ul{ padding: 20px 0;}
    .brands_holder .brands_area{ border-radius: 10px;}
    .brands_holder{ top: -74px;}



}

@media screen and (max-width:479px){

    .banner_text{ padding: 0 15px;}
    .banner_text h2{ font-size: 24px; line-height: 26px; margin: 0 0 5px;}
    .banner_text span{ font-size: 16px; line-height: 20px; margin: 0 0 5px;}
    .banner_text a{ font-size: 15px; line-height: 40px; padding: 0 30px;}
    .marketing_area ul li:nth-child(2):before{ right: 29px;}
    .blue_brand .blue_brand_left h2{ font-size: 28px; line-height: 22px;}
    .blue_brand .blue_brand_left span{ font-size: 16px;}
    .blue_brand .blue_brand_right{ margin-top: 10px;}
    .blue_brand .blue_brand_right a{ font-size: 18px;}
    .testi_holder .testi_box{ width: 100%;}
    .testi_right ul li{ float: none; width: 100%; margin: 0 0 10px;}
    .testi_right ul li:nth-child(3),
    .testi_right ul li:nth-child(4){ margin: 0;}
    .testi_right ul{ margin: 0; display: block;}
    .brands_holder .brands_area ul{ flex-wrap: wrap;}
    .brands_holder .brands_area ul li{ width: 50%; margin: 0 0 8px;}
    .brands_holder .brands_area strong{ line-height: 40px;}
    .brands_holder{ top: -90px;}
    .header{ padding: 0;}
    .navbar{ padding-top: 0;}
    .banner_text{ margin-top: 20px;}
    .footer_nav ul{ flex-direction: column; }

}


