


$blck: #000;
$whte: #fff;
$blue: #40a8f2;

$zro: 0;
$m5: 5px;
$m10: 10px;
$m12: 12px;

$full: 100%;
$hlf: 50%;

$blk: block;
$flx: flex;
$nne: none;
$inblk: inline-block;

$smbld: 600;
$bld: 700;
$nrml: 400;

$cntr: center;
$lft: left;
$rht: right;
$ato: auto;

$rltv: relative;
$absl: absolute;



/* font-family: 'Arsenal', sans-serif; 
    font-family: 'Mukta', sans-serif;
    font-family: 'Open Sans', sans-serif;
*/
