<section class="campaign_details">
  <div class="title">
    <h2>ABCRX</h2>
    <p>Total No of Influencers : <span>30</span></p>
  </div>

  <div class="campaign_details_body">
    <ul class="mainList">
      <!-- Total Amount Invested -->
      <li>
        <div class="header mb-4">
          <div class="header-title">
            <h3>Total Amount Invested</h3>
          </div>
          <div class="header-select">
            <select>
              <option>Apr 2019</option>
              <option>May 2019</option>
              <option>Jun 2019</option>
            </select>
          </div>
        </div>
        <div class="chartBodySec">
          <div class="chartSec">
            <canvas #doughnutCanvasA baseChart height="280" [data]="doughnutChartData" [colors]="doughnutDataColors"
              [labels]="doughnutChartLabels" [chartType]="doughnutChartType" [options]="doughnutChartOptions"
              [plugins]="doughnutChartPlugins" [legend]="doughnutChartLegend">
            </canvas>


          </div>
          <div class="chartDescTxt ml-3">
            <p>% Of Amount Invested - <span class="textBlue">20</span></p>
            <p>% Pending - <span class="textOrange">80</span></p>
          </div>
        </div>

        <div class="scrollArea mt-4">
          <h4>Invested on</h4>
          <ul>
            <li *ngFor="let item of investerList">
              <div class="leftTxt">
                <figure><img src="./../../../assets/brand-owner/images/{{item.img}}" /></figure>
                <div class="name">{{item.name}}</div>
                <div class="date">{{item.date}}</div>
              </div>
              <div class="amount">${{item.amount}}</div>
            </li>
          </ul>
        </div>
      </li>

      <!-- Followers Reached -->
      <li>
        <div class="header">
          <div class="header-title">
            <h3>Followers Reached</h3>
            <p class="font-weight-500">Total Reach : <span class="text-teal">853</span></p>
          </div>
          <div class="header-select">
            <select>
              <option>Apr 2019</option>
              <option>May 2019</option>
              <option>Jun 2019</option>
            </select>
          </div>
        </div>

        <div class="chartBodySec">
          <canvas baseChart width="400" height="200" [datasets]="lineChartData" [labels]="lineChartLabels"
            [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
            [chartType]="lineChartType" [plugins]="lineChartPlugins">
          </canvas>
        </div>

        <div class="scrollArea followBg mt-4">
          <h4>List of the follows</h4>
          <ul>
            <li *ngFor="let item of followerList">
              <div class="leftTxt">
                <figure><img src="./../../../assets/brand-owner/images/{{item.img}}" /></figure>
                <div class="name">{{item.name}}</div>
                <div class="date">{{item.date}}</div>
              </div>
              <div class="amount">{{item.amount}} Follows</div>
            </li>
          </ul>
        </div>
      </li>

      <!-- No Of Likes & Comments -->
      <li>
        <div class="header">
          <div class="header-title">
            <h3>Likes & Comments/Platform</h3>
            <p class="font-weight-500 d-flex align-items-center">
              <span>Total : 850 </span><img class="ml-1 mr-3" src="../assets/brand-owner/images/campaign-like.png" />
              <span>1945</span><img class="ml-1" src="../assets/brand-owner/images/campaign-comment.png" />
            </p>
          </div>
          <div class="header-select">
            <select>
              <option>Apr 2019</option>
              <option>May 2019</option>
              <option>Jun 2019</option>
            </select>
          </div>
        </div>

        <div class="chartBodySec">
          <canvas baseChart height="180" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [colors]="barDataColors" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
          </canvas>
        </div>

        <div class="scrollArea likeCommentSec mt-4">
          <h4>List of the likes & Comments</h4>
          <ul>
            <li *ngFor="let item of likeList" class="d-flex align-items-center">
              <div class="leftTxt">
                <figure><img src="./../../../assets/brand-owner/images/{{item.img}}" /></figure>
                <div class="name">{{item.name}}</div>
                <div class="date">{{item.date}}</div>
              </div>
              <div class="socialPlatform">
                <ng-template #tipContent class="bg-white">
                  <p class="font-weight-500 d-flex align-items-center mb-0">
                    <span>50 </span><img class="ml-1 mr-3" src="../assets/brand-owner/images/campaign-like.png" />
                    <span>45</span><img class="ml-1" src="../assets/brand-owner/images/campaign-comment.png" />
                  </p>
                </ng-template>
                <a href="javascript:void(0)" class="mr-2" [ngbTooltip]="tipContent">
                  <img src="../assets/brand-owner/images/campaign-fb.png" />
                </a>


                <ng-template #tipContent1 class="bg-white">
                  <p class="font-weight-500 d-flex align-items-center mb-0">
                    <span>80 </span><img class="ml-1 mr-3" src="../assets/brand-owner/images/campaign-like.png" />
                    <span>100</span><img class="ml-1" src="../assets/brand-owner/images/campaign-comment.png" />
                  </p>
                </ng-template>
                <a href="javascript:void(0)" [ngbTooltip]="tipContent1" class="mr-2"><img
                    src="../assets/brand-owner/images/campaign-twitter.png" /></a>


                <ng-template #tipContent2 class="bg-white">
                  <p class="font-weight-500 d-flex align-items-center mb-0">
                    <span>30 </span><img class="ml-1 mr-3" src="../assets/brand-owner/images/campaign-like.png" />
                    <span>20</span><img class="ml-1" src="../assets/brand-owner/images/campaign-comment.png" />
                  </p>
                </ng-template>
                <a href="javascript:void(0)" class="mr-2" [ngbTooltip]="tipContent2"><img
                    src="../assets/brand-owner/images/campaign-utube.png" /></a>
              </div>
            </li>
          </ul>
        </div>
      </li>

      <!-- Platform Comparison -->
      <li>
        <div class="header mb-4">
          <div class="header-title">
            <h3>Platform Comparison</h3>
          </div>
          <div class="header-select">
            <select>
              <option>Apr 2019</option>
              <option>May 2019</option>
              <option>Jun 2019</option>
            </select>
          </div>
        </div>

        <div class="chartBodySec">
          <canvas baseChart height="180" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [colors]="barDataColors" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
          </canvas>
        </div>

        <div class="scrollArea soacialSec mt-4">
          <h4>Targeted Platform</h4>
          <ul>
            <li *ngFor="let item of soacialList" class="d-flex align-items-center">
              <div class="leftTxt">
                <figure><img src="./../../../assets/brand-owner/images/{{item.img}}" /></figure>
                <div class="name">{{item.name}}</div>
              </div>
              <div class="socialPlatform">
                <a href="javascript:void(0)" class="mr-2">
                  <img src="./../../../assets/brand-owner/images/{{item.social}}" />
                </a>
              </div>
            </li>
          </ul>
        </div>
      </li>

      <!-- ROI -->
      <li>
        <div class="header mb-4">
          <div class="header-title">
            <h3>Total media value</h3>
          </div>
          <div class="header-select">
            <select>
              <option>Apr 2019</option>
              <option>May 2019</option>
              <option>Jun 2019</option>
            </select>
          </div>
        </div>

        <div class="chartBodySec">
          <div class="chartSec">
            <canvas #doughnutCanvas1 baseChart height="120" width="120" [data]="doughnutChartData1"
              [colors]="doughnutDataColors" [labels]="doughnutChartLabels1" [chartType]="doughnutChartType"
              [options]="doughnutChartOptions1" [plugins]="doughnutChartPlugins" [legend]="doughnutChartLegend">
            </canvas>
          </div>
          <div class="chartDescTxt ml-3">
            <p>Amount Invested - <span class="textBlue">80K</span></p>
            <p>Media Value - <span class="textOrange">60K</span></p>
          </div>
        </div>

        <div class="scrollArea roiSec mt-4">
          <h4>Individual Media Value</h4>
          <ul>
            <li *ngFor="let item of investerList">
              <div class="leftTxt">
                <figure><img src="./../../../assets/brand-owner/images/{{item.img}}" /></figure>
                <div class="name">{{item.name}}</div>
                <div class="date">{{item.date}}</div>
              </div>
              <div class="amount">${{item.amount}}</div>
            </li>
          </ul>
        </div>
      </li>

      <!-- Total media value -->
      <li>
        <div class="header mb-4">
          <div class="header-title">
            <h3>Engagement Rate</h3>
          </div>
          <div class="header-select">
            <select>
              <option>Apr 2019</option>
              <option>May 2019</option>
              <option>Jun 2019</option>
            </select>
          </div>
        </div>

        <div class="chartBodySec">
          <canvas baseChart height="180" [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [colors]="barDataColors" [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
          </canvas>
        </div>

        <div class="scrollArea roiSec mt-4">
          <h4>List of the likes & Comments</h4>
          <ul>
            <li *ngFor="let item of investerList">
              <div class="leftTxt">
                <figure><img src="./../../../assets/brand-owner/images/{{item.img}}" /></figure>
                <div class="name">{{item.name}}</div>
                <div class="date">{{item.date}}</div>
              </div>
              <div class="amount">${{item.amount}}</div>
            </li>
          </ul>
        </div>
      </li>

      <!-- reach gender -->
      <!-- Total media value -->
      <li>
        <div class="header mb-4">
          <div class="header-title">
            <h3>Reach Per Gender</h3>
          </div>
          <div class="header-select">
            <select>
              <option>Apr 2019</option>
              <option>May 2019</option>
              <option>Jun 2019</option>
            </select>
          </div>
        </div>

        <div class="chartBodySec">
            <canvas #doughnutCanvas3 baseChart height="30" width="100" [data]="doughnutChartData3"
            [colors]="doughnutDataColors3" [labels]="doughnutChartLabels3" [chartType]="doughnutChartType3"
            [options]="doughnutChartOptions3" [plugins]="doughnutChartPlugins3"
            [legend]="doughnutChartLegend3">
        </canvas>
        </div> 

        <div class="scrollArea roiSec mt-4">
          <h4>Reach Per Gender Per Influencer</h4>
          <ul>
            <li *ngFor="let item of investerList" class="d-flex align-items-center">
              <div class="leftTxt">
                <figure><img src="./../../../assets/brand-owner/images/{{item.img}}" /></figure>
                <div class="name">{{item.name}}</div>
                <div class="date">{{item.date}}</div>
              </div>
              <div class="amount">
                <a href="javascript:void(0)" class="text-primary mr-2 h5"><i class="fa fa-male"></i></a>
                <a href="javascript:void(0)" class="text-warning h5"><i class="fa fa-female"></i></a>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>