<section class="campaign_holder">
  <!--campaign_holder-->
  <div class="title">
    <!--title-->
    <h2>Campaign Analytics</h2>
    <div class="d-flex align-items-center">
      <a>1-10 of 210</a>
      <i class="fa fa-ellipsis-v mx-4"></i>
      <button class="btn addCampBtn" [routerLink]="['../campaign-management', 0]">CREATE NEW CAMPAIGN</button>
    </div>
  </div>
  <!--title-->

  <div class="table_row">
    <div class="table-responsive">
      <!--table-responsive-->
      <table class="table">
        <thead>
          <tr>
            <th>Campaign name</th>
            <th>Influencers</th>
            <th>Platform</th>
            <th>Publish Date</th>
            <th>Reach/ impressions</th>
            <th>Budget</th>
            <th>Likes/Comments</th>
            <th>Engagement rate</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let item of [0,1,2,3,4,5]; let i=index" routerLink="../campaign-details">
            <td><strong>ABCRX</strong></td>
            <td>
              <a>
                <figure><img src="assets/front_end/images/testimonial_img.jpg" alt=""><span>A Das</span></figure>
              </a>
              <a>
                <figure><img src="assets/front_end/images/testimonial_img.jpg" alt=""><span>P.k Das</span></figure>
              </a>
            </td>
            <td>
              <a class="social-icon"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a class="social-icon"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </td>
            <td>{{i+1}} Mar 2019</td>
            <td>{{(i+1)*2}}</td>
            <td>${{(i+1)*50}}</td>
            <td>
              <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 12k
              <i class="fa fa-comment-o" aria-hidden="true"></i> 3k
            </td>
            <td>10%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--table-responsive-->
  </div>
  <!--campaign_bottom-->
</section>
<!--campaign_holder-->