@import '../../admin';

.img_social_net{
    .card-title{
        font-size: 1.5rem;
    }
    .ticket-details{
        h3{
            font-size: 1.2rem;
            margin: 0 0 12px;
        }
        .d-flex{
            span{
                display: block;
                margin: 10px 0;
                color: #0056b3;
            }
        }
    }
}

