<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">Influencer Respons Details<small>This section allows show Influencer Respons Details</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/brand-owner"> Brand Owner List</a></li>
          <li><a routerLink="/invitation/29"> Sent Invitation</a></li>
          <li class="active">Respons Details</li>
        </ol>
      </section>
    </div>


    <div class="row">
      <div class="col-12 grid-margin">


        <div class="card img_social_net">

          <div class="card-body">

            <h2 class="card-title mb-4">Image Creation For Social Network</h2>

            <div class="fluid-container">
              <div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
                <div class="col-md-1">
                  <img class="img-sm rounded-circle mb-4 mb-md-0" src="assets/images/faces/face1.jpg"
                    alt="profile image">
                </div>

                <div class="ticket-details col-md-9">

                  <div class="d-flex">
                    <h3 class="text-dark font-weight-semibold mr-2 mb-0 no-wrap">Jhon collin</h3>
                  </div>

                  <div class="d-flex">
                    <span style="font-size: 0ch;font: 1em sans-serif;"> 20th March 2019, 10:30 PM </span>
                  </div>

                  <p class="text-gray mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                    Ipsum. </p>
                </div>
              </div>

              <div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
                <div class="col-md-1">
                  <img class="img-sm rounded-circle mb-4 mb-md-0" src="assets/images/faces/face2.jpg"
                    alt="profile image">
                </div>
                <div class="ticket-details col-md-9">
                  <div class="d-flex">
                    <h3 class="text-dark font-weight-semibold mr-2 mb-0 no-wrap">Sukata Dutta</h3>
                  </div>

                  <div class="d-flex">
                    <span style="font-size: 0ch;font: 1em sans-serif;"> 20th March 2019, 10:30 PM </span>
                  </div>

                  <p class="text-gray mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. </p>
                </div>
              </div>

              <div class="row ticket-card mt-3 pb-2 border-bottom pb-3 mb-3">
                <div class="col-md-1">
                  <img class="img-sm rounded-circle mb-4 mb-md-0" src="assets/images/faces/face3.jpg"
                    alt="profile image">
                </div>
                <div class="ticket-details col-md-9">
                  <div class="d-flex">
                    <h3 class="text-dark font-weight-semibold mr-2 mb-0 no-wrap">Rahul Dev</h3>
                  </div>

                  <div class="d-flex">
                    <span style="font-size: 0ch;font: 1em sans-serif;"> 20th March 2019, 10:30 PM </span>
                  </div>

                  <p class="text-gray  mb-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a galley of type and scrambled it to make a type specimen book. It has survived not
                    only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem
                    Ipsum.</p>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>