@import '../../../admin';
.influencer_list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.assign_influencer{
    display: block;
    color: #9d9d9d;
    font-weight: 500;
    padding-bottom: 25px;
}


