<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">Campaign Details<small>This section allows show Campaign Details</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/brand-owner"> Brand Owner List</a></li>
          <li class="active">Campaign Details</li>
        </ol>          
      </section>

<div class="card-body">

  
        <div class="assign_influencer">Assign Influencer</div>
          <ul class="influencer_list">
          <li><img _ngcontent-c5="" _ngcontent-c6="" alt="profile image" class="img  mb-4 mb-md-0" src="assets/images/faces/face1.jpg">
            <br><span>Astone Ager</span></li>
          <li><img _ngcontent-c5="" _ngcontent-c6="" alt="profile image" class="img  mb-4 mb-md-0" src="assets/images/faces/face2.jpg">
            <br><span>Roger Bristrow</span></li>
          <li><img _ngcontent-c5="" _ngcontent-c6="" alt="profile image" class="img  mb-4 mb-md-0" src="assets/images/faces/face2.jpg">
            <br><span>Agelina Docover</span></li>
          <li><img _ngcontent-c5="" _ngcontent-c6="" alt="profile image" class="img  mb-4 mb-md-0" src="assets/images/faces/face4.jpg">        
            <br><span>Ric Atoniya</span></li>
            <li><img _ngcontent-c5="" _ngcontent-c6="" alt="profile image" class="img  mb-4 mb-md-0" src="assets/images/faces/face4.jpg">        
              <br><span>Bin Atoniya</span></li>  
        </ul>

  </div>


  <div class="details_table">
            <ul>
             <li>
                <strong>Campaign Name</strong>
                <span>Advertisement</span>
              </li>

              <li>
                <strong>Campaign Post Date</strong>
                <span>21th March 2019</span>
              </li>

              <li>
                <strong>Campaign Start Date</strong>
                <span>22th March 2019, 10:30 PM</span>
              </li>

              <li>
                <strong>Invitation Accept Expiry  Date</strong>
                <span>11th june 2019, 10:30 PM</span>
              </li>
          
          
            
              <li>
                <strong>Platform Targeted At</strong>
                <span>
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </span>
              </li>

              <!-- <li>
                <strong>ROI Of The Campaign</strong>
                <span>75%</span>
              </li>
              <li>
                <strong>Number Of Tags</strong>
                <span>345</span>
              </li>
              <li>
                <strong>Number Of Followers</strong>
                <span>1.5k</span>
              </li>
              <li>
                <strong>Number Of Like & Comments On</strong>
                <span>1k</span>
              </li>
              <li>
                <strong>Popular Region</strong>
                <span>Germany</span>
              </li>
              <li>
                <strong>Potential Impressions</strong>
                <span>89%</span>
              </li> -->

              <li class="full_width">
                <strong>Campaign Details</strong>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.  

                </span>
              </li>

              <li>
                <strong>Campaign Deliverables</strong>
                <span>27th March 2020</span>
              </li>

              <li>
                <strong>Acepted Budget Of this campaign</strong>
                <span>$320k</span>
              </li>

              <li>
                <strong>Status</strong>
                <span>Unapproved</span>
              </li>

            </ul>

           
          </div>
             
       
  
        <a routerLink="/campaign-list" class="btn btn-primary">Back</a>

      </div>
    </div>
  </div>