<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <section class="content-header">
        <h1 class="adddrop">Invitation Details<small>This section allows show job invitation details</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/influencer"> Influencer</a></li>
          <li><a routerLink="/received-invitation/1">Received Invitation</a></li>
          <li class="active">Invitation Details</li>
        </ol>
      </section>
    </div>
    <div class="card-body">
        <div class="details_table">
            <ul>
              <li>
                <strong>Job Title</strong>
                <span>Advertisement</span>
              </li>
              <li>
                <strong>Brand Owner Name</strong>
                <span>Jhon Millar</span>
              </li>
              <li>
                <strong>Company Name</strong>
                <span>Samsung</span>
              </li>
              <li>
                <strong>Job ID</strong>
                <span>NHG56570</span>
              </li>
              <li>
                <strong>Service Required</strong>
                <span>Testing</span>
              </li>
              <li>
                <strong>Product Type</strong>
                <span>Manufacture</span>
              </li>
              <li>
                <strong>Start Date</strong>
                <span>25th March 2019</span>
              </li>
              <li>
                <strong>Completion Date</strong>
                <span>25th March 2019</span>
              </li>
              <li>
                <strong>Job Status</strong>
                <span>Pending</span>
              </li>
              <li class="full_width">
                <strong>Job Details</strong>
                <span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</span>
              </li>
              <li class="full_width">
                <strong>Brand Owner Response</strong>
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</span>
              </li>
            </ul>
          </div>
        <a routerLink="/received-invitation/1" class="btn btn-primary">Back</a>

      </div>
    </div>
  </div>