<div class="col-12 stretch-card">
    <div class="card">
        <div class="card-body">
				<section class="content-header">
						<h1 class="adddrop">Change Password <small>This section allows you to Change Password</small></h1>
						<ol class="breadcrumb">
						  <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>               
						  <li class="active">Change Password</li>
						</ol>
					  </section>
            <p class="card-description">
            </p>
            <div class="alert alert-danger" *ngIf="serverResponceCode==2">
	          {{serverMessage}}
	        </div>
	        <div class="alert alert-success" *ngIf="serverResponceCode==1">
	          {{serverMessage}}
	        </div>
            <form class="forms-sample" [formGroup]="changePasswordForm" #changePasswordFormData="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
                <label for="old_password" class="col-sm-2 col-form-label">Current Password</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="old_password" placeholder="Enter your current password" formControlName="old_password" [ngClass]="{ 'is-invalid': submitted && f.old_password.errors }">
                    <div *ngIf="submitted && f.old_password.errors" class="invalid-feedback">
                        <div *ngIf="f.old_password.errors.required">Please enter your current password </div>
                    </div>
                </div>
            </div>
            
	            <div class="form-group row">
	                <label for="new_password" class="col-sm-2 col-form-label">New Password</label>
	                <div class="col-sm-9">
	                    <input type="password" class="form-control" id="new_password" placeholder="Enter your new password"  formControlName="new_password" advs-compare="confirm_password" parent='true' [ngClass]="{ 'is-invalid': submitted && f.new_password.errors }">
	                    <div *ngIf="submitted && f.new_password.errors" class="invalid-feedback">
	                        <div *ngIf="f.new_password.errors.required">Please enter your new password </div>
	                    </div>
	                </div>
	            </div>  
	            <div class="form-group row">
	                <label for="confirm_password" class="col-sm-2 col-form-label">Confirm Password</label>
	                <div class="col-sm-9">
	                    <input type="password" class="form-control" id="confirm_password" placeholder="Enter confirm password"  formControlName="confirm_password" advs-compare="new_password" parent='false' [ngClass]="{ 'is-invalid': submitted && f.confirm_password.errors }">
	                    <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
	                        <div *ngIf="f.confirm_password.errors.required">Please enter confirm password </div>
	                        <div *ngIf="f.confirm_password.errors.compare">Confirm password field doesn't match</div>
	                    </div>
	                                        
	                </div>
	            </div>
        	
            <button type="submit" class="btn btn-success mr-3">Submit</button>
            <button class="btn btn-light" type="button" (click) = "cancelForm()">Cancel</button>
            </form>
        </div>
    </div>
</div>