<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">

      <section class="content-header">
        <h1 class="adddrop">View All Jobs<small>This section allows show you View All Jobs</small></h1>
        <ol class="breadcrumb">
          <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
          <li><a routerLink="/brand-owner"> Brand Owner List</a></li>       
          <li class="active">View All Jobs</li>
        </ol>
      </section>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-striped" class="table table-striped table-bordered row-bordered" style="width:100%"
          datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" dt-column-defs="dtColumnDefs">
          <thead>
            <tr>
              <th>Title</th>
              <th>Service Require</th>
              <th>Platform</th>
              <th>Job Post Date</th>
              <th>Job Post Expire Date</th>
              <th>Status</th>
              
            </tr>
          </thead>

          <tfoot style="display: table-header-group;">
            <tr>
              <th><input class="form-control" type="text" placeholder="Search Title" /></th>
              <th><input class="form-control" type="text" placeholder="Service Require" /></th>
              <th><input class="form-control" type="text" placeholder="Search Platform" /></th>
              <th><input class="form-control" type="text" placeholder="Search Post Date" /></th>
              <th><input class="form-control" type="text" placeholder="Search Expire Date" /></th>
              <th></th>
             

            </tr>
          </tfoot>

          <tbody>
            <tr *ngFor="let brandOwnerList of brandOwnerData; let i= index;">


              <td> {{ brandOwnerList.comapany_name}}</td>
              <td>{{ brandOwnerList.industry}}</td>
              <td>{{ brandOwnerList.country}}</td>
              <td> {{ brandOwnerList.company_ph_no}} </td>
              <td> {{ brandOwnerList.email}}</td>
              <td> <span class="btn btn-{{ (brandOwnerList.status == 'Ongoing')?'warning':'success' }} btn-xs">{{ brandOwnerList.status}}</span> </td>

            </tr>

          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>